<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Business Use-Case Specification</rpw>
-- RPW META DATA END -->

<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Business Use-Case Specification: &lt;Business Use-Case Name&gt;</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>

<body lang="EN-US" link="blue" vlink="purple">
<div class="Section1">
<p class="MsoTitle" align="right" style="text-align:right">&lt;Project Name&gt;</p>
<p class="MsoTitle" align="right" style="text-align:right">Business Use-Case
Specification: &lt;Business Use-Case Name&gt;</p>
<p class="MsoTitle" align="right" style="text-align:right">&nbsp;</p>
<p class="MsoTitle" align="right" style="text-align:right"><span style="font-size:
14.0pt;">Version &lt;1.0&gt;</span></p>
<p class="MsoBodyText">&nbsp;</p>
<p class="InfoBlue">[Note: The following template is provided for use with the
Rational Unified Process.&nbsp; Text enclosed in square brackets and displayed
in blue italics (style=InfoBlue) is included to provide guidance to the author
and should be deleted before publishing the document. A paragraph entered
following this style will automatically be set to normal (style=Body Text).]</p>
<p class="InfoBlue">&nbsp;</p>
</div>

<p><i><span style="font-size:10.0pt;font-family:
&quot;Times New Roman&quot;;color:blue;"><br clear="all" style="page-break-before:always;">
</span></i></p>
<div class="Section2">
<p class="MsoTitle">Revision History</p>

<table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;
 border:none;">
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Date</b></p>
    </td>
    <td width="77" valign="top" style="width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Version</b></p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Description</b></p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Author</b></p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;dd/mmm/yy&gt;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;x.x&gt;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;details&gt;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;name&gt;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
</table>
<p class="MsoBodyText">&nbsp;</p>
<b><span style="font-size:18.0pt;font-family:Arial;"><br clear="all" style="page-break-before:always">
</span></b>
<p class="MsoTitle">Table of Contents</p>
<p class="MsoToc1"><a href="#1.                  Introduction">1.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.1               Purpose">1.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.2               Scope">1.2<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.3               Definitions, Acronyms and Abbreviations">1.3<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms and Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.4               References">1.4<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.5               Overview">1.5<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#2.                  Business Use Case Name">2.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Business Use Case Name</a>&nbsp;</p>
<p class="MsoToc2"><a href="#2.1               Brief Description">2.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Brief Description</a></p>
<p class="MsoToc1"><a href="#3.                  Goals">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Goals</a>&nbsp;&nbsp;&nbsp; <span style="font-size:12.0pt">&nbsp;</span></p>
<p class="MsoToc1"><a href="#4.                  Performance Goals">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Performance Goals</a></p>
<p class="MsoToc2"><a href="#4.1               &lt;name of performance goal&gt;">4.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;name of performance goal&gt;&nbsp;</a></p>
<p class="MsoToc1"><a href="#5.                  Workflow">5.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Workflow</a></p>
<p class="MsoToc2"><a href="#5.1               Basic Workflow">5.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Basic Workflow</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc3"><a href="#5.1.1          &lt;name of workflow step&gt;">5.1.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;name of workflow step&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#5.2               Alternative Workflows">5.2<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Alternative Workflows&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc3"><a href="#5.2.1          &lt;name of workflow step&gt;">5.2.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;name of workflow step&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#6.                  Category">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Category</a>&nbsp;</p>
<p class="MsoToc1"><a href="#7.                  Risk">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Risk&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#8.                  Possibilities">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Possibilities</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#9.                  Process Owner">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Process Owner</a></p>
<p class="MsoToc1"><a href="#10.             Special Requirements">10.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Special Requirements</a></p>
<p class="MsoToc2"><a href="#10.1            &lt;name of special requirement&gt;">10.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;name of special requirement&gt;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#11.             Extension Points">11.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Extension Points</a></p>
<p class="MsoToc2"><a href="#11.1            &lt;name of extension point&gt;">11.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;name of extension point&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoTitle"><br clear="all" style="page-break-before:always">
Business Use-Case Specification: &lt;Business Use-Case Name&gt;</p>
  <h4><a name="1.                  Introduction"><font face="Arial, Helvetica, sans-serif">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Introduction</font></a></h4>
<p class="InfoBlue">[The introduction of the <b>Business</b> <b>Use-Case
Specification</b> should provide an overview of the entire document. It should
include the purpose, scope, definitions, acronyms, abbreviations, references,
and overview of this <b>Business</b> <b>Use-Case Specification</b>.]</p>
<p class="InfoBlue">[Note: If you are not using Rational Requisite Pro, then this document
template should be used to capture the actual Business Use Case including the
workflow, special requirements, and performance goals of the Business Use Case.
This file should be linked to the corresponding business use case in the Rose
model.</p>
<p class="InfoBlue">If you use SoDA then this document is used as input to the
business use-case report that combines this content with use-case diagrams from
Rose.]</p>
  <h5><a name="1.1               Purpose"><font face="Arial, Helvetica, sans-serif">1.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Purpose</font></a></h5>
<p class="InfoBlue">[Specify the purpose of this <b>Business</b> <b>Use-Case
Specification</b>]</p>
  <h5><a name="1.2               Scope"><font face="Arial, Helvetica, sans-serif">1.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Scope</font></a></h5>
<p class="InfoBlue">[A brief description of the scope of this <b>Business</b> <b>Use-Case
Specification</b>; what Use-Case model(s) it is associated with, and anything
else that is affected or influenced by this document.]</p>
  <h5><a name="1.3               Definitions, Acronyms and Abbreviations"><font face="Arial, Helvetica, sans-serif">1.3<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Definitions, Acronyms and Abbreviations</font></a></h5>
<p class="InfoBlue">[This subsection should provide the definitions of all
terms, acronyms, and abbreviations required to properly interpret the <b>Business</b>
<b>Use-Case Specification</b>.&nbsp; This information may be provided by
reference to the project Glossary.]</p>
  <h5><a name="1.4               References"><font face="Arial, Helvetica, sans-serif">1.4<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>References</font></a></h5>
<p class="InfoBlue">[This subsection should provide a complete list of all
documents referenced elsewhere in the <b>Business</b> <b>Use-Case Specification</b>.&nbsp;
Each document should be identified by title, report number (if applicable),
date, and publishing organization.&nbsp; Specify the sources from which the
references can be obtained. This information may be provided by reference to an
appendix or to another document.]</p>
  <h5><a name="1.5               Overview"><font face="Arial, Helvetica, sans-serif">1.5<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Overview</font></a></h5>
<p class="InfoBlue">[This subsection should describe what the rest of the <b>Business</b>
<b>Use-Case Specification</b> contains and explain how the document is
organized.]</p>
  <h4><a name="2.                  Business Use Case Name"><font face="Arial, Helvetica, sans-serif">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Business Use Case Name</font></a></h4>
<h5><a name="2.1               Brief Description"><font face="Arial, Helvetica, sans-serif">2.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Brief Description</font></a></h5>
<p class="InfoBlue">[The description should briefly convey the purpose
of the business use case.&nbsp; A single paragraph should suffice for this
description.]</p>
  <h4><a name="3.                  Goals"><font face="Arial, Helvetica, sans-serif">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Goals</font></a></h4>
<p class="InfoBlue">[A specification of the measurable goals or objectives of
the business use case.]</p>
  <h4><a name="4.                  Performance Goals"><font face="Arial, Helvetica, sans-serif">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Performance Goals</font></a></h4>
<p class="InfoBlue">[A specification of the metrics relevant to the business use
case and a definition of the goals of using those metrics.]</p>
  <h5><a name="4.1               &lt;name of performance goal&gt;"><font face="Arial, Helvetica, sans-serif">4.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>&lt;name of performance goal&gt;</font></a></h5>
<p class="InfoBlue">[A brief description of the performance goal.]</p>
  <h4><a name="5.                  Workflow"><font face="Arial, Helvetica, sans-serif">5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Workflow</font></a></h4>
<p class="InfoBlue">[A textual description of the workflow the business use case
represents. The workflow should describe <span style="font-style:normal">what</span>
the business does to deliver value to a business actor, not <b><span style="font-style:normal">how</span></b>
the business solves its problems.</p>
<p class="InfoBlue">Only one level of workflow steps is indicated in the
subsections below, but you may add more levels if necessary.]</p>
  <h5><a name="5.1               Basic Workflow"><font face="Arial, Helvetica, sans-serif">5.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Basic Workflow</font></a></h5>
  <a name="5.1.1          &lt;name of workflow step&gt;"><font face="Arial, Helvetica, sans-serif"><i><font size="2">5.1.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </span>&lt;name of workflow step&gt;</font></i></font></a> 
  <p class="InfoBlue">[A brief description of the workflow step.]</p>
  <h5><a name="5.2               Alternative Workflows"><font face="Arial, Helvetica, sans-serif">5.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Alternative Workflows</font></a></h5>
  <a name="5.2.1          &lt;name of workflow step&gt;"><font face="Arial, Helvetica, sans-serif"><i><font size="2">5.2.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </span>&lt;name of workflow step&gt;</font></i></font></a> 
  <p class="InfoBlue">[A brief description of the workflow step.]</p>
  <h4><a name="6.                  Category"><font face="Arial, Helvetica, sans-serif">6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Category</font></a></h4>
<p class="InfoBlue">[Whether the business use case is of the category ‘core’,
‘supporting’, or ‘management’.]</p>
  <h4><a name="7.                  Risk"><font face="Arial, Helvetica, sans-serif">7.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Risk</font></a></h4>
<p class="InfoBlue">[A specification of the risks of executing and/or
implementing the business use case.]</p>
  <h4><a name="8.                  Possibilities"><font face="Arial, Helvetica, sans-serif">8.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Possibilities</font></a></h4>
<p class="InfoBlue">[A description of the estimated improvement potential of the
business use case.]</p>
  <h4><a name="9.                  Process Owner"><font face="Arial, Helvetica, sans-serif">9.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Process Owner</font></a></h4>
<p class="InfoBlue">[A definition of who the owner of the business process is,
the person who manages the changes and plans for changes.]</p>
  <h4><a name="10.             Special Requirements"><font face="Arial, Helvetica, sans-serif">10.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Special Requirements</font></a></h4>
<p class="InfoBlue">[The special requirements of the business use case are
included here. These are requirements not covered by the workflow as it has been
described in the sections above.]</p>
  <h5><a name="10.1            &lt;name of special requirement&gt;"><font face="Arial, Helvetica, sans-serif">10.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>&lt;name of special requirement&gt;</font></a></h5>
<p class="InfoBlue">[A brief description of the special requirement.]</p>
  <h4><a name="11.             Extension Points"><font face="Arial, Helvetica, sans-serif">11.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Extension Points</font></a></h4>
<p class="InfoBlue">[Extension points of the business use case.]</p>
  <h5><a name="11.1            &lt;name of extension point&gt;"><font face="Arial, Helvetica, sans-serif">11.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>&lt;name of extension point&gt;</font></a></h5>
<p class="InfoBlue">[Definition of the location of the extension point in the
flow of events.]</p>
</div>

</body>

</html>
