<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Business Glossary</rpw>
-- RPW META DATA END -->
<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Business Glossary</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>
<body lang=EN-US link=blue vlink=purple bgcolor="#ffffff">
<div class=Section1> 
  <p class=MsoTitle align=right style='text-align:right'>&lt;Project Name&gt;</p>
  <p class=MsoTitle align=right style='text-align:right'>Business Glossary</p>
  <p class=MsoTitle align=right style='text-align:right'><span style='font-size:
14.0pt;'>Version &lt;1.0&gt;</span></p>
  <p class=InfoBlue>[Note: The following template is provided for use with the 
    Rational Unified Process. Text enclosed in square brackets and displayed in 
    blue italics (style=InfoBlue) is included to provide guidance to the author 
    and should be deleted before publishing the document. A paragraph entered 
    following this style will automatically be set to normal (style=Body Text).]</p>
  <p class="InfoBlue">&nbsp;</p>
  <p class="InfoBlue">&nbsp;
</div>
<div class=Section2> 
  <p class=MsoTitle>Revision History</p>
  <table border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
 border:none;'>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext align=center style='text-align:center'><b>Date</b></p>
      </td>
      <td width=77 valign=top style='width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext align=center style='text-align:center'><b>Version</b></p>
      </td>
      <td width=250 valign=top style='width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext align=center style='text-align:center'><b>Description</b></p>
      </td>
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext align=center style='text-align:center'><b>Author</b></p>
      </td>
    </tr>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext>&lt;dd/mmm/yy&gt;</p>
      </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext>&lt;x.x&gt;</p>
      </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext>&lt;details&gt;</p>
      </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'> 
        <p class=Tabletext>&lt;name&gt;</p>
      </td>
    </tr>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
    </tr>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
    </tr>
    <tr> 
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>&nbsp; </td>
    </tr>
  </table>
  <b><span style='font-size:18.0pt;font-family:Arial;'><br clear=all style='page-break-before:always'>
  </span></b> 
  <p class=MsoTitle>Table of Contents</p>
</div>
<dl> 
  <dt> 
    <div class=Section2><a href="#1.                  Introduction">1.<span style='font-size:12.0pt'>       
      </span>Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  <dd> 
    <div class=Section2><a href="#1.1               Purpose">1.1<span
style='font-size:12.0pt'>     </span>Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#1.2               Scope">1.2<span
style='font-size:12.0pt'>     </span>Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#1.3               References">1.3<span
style='font-size:12.0pt'>     </span>References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#1.4               Overview">1.4<span
style='font-size:12.0pt'>     </span>Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
  </dd>
  <dt> 
    <div class=Section2><a href="#2.                  Definitions">2.<span style='font-size:12.0pt'>       
      </span>Definitions</a></div>
  <dd> 
    <div class=Section2><a href="#2.1               &lt;aTerm&gt;">2.1<span
style='font-size:12.0pt'>     </span>&lt;aTerm&gt;&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div class=Section2><a href="#2.2               &lt;anotherTerm&gt;">2.2<span
style='font-size:12.0pt'>     </span>&lt;anotherTerm&gt;</a>     </div>
    <div class=Section2><a href="#2.3               &lt;aGroupofTerms&gt;">2.3<span
style='font-size:12.0pt'>     </span>&lt;aGroupofTerms&gt;</a>     </div>
    
          <div class=Section2 style="width: 623; height: 19">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#2.3.1          &lt;aGroupTerm&gt;">2.3.1<span
style='font-size:12.0pt'>         </span>&lt;aGroupTerm&gt;</a>           </div>
          <div class=Section2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#2.3.2          &lt;anotherGroupTerm&gt;">2.3.2<span
style='font-size:12.0pt'>         </span>&lt;anotherGroupTerm&gt;</a>           </div>
          <div class=Section2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#2.3.3          &lt;yetAnotherGroupTerm&gt;">2.3.3<span
style='font-size:12.0pt'>         </span>&lt;yetAnotherGroupTerm&gt;</a>           </div>
          <div class=Section2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#2.3.4          &lt;andAnotherGroupTerm&gt;">2.3.4<span
style='font-size:12.0pt'>         </span>&lt;andAnotherGroupTerm&gt;</a>           </div>
      </dl>
<a href="#3.                  UML Stereotypes">3.<span style='font-size:12.0pt'>      
</span>UML Stereotypes</a>
<div class=Section2>
  <p class=MsoTitle><br clear=all style='page-break-before:
always'>
    Business Glossary</p>
  <h4><font face="Arial, Helvetica, sans-serif"><a name="1.                  Introduction">1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Introduction</a></font></h4>
  <p class=InfoBlue>[The introduction of the <b>Business Glossary</b> should provide 
    an overview of the entire document.  Present any information the reader might 
    need to understand the document in this section. This document is used to 
    define terminology specific to the problem domain, explaining terms which 
    may be unfamiliar to the reader of the use-case descriptions or other project 
    documents.  Often, this document can be used as an informal data dictionary, 
    capturing data definitions so that use-case descriptions and other project 
    documents can focus on what the system must do with the information.  This 
    document should be saved in a file called Business Glossary.]</p>
  <h5><font face="Arial, Helvetica, sans-serif"><a name="1.1               Purpose">1.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Purpose</a></font></h5>
  <p class=InfoBlue>[Specify the purpose of this <b>Business Glossary.</b>]</p>
  <h5><font face="Arial, Helvetica, sans-serif"><a name="1.2               Scope">1.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    &nbsp;&nbsp;&nbsp;&nbsp; </span>Scope</a></font></h5>
  <p class=InfoBlue>[A brief description of the scope of this <b>Business Glossary</b>; 
    what Project(s) it is associated with, and anything else that is affected 
    or influenced by this document.]</p>
  <h5><font face="Arial, Helvetica, sans-serif"><a name="1.3               References">1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>References</a></font></h5>
  <p class=InfoBlue>[This subsection should provide a complete list of all documents 
    referenced elsewhere in the <b>Business Glossary</b>.  Each document should 
    be identified by title, report number (if applicable), date, and publishing 
    organization.  Specify the sources from which the references can be obtained. 
    This information may be provided by reference to an appendix or to another 
    document.]</p>
  <h5><font face="Arial, Helvetica, sans-serif"><a name="1.4               Overview">1.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Overview</a></font></h5>
  <p class=InfoBlue>[This subsection should describe what the rest of the <b>Business 
    Glossary</b> contains and explain how the document is organized.]</p>
  <h4><font face="Arial, Helvetica, sans-serif"><a name="2.                  Definitions">2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>Definitions</a></font></h4>
  <p class=InfoBlue>[The terms defined here form the essential substance of the 
    document.  They can be defined in any order desired, but generally alphabetic 
    order provides the greatest accessibility.]</p>
  <h5><font face="Arial, Helvetica, sans-serif"><a name="2.1               &lt;aTerm&gt;">2.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>&lt;aTerm&gt;</a></font></h5>
  <p class=InfoBlue>[The definition for &lt;aTerm&gt; is presented here.  As much 
    information as the reader needs to understand the concept should be presented.]</p>
  <h5><font face="Arial, Helvetica, sans-serif"><a name="2.2               &lt;anotherTerm&gt;">2.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>&lt;anotherTerm&gt;</a></font></h5>
  <p class=InfoBlue>The definition for &lt;anotherTerm&gt; is presented here.  
    As much information as the reader needs to understand the concept should be 
    presented</p>
  <h5><font face="Arial, Helvetica, sans-serif"><a name="2.3               &lt;aGroupofTerms&gt;">2.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    </span>&lt;aGroupofTerms&gt;</a></font></h5>
  <p class=InfoBlue>[Sometimes it is useful to organize terms into groups to improve 
    readability.  For example, if the problem domain contains terms related to 
    both accounting and building construction (as would be the case if we were 
    developing a system to manage construction projects), presenting the terms 
    from the two different sub-domains might prove confusing to the reader.  To 
    solve this problem, we use groupings of terms.  In presenting the grouping 
    of terms, provide a short description that helps the reader understand what 
    &lt;aGroupOfTerms&gt; represents.  Terms presented within the group should 
    be organized alphabetically for easy access.]</p>
  <font face="Arial, Helvetica, sans-serif" size="-1"><i><a name="2.3.1          &lt;aGroupTerm&gt;">2.3.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </span>&lt;aGroupTerm&gt;</a></i></font> 
  <p class=InfoBlue>[The definition for &lt;aGroupTerm&gt; is presented here. 
    Present as much information as the reader needs to understand the concept.]</p>
  <font face="Arial, Helvetica, sans-serif" size="-1"><i><a name="2.3.2          &lt;anotherGroupTerm&gt;">2.3.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </span>&lt;anotherGroupTerm&gt;</a></i></font> 
  <p class=InfoBlue>[The definition for &lt;anotherGroupTerm&gt; is presented 
    here. Present as much information as the reader needs to understand the concept.]</p>
  <p class=InfoBlue>&lt;aSecondGroupOfTerms&gt;</p>
  <font face="Arial, Helvetica, sans-serif" size="-1"><i><a name="2.3.3          &lt;yetAnotherGroupTerm&gt;">2.3.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </span>&lt;yetAnotherGroupTerm&gt;</a></i></font> 
  <p class=InfoBlue>[The definition for the term is presented here. Present as 
    much information as the reader needs to understand the concept.]</p>
  <font face="Arial, Helvetica, sans-serif" size="-1"><i><a name="2.3.4          &lt;andAnotherGroupTerm&gt;">2.3.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  </span>&lt;andAnotherGroupTerm&gt;</a></i></font> 
  <p class=InfoBlue>[The definition for the term is presented here. Present as 
    much information as the reader needs to understand the concept.]</p>
</div>
  <h4><font face="Arial, Helvetica, sans-serif"><a name="3.                  UML Stereotypes">3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </span>UML Stereotypes</a></font></h4>
<p class="InfoBlue"><span style="font-family: Times New Roman; mso-fareast-font-family: Times New Roman; mso-bidi-font-family: Times New Roman; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA"><font size="2">[This
section contains or references specifications of Unified Modeling Language (UML)
stereotypes and their semantic implications&#151;a textual description of the
meaning and significance of the stereotype and any limitations on its use&#151;for
stereotypes already known or discovered to be important in the aspect of
business being modeled. The use of these stereotypes may be simply recommended
or perhaps even made mandatory; for example, when their use is required by an
imposed standard or when it is felt that their use makes models significantly
easier to understand. This section may be empty if no additional stereotypes,
other than those predefined by the UML and the Rational Unified Process, are
considered necessary.]</font></span></p>
</body>
</html>
