<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Target-Organization Assessment</rpw>
-- RPW META DATA END -->
<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Target-Organization Assessment</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>

<body lang=EN-US link=blue vlink=purple>

<div class=Section1>

<p class=MsoTitle align=right style='text-align:right'>&lt;Project Name&gt;</p>

<p class=MsoTitle align=right style='text-align:right'>Target-Organization Assessment</p>

<p class=MsoTitle align=right style='text-align:right'>&nbsp;</p>

<p class=MsoTitle align=right style='text-align:right'><span style='font-size:
14.0pt;'>Version &lt;1.0&gt;</span></p>

<p class=MsoTitle><span style='font-size:14.0pt;'>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=InfoBlue>[Note: The following template is provided for use with the
Rational Unified Process. Text enclosed in square brackets and displayed in
blue italics (style=InfoBlue) is included to provide guidance to the author and
should be deleted before publishing the document. A paragraph entered following
this style will automatically be set to normal (style=Body Text).]</p>

<p class=InfoBlue>&nbsp;</p>

</div>

<span style='font-size:10.0pt;font-family:"Times New Roman";'><br clear=all
style='page-break-before:always;'>
</span>

<div class=Section2>

<p class=MsoTitle>Revision History</p>

<table border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
 border:none;'>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Date</b></p>
  </td>
  <td width=77 valign=top style='width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Version</b></p>
  </td>
  <td width=250 valign=top style='width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Description</b></p>
  </td>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Author</b></p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;dd/mmm/yy&gt;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;x.x&gt;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;details&gt;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;name&gt;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<b><span style='font-size:18.0pt;font-family:Arial;'><br clear=all style='page-break-before:always'>
</span></b>

<p class=MsoTitle>Table of Contents</p>

<p class=MsoToc1><a href="#1.                  Introduction">1.<span style='font-size:12.0pt'>       </span>Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.1               Purpose">1.1<span
style='font-size:12.0pt'>     </span>Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.2               Scope">1.2<span
style='font-size:12.0pt'>     </span>Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.3               Definitions, Acronyms and Abbreviations">1.3<span
style='font-size:12.0pt'>     </span>Definitions,
Acronyms, and Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.4               References">1.4<span
style='font-size:12.0pt'>     </span>References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.5               Overview">1.5<span
style='font-size:12.0pt'>     </span>Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#2.                  Business Context">2.<span style='font-size:12.0pt'>       </span>Business
Context</a></p>

<p class="MsoToc1"><span style="mso-bookmark: _Toc433081580"><a href="#3.                  Business Idea and Strategy in the Project Context">3</a></span><a href="#3.                  Business Idea and Strategy in the Project Context"><span style="mso-bookmark:
_Toc433081580">.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Business Ideas and Strategies in the Project Context</span></a></p>

<p class=MsoToc1><a href="#3.                  External Factors">4.<span style='font-size:12.0pt'>       </span>External
Factors</a></p>

<p class=MsoToc2><a href="#3.1               Customers">4.1<span
style='font-size:12.0pt'>     </span>Customers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.2               Competitors">4.2<span
style='font-size:12.0pt'>     </span>Competitors</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.3               Other Stakeholders">4.3<span
style='font-size:12.0pt'>     </span>Other Stakeholders</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#4.                  Internal Factors">5.<span style='font-size:12.0pt'>      
</span>Internal
Factors</a></p>

<p class=MsoToc2><a href="#4.1               Business Processes">5.1<span
style='font-size:12.0pt'>     </span>Business Processes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.2               Supporting Tools">5.2<span
style='font-size:12.0pt'>     </span>Supporting Tools</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.3               Internal Organization">5.3<span
style='font-size:12.0pt'>     </span>Internal Organization</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.4               Competencies, Skills and Attitudes">5.4<span
style='font-size:12.0pt'>     </span>Competencies,
Skills, and Attitudes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.5               Capacity for Change">5.5<span
style='font-size:12.0pt'>     </span>Capacity
for Change</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class="MsoToc1" style="tab-stops: 21.6pt right 468.0pt"><span style="font-size:10.0pt;mso-bidi-font-size:12.0pt;
font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-ansi-language:EN-US;mso-fareast-language:EN-US;mso-bidi-language:AR-SA"><a href="#6.                  Benchmarking Results">6.</a></span><a href="#6.                  Benchmarking Results"><span style="mso-tab-count: 1; font-size: 12.0pt; font-family: Times New Roman; mso-fareast-font-family: Times New Roman; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size: 12.0pt; font-family: Times New Roman; mso-fareast-font-family: Times New Roman; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA; mso-tab-count: 1">&nbsp;&nbsp;
</span><span style="font-size:10.0pt;mso-bidi-font-size:12.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">Benchmarking Results</span></a></p>
<p class="MsoToc1" style="tab-stops:21.6pt right 468.0pt"><span style="mso-bidi-font-size:
12.0pt"><a href="#7.                  Performance of Target Organization">7.</a></span><a href="#7.                  Performance of Target Organization"><span style="mso-tab-count: 1; font-size: 12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="mso-bidi-font-size:12.0pt">&nbsp;&nbsp;
Performance of Target Organization</span><!--[if gte mso 9]><xml>
 <w:data>08D0C9EA79F9BACE118C8200AA004BA90B02000000080000000E0000005F0054006F0063003400370034003100330032003400380032000000</w:data>
</xml><![endif]-->
</a></p>

<p class=MsoToc1><a href="#5.                  Assessment Conclusion">8.<span style='font-size:12.0pt'>       </span>Assessment
Conclusion</a>&nbsp;&nbsp;&nbsp;</p>

<p class="MsoToc2"><span style="mso-bookmark: _Toc433081584"><a href="#8.1               Problems Areas">8</a></span><a href="#8.1               Problems Areas"><span style="mso-bookmark:
_Toc433081584">.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Problems </span>Areas</a></p>
<p class="MsoToc2"><span style="mso-bookmark: _Toc433081585"><a href="#8.2               Applicable New Technologies">8</a></span><a href="#8.2               Applicable New Technologies"><span style="mso-bookmark:
_Toc433081585">.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Applicable New Technologies</span></a></p>

<p class=MsoTitle><br
clear=all style='page-break-before:always'>Target-Organization
Assessment</p>

<h1><a name="1.                  Introduction">1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a></h1>

<p class=InfoBlue>[The introduction of the <b>Target-Organization Assessment</b>
 provides an overview of the entire document. It includes the
purpose, scope, definitions, acronyms, abbreviations, references, and overview
of this <b>Target-Organization Assessment</b>.]</p>

<h2><a name="1.1               Purpose">1.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a></h2>

<p class=InfoBlue>[Specify the purpose of this <b>Target-Organization Assessment</b>.]</p>

<h2><a name="1.2               Scope">1.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a></h2>

<p class=InfoBlue>[A brief description of the scope of this <b>Target-Organization
Assessment</b>; what Project(s) it is associated with and anything else that
is affected or influenced by this document.]</p>

<h2><a name="1.3               Definitions, Acronyms and Abbreviations">1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms, and Abbreviations</a></h2>

<p class=InfoBlue>[This subsection&nbsp; provides the definitions of all terms,
acronyms, and abbreviations required to properly interpret the <b>Target-Organization
Assessment</b>.&nbsp; This information may be provided by reference to the
project's Business Glossary.]</p>

<h2><a name="1.4               References">1.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a></h2>

<p class=InfoBlue>[This subsection provides a complete list of all
documents referenced elsewhere in the <b>Target-Organization Assessment</b>. 
Identify each document by title,
report number if applicable, date, and publishing organization.  Specify the sources from which the
references can be obtained. This information may be provided by reference to an
appendix or to another document.]</p>

<h2><a name="1.5               Overview">1.5<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a></h2>

<p class=InfoBlue>[This subsection describes what the rest of the <b>Target-Organization
Assessment</b> contains and explains how the document is organized.]</p>

<h1><a name="2.                  Business Context"><b>2.</b><span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Business Context</a></h1>

<p class=InfoBlue>[A brief description of the business domain in which the
organization works.]</p>

<h1><span style="mso-bookmark: _Toc433081580"><a name="3.                  Business Idea and Strategy in the Project Context">3</a></span><a name="3.                  Business Idea and Strategy in the Project Context"><span style="mso-bookmark:
_Toc433081580">.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Business Ideas and Strategies in the Project Context</span></a></h1>
<p class="InfoBlue">[A description of how business ideas and business strategies
are related to the problem domains.</p>
<p class="InfoBlue">A description of how well existing processes are in line
with the vision and the strategy of the business.]</p>

<h1><a name="3.                  External Factors">4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>External Factors</a></h1>

<h2><a name="3.1               Customers">4.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Customers</a></h2>

<p class=InfoBlue>[<span style="font-size:10.0pt;font-family:&quot;Times New Roman&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-ansi-language:EN-US;mso-fareast-language:
EN-US;mso-bidi-language:AR-SA">A listing of the customers and what they expect
of the products. This should include a summary of investigations made to
understand the customers' demands on the business. ]</span></p>

<h2><a name="3.2               Competitors">4.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Competitors</a></h2>

<p class=InfoBlue>[A listing of the competitors.]</p>

<h2><a name="3.3               Other Stakeholders">4.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Other Stakeholders</a></h2>

<p class=InfoBlue>[A listing of other stakeholders, such as suppliers and
partners.]</p>

<h1><a name="4.                  Internal Factors">5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Internal Factors</a></h1>

<h2><a name="4.1               Business Processes">5.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Business Processes</a></h2>

<p class=InfoBlue>[A brief description of the current business processes.]</p>

<h2><a name="4.2               Supporting Tools">5.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Supporting Tools</a></h2>

<p class=InfoBlue>[A brief description of today’s tool support.]</p>

<h2><a name="4.3               Internal Organization">5.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Internal Organization</a></h2>

<p class=InfoBlue>[A brief description of the internal organization, and what roles
and teams they have today.]</p>

<h2><a name="4.4               Competencies, Skills and Attitudes">5.4<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Competencies, Skills, and Attitudes</a></h2>

<p class=InfoBlue>[An inventory of the competencies, skills, and attitudes of
the individuals in the organization.] </p>

<h2><a name="4.5               Capacity for Change">5.5<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Capacity for Change</a></h2>

<p class=InfoBlue>[A brief description of the &#147;capacity for change&#148;.]</p>

<h1><span style="mso-bookmark: _Toc433081582"><a name="6.                  Benchmarking Results">6</a></span><a name="6.                  Benchmarking Results"><span style="mso-bookmark:
_Toc433081582">.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Benchmarking Results</span></a></h1>
<p class="InfoBlue">[A summary of results arrived at in benchmarking studies.]</p>
<h1><a name="7.                  Performance of Target Organization"><span style="mso-bookmark: _Toc433081583">7</span><span style="mso-bookmark:
_Toc433081583">.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Performance of </span><span style="mso-bookmark: _Toc433081583">Target Organization</span></a></h1>
<p class="InfoBlue">[A summary of measurements made on the existing business,
process by process.]</p>

<h1><a name="5.                  Assessment Conclusion"><b>8.<span
style='font-style: normal; font-variant: normal; font-size: 7.0pt; font-family: Times New Roman'>&nbsp;&nbsp;&nbsp;&nbsp;</span></b><span style='font-weight:normal'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Assessment Conclusion</a></h1>

<p class=InfoBlue>[List the major problem areas and opportunity areas,
regardless of the categories to which they belong.]</p>

<h2><span style="mso-bookmark: _Toc433081584"><a name="8.1               Problems Areas">8</a></span><a name="8.1               Problems Areas"><span style="mso-bookmark:
_Toc433081584">.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Problems </span>Areas</a></h2>
<p class="InfoBlue">[A summary of the analysis of the activities of the exiting
business processes.]</p>
<h2><span style="mso-bookmark: _Toc433081585"><a name="8.2               Applicable New Technologies">8</a></span><a name="8.2               Applicable New Technologies"><span style="mso-bookmark:
_Toc433081585">.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Applicable New Technologies</span></a></h2>
<p class="InfoBlue">[A summary of available state-of-the-art solutions
applicable to the business.]</p>

<p class=InfoBlue>&nbsp;</p>

</div>

</body>

</html>
