<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Configuration Management Plan</rpw>
-- RPW META DATA END -->
<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Configuration Management Plan</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>

<body lang=EN-US link=blue vlink=purple>

<div class=Section1>

<p class=MsoTitle align=right style='text-align:right'>&lt;Project Name&gt;</p>

<p class=MsoTitle align=right style='text-align:right'>Configuration Management Plan</p>

<p class=MsoTitle align=right style='text-align:right'>&nbsp;</p>

<p class=MsoTitle align=right style='text-align:right'><span style='font-size:
14.0pt;'>Version &lt;1.0&gt;</span></p>

<p class=MsoTitle><span style='font-size:14.0pt;'>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=InfoBlue>[Note: The following template is provided for use with the
Rational Unified Process.&nbsp; Text enclosed
in square brackets and displayed in blue italics (style=InfoBlue) is included
to provide guidance to the author and should be deleted before publishing the
document. A paragraph entered following this style will automatically be set to
normal (style=Body Text).]</p>

</div>

<p>

<span style='font-size:10.0pt;font-family:"Times New Roman";'><br clear=all
style='page-break-before:always;'>
</span>

</p>

<div class=Section2>

<p class=MsoTitle>Revision History</p>

<table border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
 border:none;'>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Date</b></p>
  </td>
  <td width=77 valign=top style='width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Version</b></p>
  </td>
  <td width=250 valign=top style='width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Description</b></p>
  </td>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Author</b></p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;dd/mmm/yy&gt;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;x.x&gt;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;details&gt;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;name&gt;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<b><span style='font-size:18.0pt;font-family:Arial;'><br clear=all style='page-break-before:always'>
</span></b>

<p class=MsoTitle>Table of Contents</p>

<p class=MsoToc1><a href="#1.                  Introduction">1.<span style='font-size:12.0pt'>       </span>Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.1               Purpose">1.1<span
style='font-size:12.0pt'>     </span>Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.2               Scope">1.2<span
style='font-size:12.0pt'>     </span>Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.3               Definitions, Acronyms and Abbreviations">1.3<span
style='font-size:12.0pt'>     </span>Definitions,
Acronyms, and Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.4               References">1.4<span
style='font-size:12.0pt'>     </span>References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.5               Overview">1.5<span
style='font-size:12.0pt'>     </span>Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#2.                  Software Configuration Management">2.<span style='font-size:12.0pt'>       </span>Software
Configuration Management</a></p>

<p class=MsoToc2><a href="#2.1               Organization, Responsibilities and Interfaces">2.1<span
style='font-size:12.0pt'>     </span>Organization,
Responsibilities, and Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#2.2               Tools, Environment and Infrastructure">2.2<span
style='font-size:12.0pt'>     </span>Tools,
Environment, and Infrastructure</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#3.                  The CM Program">3.<span style='font-size:12.0pt'>       </span>The
Configuration Management
Program</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.1               Configuration Identification">3.1<span
style='font-size:12.0pt'>     </span>Configuration Identification</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.1.1          Identification Methods">3.1.1<span
style='font-size:12.0pt'>         </span>Identification Methods</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.1.2          Project Baselines">3.1.2<span
style='font-size:12.0pt'>         </span>Project Baselines</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.2               Configuration and Change Control">3.2<span
style='font-size:12.0pt'>     </span>Configuration
and Change Control</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.2.1          Change Request Processing and Approval">3.2.1<span
style='font-size:12.0pt'>         </span>Change
Request Processing and Approval</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.2.2          Change Control Board (CCB)">3.2.2<span
style='font-size:12.0pt'>         </span>Change
Control Board (CCB)&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.3               Configuration Status Accounting">3.3<span
style='font-size:12.0pt'>     </span>Configuration
Status Accounting</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.3.1          Project Media Storage and Release Process">3.3.1<span
style='font-size:12.0pt'>         </span>Project
Media Storage and Release Process</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.3.2          Reports and Audits">3.3.2<span
style='font-size:12.0pt'>         </span>Reports
and Audits</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#4.                  Milestones">4.<span style='font-size:12.0pt'>       </span>Milestones</a></p>

<p class=MsoToc1><a href="#5.                  Training and Resources">5.<span style='font-size:12.0pt'>       </span>Training and
Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#6.                  Subcontractor and Vendor Software Control">6.<span style='font-size:12.0pt'>       </span>Subcontractor
and Vendor Software Control</a></p>

<p class=MsoTitle><br
clear=all style='page-break-before:always'>Configuration Management
Plan</p>

<h1><a name="1.                  Introduction">1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a></h1>

<p class=InfoBlue>[The introduction of the <b>Configuration Management Plan </b>&nbsp;provides an overview of the entire
document. It includes the purpose, scope, definitions, acronyms,
abbreviations, references, and overview of this <b>Configuration Management
Plan</b>.]</p>

<h2><a name="1.1               Purpose">1.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a></h2>

<p class=InfoBlue>[Specify the purpose of this <b>Configuration Management
Plan.</b>]</p>

<h2><a name="1.2               Scope">1.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a></h2>

<p class=InfoBlue>[A brief description of the scope of this <b>Configuration
Management Plan</b>; what model it is associated with and anything else
that is affected or influenced by this document.]</p>

<h2><a name="1.3               Definitions, Acronyms and Abbreviations">1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms, and Abbreviations</a></h2>

<p class=InfoBlue>[This subsection provides the definitions of all terms,
acronyms, and abbreviations required to properly interpret the <b>Configuration
Management Plan</b>.&nbsp; This information may be provided by reference to the
project's Glossary.]</p>

<h2><a name="1.4               References">1.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a></h2>

<p class=InfoBlue>[This subsection provides a complete list of all
documents referenced elsewhere in the <b>Configuration Management Plan</b>. 
Identify each document by title,
report number if applicable, date, and publishing organization. Specify the sources from which the
references can be obtained. This information may be provided by reference to an
appendix or to another document.]</p>

<h2><a name="1.5               Overview">1.5<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a></h2>

<p class=InfoBlue>[This subsection describes what the rest of the <b>Configuration
Management Plan</b> contains and explains how the document is organized.]</p>

<h1><a name="2.                  Software Configuration Management">2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Software Configuration Management</a></h1>

<h2><a name="2.1               Organization, Responsibilities and Interfaces">2.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Organization, Responsibilities, and Interfaces</a></h2>

<p class=InfoBlue>[Describe who is going to be responsible for performing the
various Configuration Management (CM) activities described in the CM Process
Discipline.]</p>

<h2><a name="2.2               Tools, Environment and Infrastructure">2.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Tools, Environment, and Infrastructure</a></h2>

<p class=InfoBlue>[Describe the computing environment and software tools to be
used in fulfilling the CM functions throughout the project or product lifecycle. </p>

<p class=InfoBlue>Describe the tools and procedures required used to version
control configuration items generated throughout the project or product lifecycle.</p>

<p class=InfoBlue>Issues involved in setting up the CM environment include:</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>anticipated size of product data</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>distribution of the product team</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>physical location of servers and client machines]</p>

<h1><a name="3.                  The CM Program">3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>The Configuration Management Program</a></h1>

<h2><a name="3.1               Configuration Identification">3.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Configuration Identification</a></h2>

<h3><a name="3.1.1          Identification Methods">3.1.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Identification Methods</a></h3>

<p class=InfoBlue>[Describe how project or product artifacts are to be named,
marked, and numbered. The identification scheme needs to cover hardware, system
software, Commercial-Off-The-Shelf (COTS) products, and all application
development artifacts listed in the product directory structure; for example,
plans, models, components, test software, results and data, executables, and so
on.]</p>

<h3><a name="3.1.2          Project Baselines">3.1.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Baselines</a></h3>

<p class=InfoBlue>[Baselines provide an official standard on which subsequent
work is based and to which only authorized changes are made. </p>

<p class=InfoBlue>Describe at what points during the project or product lifecycle
baselines are to be established. The most common baselines would be at the end
of each of the Inception, Elaboration, Construction, and Transition phases.
Baselines could also be generated at the end of iterations within the various
phases or even more frequently.</p>

<p class=InfoBlue>Describe who authorizes a baseline and what goes
into it.]</p>

<h2><a name="3.2               Configuration and Change Control">3.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Configuration and Change Control</a></h2>

<h3><a name="3.2.1          Change Request Processing and Approval">3.2.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Change Request Processing and Approval</a></h3>

<p class=InfoBlue>[Describe the process by which problems and changes are
submitted, reviewed, and dispositioned.]</p>

<h3><a name="3.2.2          Change Control Board (CCB)">3.2.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Change Control Board (CCB)</a></h3>

<p class=InfoBlue>[Describe the membership and procedures for processing change
requests and approvals to be followed by the CCB.]</p>

<h2><a name="3.3               Configuration Status Accounting">3.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Configuration Status Accounting</a></h2>

<h3><a name="3.3.1          Project Media Storage and Release Process">3.3.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Media Storage and Release Process</a></h3>

<p class=InfoBlue>[Describe retention policies, and the back-up, disaster, and
recovery plans. Also describe how the media is to be retained&#151;online, offline, media type, and format.</p>

<p class=InfoBlue>The release process should describe what is in the release,
who it is for, and whether there are any known problems and any installation instructions.]</p>

<h3><a name="3.3.2          Reports and Audits">3.3.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Reports and Audits</a></h3>

<p class=InfoBlue>[Describe the content, format, and purpose of the requested
reports and configuration audits.</p>

<p class=InfoBlue>Reports are used to assess the &#147;quality of the product&#148; at
any given time of the project or product lifecycle. Reporting on defects based
on change requests may provide some useful quality indicators and, thereby, alert
management and developers to particularly critical areas of development.
Defects are often classified by criticality (high, medium, and low) and could
be reported on the following basis:</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Aging (Time-based Reports): How long have defects of the
various kinds been open? What is the &#147;lag time’’ of when in the lifecycle
defects are found versus when they are fixed?</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Distribution (Count Based Reports): How many defects
are there in the various categories by owner, priority or state of fix?</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Trend (Time-related and Count-related Reports): What is
the cumulative number of defects found and fixed over time? What is the
rate of defect discovery and fix? What is the &#147;quality gap&#148; in terms of open
versus closed defects? What is the average defect resolution time?]</p>

<h1><a name="4.                  Milestones">4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Milestones</a></h1>

<p class=InfoBlue>[Identify the internal and customer milestones related to the
project or product CM effort. This section should include details on when the CM
Plan itself is to be updated.]</p>

<h1><a name="5.                  Training and Resources">5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Training and Resources</a></h1>

<p class=InfoBlue>[Describe the software tools, personnel, and training
required to implement the specified CM activities.]</p>

<h1><a name="6.                  Subcontractor and Vendor Software Control">6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Subcontractor and Vendor Software Control</a></h1>

<p class=InfoBlue>[Describe how software developed outside of the project
environment will be incorporated.]</p>

</div>

</body>

</html>
