<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Deployment Plan</rpw>
-- RPW META DATA END -->
<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Deployment Plan</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>

<body lang=EN-US link=blue vlink=purple>

<div class=Section1>

<p class=MsoTitle align=right style='text-align:right'>&lt;Project Name&gt;</p>

<p class=MsoTitle align=right style='text-align:right'>Deployment Plan</p>

<p class=MsoTitle align=right style='text-align:right'>&nbsp;</p>

<p class=MsoTitle align=right style='text-align:right'><span style='font-size:
14.0pt;'>Version &lt;1.0&gt;</span></p>

<p class=MsoTitle><span style='font-size:14.0pt;'>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=InfoBlue>[Note: The following template is provided for use with the
Rational Unified Process.&nbsp; Text enclosed
in square brackets and displayed in blue italics (style=InfoBlue) is included
to provide guidance to the author and should be deleted before publishing the
document. A paragraph entered following this style will automatically be set to
normal (style=Body Text).]</p>

</div>

<p>

<span style='font-size:10.0pt;font-family:"Times New Roman";'><br clear=all
style='page-break-before:always;'>
</span>

</p>

<div class=Section2>

<p class=MsoTitle>Revision History</p>

<table border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
 border:none;'>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Date</b></p>
  </td>
  <td width=77 valign=top style='width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Version</b></p>
  </td>
  <td width=250 valign=top style='width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Description</b></p>
  </td>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Author</b></p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;dd/mmm/yy&gt;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;x.x&gt;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;details&gt;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;name&gt;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<b><span style='font-size:18.0pt;font-family:Arial;'><br clear=all style='page-break-before:always'>
</span></b>

<p class=MsoTitle>Table of Contents</p>

<p class=MsoToc1><a href="#1.                  Introduction">1.<span style='font-size:12.0pt'>       </span>Introduction</a></p>

<p class=MsoToc2><a href="#1.1               Purpose">1.1<span
style='font-size:12.0pt'>     </span>Purpose</a></p>

<p class=MsoToc2><a href="#1.2               Scope">1.2<span
style='font-size:12.0pt'>     </span>Scope</a></p>

<p class=MsoToc2><a href="#1.3               Overview">1.3<span
style='font-size:12.0pt'>     </span>Definitions, Acronyms, and
Abbreviations</a></p>

<p class=MsoToc2><a href="#1.4               Definitions, Acronyms and Abbreviations">1.4<span
style='font-size:12.0pt'>     </span>Overview</a></p>

<p class=MsoToc1><a href="#2.                  References">2.<span style='font-size:12.0pt'>       </span>References</a></p>

<p class=MsoToc1><a href="#3.                  Deployment Planning">3.<span style='font-size:12.0pt'>       </span>Deployment
Planning</a></p>

<p class=MsoToc2><a href="#3.1               Responsibilities">3.1<span
style='font-size:12.0pt'>     </span>Responsibilities</a></p>

<p class=MsoToc2><a href="#3.2               Schedule">3.2<span
style='font-size:12.0pt'>     </span>Schedule</a></p>

<p class=MsoToc1><a href="#4.                  Resources">4.<span style='font-size:12.0pt'>       </span>Resources</a></p>

<p class=MsoToc2><a href="#4.1               Facilities">4.1<span
style='font-size:12.0pt'>     </span>Facilities</a></p>

<p class=MsoToc2><a href="#4.2               Hardware">4.2<span
style='font-size:12.0pt'>     </span>Hardware</a></p>

<p class=MsoToc2><a href="#4.3               The Deployment Unit">4.3<span
style='font-size:12.0pt'>     </span>The
Deployment Unit</a></p>

<p class=MsoToc3><a href="#4.3.1          Support Software">4.3.1<span
style='font-size:12.0pt'>         </span>Support Software</a></p>

<p class=MsoToc3><a href="#4.3.2          Support Documentation">4.3.2<span
style='font-size:12.0pt'>         </span>Support Documentation</a></p>

<p class=MsoToc3><a href="#4.3.3          Support Personnel">4.3.3<span
style='font-size:12.0pt'>         </span>Support Personnel</a></p>

<p class=MsoToc1><a href="#5.                  Training">5.<span style='font-size:12.0pt'>       </span>Training</a></p>

<p class=MsoTitle><br
clear=all style='page-break-before:always'>
Deployment Plan</p>

<h1><a name="1.                  Introduction">1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a></h1>

<p class=InfoBlue>[Provide an overview of the entire document.]</p>

<h2><a name="1.1               Purpose">1.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a></h2>

<p class=InfoBlue>[Describe the purpose of the software to which this document
applies<b>.</b>]</p>

<h2><a name="1.2               Scope">1.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a></h2>

<p class=InfoBlue>[Identify the recipients for the items identified in the <b>Deployment
Plan.</b>]</p>

<h2><a name="1.4               Definitions, Acronyms and Abbreviations">1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms, and Abbreviations</a></h2>

<p class=InfoBlue>[This subsection provides the definitions of all terms,
acronyms, and abbreviations required to properly interpret the <b>Deployment
Plan</b>.&nbsp; This information may be provided by reference to the project's
Glossary.]</p>

<h2><a name="1.3               Overview">1.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a></h2>

<p class=InfoBlue>[Explain how this document is organized.]</p>

<p class=InfoBlue>&nbsp;</p>

<h1><a name="2.                  References">2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a></h1>

<p class=InfoBlue>[This subsection provides a complete list of all
documents referenced elsewhere in the <b>Deployment Plan</b>.  Identify each document by title,
report number if applicable, date, and publishing organization.  Specify the sources from which the
references can be obtained. This information may be provided by reference to an
appendix or to another document.]</p>

<p class=InfoBlue>&nbsp;</p>

<h1><a name="3.                  Deployment Planning">3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Deployment Planning</a></h1>

<p class=InfoBlue>[Describe all activities performed in deploying the
product to the customer. Activities include planning, beta testing, preparing items to be delivered, packaging,
shipping, installation, training, and
support.]</p>

<h2><a name="3.1               Responsibilities">3.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Responsibilities</a></h2>

<p class=InfoBlue>[Identify the responsibilities of both the customer and the
development team in preparing for deployment. Of particular relevance in this
section is the description of the customer’s involvement in acceptance tests
and the process for handling any discrepancies.]</p>

<h2><a name="3.2               Schedule">3.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Schedule</a></h2>

<p class=InfoBlue>[Describe the schedule and milestones to conduct the
deployment activities. Deployment milestones need to conform to the project
milestones.&nbsp;</p>

<p class=InfoBlue> Take into account the following Deployment workflow details:</p>

<blockquote>
  <i><font SIZE="2" COLOR="#0000ff">
  <ul>
    <li>Planning the Deployment</li>
    <li>Developing the Supporting Material</li>
    <li>Managing the Acceptance Tests
      <ul>
        <li>Acceptance Testing at the Development Site</li>
        <li>Acceptance Testing at the Deployment Site</li>
      </ul>
    </li>
    <li>Producing the Deployment Unit</li>
    <li>Managing the Beta Program</li>
    <li>Managing the Product Mass Production and Packaging</li>
    <li>Making the Product Accessible Over the Internet]<br>
    </li>
  </ul>
  </font></i></blockquote>
  

<h1><a name="4.                  Resources">4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Resources</a></h1>

<p class=InfoBlue>[List the resources and their sources required to carry out
the planned deployment activities.]</p>

<h2><a name="4.1               Facilities">4.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Facilities</a></h2>

<p class=InfoBlue>[As applicable, describe the facilities required to test and
deploy the software. Facilities may include special buildings or rooms with
raised flooring, power requirements, and special features to support privacy
and security requirements.]</p>

<h2><a name="4.2               Hardware">4.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Hardware</a></h2>

<p class=InfoBlue>[Identify the hardware required to run and support the software. Specify model, versions, and configurations. Provide
information about manufacturer support and licensing.]</p>

<h2><a name="4.3               The Deployment Unit">4.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>The Deployment Unit</a></h2>

<p class=InfoBlue>[List the software and documentation provided as part
of the deliverable product.]</p>

<h3><a name="4.3.1          Support Software">4.3.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Support Software</a></h3>

<p class=InfoBlue>[As applicable, describe all software needed
to support the deliverable product, such as tools, compilers,
test tools, test data, utilities, Configuration Management tools, databases, data files, and so on.]</p>

<h3><a name="4.3.2          Support Documentation">4.3.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Support Documentation</a></h3>

<p class=InfoBlue>[As applicable, describe the documentation required to support
the delivered product, including design
descriptions, test cases and procedures, user manuals, and so on.]</p>

<h3><a name="4.3.3          Support Personnel">4.3.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Support Personnel</a></h3>

<p class=InfoBlue>[As applicable, describe the personnel, and their skill
levels, required to support the deliverable product.]</p>

<p class=MsoNormal>&nbsp;</p>

<h1><a name="5.                  Training">5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Training</a></h1>

<p class=InfoBlue>[Describe the plan and inputs for training the end users such
that they can use and adapt the product as required.]</p>

<p class=MsoBodyText>&nbsp;</p>

</div>

</body>

</html>
