<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">ZTemplate</rpw>
-- RPW META DATA END -->
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name=Originator content="Microsoft Word 9">
<title>Software Requirements Specification</title>
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>


<body lang=EN-US link=blue vlink=purple>
<!---
<rpw name="PresentationName"> SRS traditional</rpw>
--->

<div class=Section1>

<p class=MsoTitle align=right style='text-align:right'>&lt;Project Name&gt;</p>

<p class=MsoTitle align=right style='text-align:right'>Software Requirements Specification</p>

<p class=MsoTitle align=right style='text-align:right'>For &lt;Subsystem or
Feature&gt;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoTitle align=right style='text-align:right'><span style='font-size:
14.0pt;'>Version &lt;1.0&gt;</span></p>

<p class=MsoTitle><span style='font-size:14.0pt;'>&nbsp;</span></p>

<p class=MsoNormal align=right style='text-align:right'>&nbsp;</p>

<p class=InfoBlue>[Note: The following template is provided for use with the
Rational Unified Process. Text enclosed
in square brackets and displayed in blue italics (style=InfoBlue) is included
to provide guidance to the author and should be deleted before publishing the
document. A paragraph entered following this style will automatically be set to
normal (style=Body Text).]</p>

</div>

<p>

<span style='font-size:10.0pt;font-family:"Times New Roman";'><br clear=all
style='page-break-before:always;'>
</span>

</p>

<div class=Section2>

<p class=MsoTitle>Revision History</p>

<table border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
 border:none;'>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Date</b></p>
  </td>
  <td width=77 valign=top style='width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Version</b></p>
  </td>
  <td width=250 valign=top style='width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Description</b></p>
  </td>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Author</b></p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;dd/mmm/yy&gt;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;x.x&gt;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;details&gt;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;name&gt;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<b><span style='font-size:18.0pt;font-family:Arial;'><br clear=all style='page-break-before:always'>
</span></b>

<p class=MsoTitle>Table of Contents</p>

<p class=MsoToc1><a href="#1.                  Introduction">1.<span style='font-size:12.0pt'>       </span>Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.1     Purpose">1.1<span
style='font-size:12.0pt'>     </span>Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.2     Scope">1.2<span
style='font-size:12.0pt'>     </span>Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.3     Definitions, Acronyms and Abbreviations">1.3<span
style='font-size:12.0pt'>     </span>Definitions,
Acronyms and Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.4     References">1.4<span
style='font-size:12.0pt'>     </span>References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.5     Overview">1.5<span
style='font-size:12.0pt'>     </span>Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#2.                  Overall Description">2.<span style='font-size:12.0pt'>       </span>Overall
Description</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#3.                  Specific Requirements">3.<span style='font-size:12.0pt'>       </span>Specific
Requirements</a></p>

<p class=MsoToc2><a href="#3.1     Functionality">3.1<span
style='font-size:12.0pt'>     </span>Functionality     </a></p>

<p class=MsoToc3><a href="#3.1.1     &lt;Functional Requirement One&gt;">3.1.1<span
style='font-size:12.0pt'>         </span>&lt;Functional
Requirement One&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.2               Usability">3.2<span
style='font-size:12.0pt'>     </span>Usability&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.2.1          &lt;Usability Requirement One&gt;">3.2.1<span
style='font-size:12.0pt'>         </span>&lt;Usability
Requirement One&gt;</a>           </p>

<p class=MsoToc2><a href="#3.3     Reliability">3.3<span
style='font-size:12.0pt'>     </span>Reliability</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.3.1          &lt;Reliability Requirement One&gt;">3.3.1<span
style='font-size:12.0pt'>         </span>&lt;Reliability
Requirement One&gt;</a>           </p>

<p class=MsoToc2><a href="#3.4     Performance">3.4<span
style='font-size:12.0pt'>     </span>Performance</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.4.1          &lt;Performance Requirement One&gt;">3.4.1<span
style='font-size:12.0pt'>         </span>&lt;Performance
Requirement One&gt;</a>           </p>

<p class=MsoToc2><a href="#3.5     Supportability">3.5<span
style='font-size:12.0pt'>     </span>Supportability</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.5.1          &lt;Supportability Requirement One&gt;">3.5.1<span
style='font-size:12.0pt'>         </span>&lt;Supportability
Requirement One&gt;</a>           </p>

<p class=MsoToc2><a href="#3.6     Design Constraints">3.6<span
style='font-size:12.0pt'>     </span>Design Constraints</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.6.1          &lt;Design Constraint One&gt;">3.6.1<span
style='font-size:12.0pt'>         </span>&lt;Design
Constraint One&gt;</a>           </p>

<p class=MsoToc2><a href="#3.7     On-line User Documentation and Help System Requirements">3.7<span
style='font-size:12.0pt'>     </span>Online
User Documentation and Help System Requirements</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.8     Purchased Components">3.8<span
style='font-size:12.0pt'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Purchased Components</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.9     Interfaces">3.9<span
style='font-size:12.0pt'>     </span>Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.9.1          User Interfaces">3.9.1<span
style='font-size:12.0pt'>         </span>User Interfaces&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.9.2          Hardware Interfaces">3.9.2<span
style='font-size:12.0pt'>         </span>Hardware Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.9.3          Software Interfaces">3.9.3<span
style='font-size:12.0pt'>         </span>Software Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#3.9.4          Communications Interfaces">3.9.4<span
style='font-size:12.0pt'>         </span>Communications Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.10     Licensing Requirements">3.10<span
style='font-size:12.0pt'>     </span>Licensing Requirements&nbsp;</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.11     Legal, Copyright, and Other Notices">3.11<span
style='font-size:12.0pt'>     </span>Legal,
Copyright and Other Notices</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.12     Applicable Standards">3.12<span
style='font-size:12.0pt'>     </span>Applicable Standards</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#4.                  Supporting Information">4.<span style='font-size:12.0pt'>       </span>Supporting
Information</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoTitle><br
clear=all style='page-break-before:always'>Software Requirements
Specification </p>

<h1><a name="1.                  Introduction">1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a></h1>

<p class=InfoBlue>[The introduction of the <b>Software Requirements
Specification (SRS) </b>should provide an overview of the entire <b>SRS</b>. It
should include the purpose, scope, definitions, acronyms, abbreviations,
references, and overview of the <b>SRS</b>.]</p>

<p class=InfoBlue>[Note: The Software Requirements Specification (<b>SRS</b>)
captures the complete software requirements for the system, or a portion of the
system.&nbsp; Following is a typical <b>SRS</b> outline for a project using
only traditional natural-language style requirements – with <b>no use-case
modeling.  </b>It captures all
requirements in a single document, 
with  applicable sections
inserted from the  Supplementary
Specifications (which would no longer be needed).  For a template of an <b>SRS</b> using use-case modeling, which
consists of a package containing Use-Cases of the use-case model and applicable
Supplementary Specifications and other supporting information, see rup_<b>SRS</b>-uc.dot.]</p>

<p class=InfoBlue>[Many different arrangements of an <b>SRS</b> are
possible.  Refer to [IEEE830-1998] for
further elaboration of these explanations, as well as other options for <b>SRS</b>
organization.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="1.1     Purpose">1.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Purpose</a></h2>

<p class=InfoBlue>[Specify the purpose of this <b>SRS</b>. The <b>SRS</b>
should fully describe the external behavior of the application or subsystem
identified. It also describes nonfunctional requirements, design constraints
and other factors necessary to provide a complete and comprehensive description
of the requirements for the software.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="1.2     Scope">1.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Scope</a></h2>

<p class=InfoBlue>[A brief description of the software application that the <b>SRS</b>
applies to; the feature or other subsystem grouping; what Use-Case model(s) it
is associated with;  and anything else
that is affected or influenced by this document.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="1.3     Definitions, Acronyms and Abbreviations">1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Definitions,
Acronyms and Abbreviations</a></h2>

<p class=InfoBlue>[This subsection should provide the definitions of all terms,
acronyms, and abbreviations required to properly interpret the <b>SRS</b>.&nbsp;
This information may be provided by reference to the project Glossary.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="1.4     References">1.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>References</a></h2>

<p class=InfoBlue>[This subsection should provide a complete list of all
documents referenced elsewhere in the <b>SRS</b>.  Each document should be identified by title, report number (if
applicable), date, and publishing organization.  Specify the sources from which the references can be obtained.
This information may be provided by reference to an appendix or to another document.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="1.5     Overview">1.5<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Overview</a></h2>

<p class=InfoBlue>[This subsection should describe what the rest of the <b>SRS</b>
contains and explain how the document is organized.]</p>

<h1><a name="2.                  Overall Description">2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overall Description</a></h1>

<p class=InfoBlue>[This section of the <b>SRS</b> should describe the general
factors that affect the product and its requirements.  This section does not state specific requirements.  Instead, it provides a background for those
requirements, which are defined in detail in Section 3, and makes them easier
to understand. Include such items as: </p>

<p class=InfoBlue>•               product
perspective</p>

<p class=InfoBlue>•               product
functions</p>

<p class=InfoBlue>•              user
characteristics</p>

<p class=InfoBlue>•               constraints</p>

<p class=InfoBlue>•               assumptions
and dependencies</p>

<p class=InfoBlue>•               requirements
subsets]</p>

<h1><a name="3.                  Specific Requirements">3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Specific Requirements</a> </h1>

<p class=InfoBlue>[This section of the <b>SRS</b> should contain all the
software requirements to a level of detail sufficient to enable designers to
design a system to satisfy those requirements, and testers to test that the
system satisfies those requirements. &nbsp; When using use-case modeling, these
requirements are captured in the Use-Cases and the applicable supplementary
specifications.  If use-case modeling is
not used, the outline for supplementary specifications may be inserted directly
into this section, as shown below.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.1     Functionality">3.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Functionality</a></h2>

<p class=InfoBlue>[This section describes the functional requirements of the
system for those requirements which are expressed in the natural language
style. For many applications, this may constitute the bulk of the <b>SRS</b>
Package and thought should be given to the organization of this section. This
section is typically organized by feature, but alternative organization methods
may also be appropriate, for example, organization by user or organization by
subsystem.  Functional requirements may
include feature sets, capabilities, and security.</p>

<p class=InfoBlue>Where application development tools, such as requirements
tools, modeling tools, etc., are employed to capture the functionality, this
section document will refer to the availability of that data, indicating the
location and name of the tool that is used to capture the data.]</p>

<h3 style='margin-left:0in;text-indent:0in'><a name="3.1.1     &lt;Functional Requirement One&gt;">3.1.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>&lt;Functional
Requirement One&gt;</a></h3>

<p class=InfoBlue>[The requirement description.]</p>

<h2 style='margin-left:.5in;text-indent:-.5in'><a name="3.2               Usability">3.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Usability</a> </h2>

<p class=InfoBlue>[This section should include all of those requirements that
affect usability. For example,</p>

<p class=InfoBlue>•               specify
the required training time for a normal users and a power user to become
productive at particular operations</p>

<p class=InfoBlue>•               specify
measurable task times for typical tasks or base the new system’s usability
requirements on other systems that the users know and like</p>

<p class=InfoBlue>•               specify
requirement to conform to common usability standards, such as IBM’s CUA
standards Microsoft’s GUI standards]</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.2.1          &lt;Usability Requirement One&gt;">3.2.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Usability Requirement One&gt;</a></h3>

<p class=InfoBlue>[The requirement description goes here.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.3     Reliability">3.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Reliability</a>
</h2>

<p class=InfoBlue>[Requirements for reliability of the system should be
specified here. Some suggestions follow:</p>

<p class=InfoBlue>•               Availability&#151;specify
the percentage of time available ( xx.xx%), hours of use, maintenance access,
degraded mode operations, etc.</p>

<p class=InfoBlue>•               Mean
Time Between Failures (MTBF) &#151; this is usually specified in hours, but it could
also be specified in terms of days, months or years.</p>

<p class=InfoBlue>•               Mean
Time To Repair (MTTR)&#151;how long is the system allowed to be out of operation
after it has failed?</p>

<p class=InfoBlue>•               Accuracy&#151;specify
precision (resolution) and accuracy (by some known standard) that is required
in the system’s output.</p>

<p class=InfoBlue>•               Maximum
Bugs or Defect Rate&#151;usually expressed in terms of bugs per thousand of lines of
code (bugs/KLOC) or bugs per function-point( bugs/function-point).</p>

<p class=InfoBlue>•               Bugs or
Defect Rate&#151;categorized in terms of minor, significant, and critical bugs: the
requirement(s) must define what is meant by a &#147;critical&#148; bug; for example,
complete loss of data or a complete inability to use certain parts of the
system’s functionality.]</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.3.1          &lt;Reliability Requirement One&gt;">3.3.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Reliability Requirement One&gt;</a></h3>

<p class=InfoBlue>[The requirement description.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.4     Performance">3.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Performance</a></h2>

<p class=InfoBlue>[The system’s performance characteristics should be outlined
in this section. Include specific response times. Where applicable, reference
related Use Cases by name.</p>

<p class=InfoBlue>•               response
time for a transaction (average, maximum)</p>

<p class=InfoBlue>•               throughput,
for example, transactions per second</p>

<p class=InfoBlue>•               capacity,
for example, the number of customers or transactions the system can accommodate</p>

<p class=InfoBlue>•               degradation
modes (what is the acceptable mode of operation when the system has been
degraded in some manner)</p>

<p class=InfoBlue>•               resource
utilization, such as memory, disk, communications, etc.</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.4.1          &lt;Performance Requirement One&gt;">3.4.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Performance Requirement One&gt;</a></h3>

<p class=InfoBlue>[The requirement description goes here.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.5     Supportability">3.5<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Supportability</a></h2>

<p class=InfoBlue>[This section indicates any requirements that will enhance
the supportability or maintainability of the system being built, including
coding standards, naming conventions, class libraries, maintenance access,
maintenance utilities.]</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.5.1          &lt;Supportability Requirement One&gt;">3.5.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Supportability Requirement One&gt;</a></h3>

<p class=InfoBlue>[The requirement description goes here.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.6     Design Constraints">3.6<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Design
Constraints</a></h2>

<p class=InfoBlue>[This section should indicate any design constraints on the
system being built. Design constraints represent design decisions that have
been mandated and must be adhered to. 
Examples include software languages, software process requirements, prescribed
use of developmental tools, architectural and design constraints, purchased
components, class libraries, etc.]</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.6.1          &lt;Design Constraint One&gt;">3.6.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Design Constraint One&gt;</a></h3>

<p class=InfoBlue>[The requirement description goes here.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.7     On-line User Documentation and Help System Requirements">3.7<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>On-line
User Documentation and Help System Requirements</a></h2>

<p class=InfoBlue>[Describes the requirements, if any, for on-line user documentation,
help systems, help about notices, etc.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.8     Purchased Components">3.8<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Purchased
Components</a></h2>

<p class=InfoBlue>[This section describes any purchased components to be used
with the system, any applicable licensing or usage restrictions, and any
associated compatibility and interoperability or interface standards.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.9     Interfaces">3.9<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Interfaces</a></h2>

<p class=InfoBlue>[This section defines the interfaces that must be supported
by the application. It should contain adequate specificity, protocols, ports
and logical addresses, etc. so that the software can be developed and verified
against the interface requirements.]</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.9.1          User Interfaces">3.9.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>User Interfaces</a></h3>

<p class=InfoBlue>[Describe the user interfaces that are to be implemented by
the software.]</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.9.2          Hardware Interfaces">3.9.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Hardware Interfaces</a></h3>

<p class=InfoBlue>[This section defines any hardware interfaces that are to be
supported by the software, including logical structure, physical addresses,
expected behavior, etc. ]</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.9.3          Software Interfaces">3.9.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Software Interfaces</a></h3>

<p class=InfoBlue>[This section describes software interfaces to other
components of the software system. These may be purchased components,
components reused from another application or components being developed for
subsystems outside of the scope of this <b>SRS</b> but with which this software
application must interact.]</p>

<h3 style='margin-left:.5in;text-indent:-.5in'><a name="3.9.4          Communications Interfaces">3.9.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Communications Interfaces</a></h3>

<p class=InfoBlue>[Describe any communications interfaces to other systems or
devices such as local area networks, remote serial devices, etc.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.10     Licensing Requirements">3.10<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Licensing
Requirements</a></h2>

<p class=InfoBlue>[Defines any licensing enforcement requirements or other
usage restriction requirements that are to be exhibited by the software.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.11     Legal, Copyright, and Other Notices">3.11<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Legal,
Copyright, and Other Notices</a></h2>

<p class=InfoBlue>[This section describes any necessary legal disclaimers, warranties,
copyright notices, patent notice, wordmark, trademark, or logo compliance
issues for the software.]</p>

<h2 style='margin-left:0in;text-indent:0in'><a name="3.12     Applicable Standards">3.12<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Applicable
Standards</a></h2>

<p class=InfoBlue>[This section describes by reference any applicable standard
and the specific sections of any such standards which apply to the system being
described. For example, this could include legal, quality and regulatory
standards, industry standards for usability, interoperability,
internationalization, operating system compliance, etc.]</p>

<h1><a name="4.                  Supporting Information">4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Supporting Information</a></h1>

<p class=InfoBlue>[The supporting information makes the <b>SRS</b> easier to
use.  It includes:</p>

<p class=InfoBlue>•               Table of
contents</p>

<p class=InfoBlue>•              Index</p>

<p class=InfoBlue>•               Appendices</p>

<p class=InfoBlue>These may include use-case storyboards or user-interface
prototypes. When appendices are included, the <b>SRS</b> should explicitly
state whether or not the appendices are to be considered part of the
requirements.]</p>

</div>

</body>

</html>
