<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Requirements Management Plan</rpw>
-- RPW META DATA END -->
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name=Originator content="Microsoft Word 9">
<title>Requirements Management Plan</title>
<style>
<!--
 
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;
	font-weight:bold;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:bold;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-indent:0in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}
h4
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc4, li.MsoToc4, div.MsoToc4
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:30.0pt;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}


a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
p.infoblue0, li.infoblue0, div.infoblue0
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}

-->
</style>
</head>

<body lang=EN-US link=blue vlink=purple>

<div class=Section1>

<p class=MsoTitle align=right style='text-align:right'>&lt;Project Name&gt;</p>

<p class=MsoTitle align=right style='text-align:right'>Requirements Management Plan</p>

<p class=MsoTitle align=right style='text-align:right'>&nbsp;</p>

<p class=MsoTitle align=right style='text-align:right'><span style='font-size:
14.0pt;'>Version &lt;1.0&gt;</span></p>

<p class=MsoTitle><span style='font-size:14.0pt;'>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=InfoBlue>[Note:  The following
template is provided for use with the Rational Unified Process. Text enclosed
in square brackets and displayed in blue italics (style=InfoBlue) is included
to provide guidance to the author and should be deleted before publishing the
document. A paragraph entered following this style will automatically be set to
normal (style=Body Text).]</p>

<p class=InfoBlue>&nbsp; </p>

</div>

<span style='font-size:10.0pt;font-family:"Times New Roman";'><br clear=all style='page-break-before:always;'>
</span>

<div class=Section2>

<p class=MsoTitle>Revision History</p>

<table border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
 border:none;'>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Date</b></p>
  </td>
  <td width=77 valign=top style='width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Version</b></p>
  </td>
  <td width=250 valign=top style='width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Description</b></p>
  </td>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Author</b></p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;dd/mmm/yy&gt;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;x.x&gt;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;details&gt;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;name&gt;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
      <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt' height="20"> 
        <p class=Tabletext>&nbsp;</p>
  </td>
      <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt' height="20"> 
        <p class=Tabletext>&nbsp;</p>
  </td>
      <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt' height="20"> 
        <p class=Tabletext>&nbsp;</p>
  </td>
      <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt' height="20"> 
        <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<b><span style='font-size:18.0pt;font-family:Arial;'><br clear=all style='page-break-before:always'>
</span></b>

<p class=MsoTitle>Table of Contents</p>

<p class=MsoToc1><span
class=MsoHyperlink><span style='color:blue'><a href="#_Introduction">1.<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>     </span>Introduction<span
style='color:windowtext;display:none;text-decoration:none;'>  </span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Purpose">1.1<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>      </span>Purpose<span style='color:windowtext;
display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Scope">1.2<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>      </span>Scope<span style='color:windowtext;
display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Definitions,_Acronyms,_and">1.3<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>      </span>Definitions, Acronyms,
and Abbreviations<span style='color:windowtext;display:none;
text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_References">1.4<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>      </span>References<span style='color:windowtext;
display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Overview">1.5<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>      </span>Overview<span style='color:windowtext;
display:none;text-decoration:none;'>  &nbsp;</span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span
style='color:blue'><a href="#_Requirements_Management">2.<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>     </span>Requirements Management</a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Organization,_Responsibilities,_and">2.1<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>      </span>Organization,
Responsibilities, and Interfaces<span style='color:windowtext;display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Tools,_Environment,_and">2.2<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>      </span>Tools, Environment, and
Infrastructure<span style='color:windowtext;display:none;
text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span
style='color:blue'><a href="#_The_Requirements_Management">3.<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>     </span>The Requirements
Management Program<span style='color:windowtext;display:none;
text-decoration:none;'>  &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Requirements_Identification">3.1<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>      </span>Requirements
Identification<span style='color:windowtext;display:none;
text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Traceability">3.2<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>      </span>Traceability<span style='color:
windowtext;display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc3><span style='color:blue'><a
href="#_Criteria_for_&lt;traceability">3.2.1<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>    </span>Criteria for &lt;traceability
item&gt;<span style='color:windowtext;display:none;text-decoration:
none;'> &nbsp;</span></a></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Attributes">3.3<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>      </span>Attributes<span style='color:windowtext;
display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc3><span
class=MsoHyperlink><span style='color:blue'><a
href="#_Attributes_for_&lt;traceability">3.3.1<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>    </span>Attributes for &lt;traceability
item&gt;<span style='color:windowtext;display:none;text-decoration:
none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Reports_and_Measures">3.4<span style='font-size:
12.0pt;color:windowtext;text-decoration:none;'>      </span>Reports and Measures<span
style='color:windowtext;display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Requirements_Change_Management">3.5<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>      </span>Requirements Change
Management</a></span></span></p>

<p class=MsoToc3><span
class=MsoHyperlink><span style='color:blue'><a
href="#_Change_Request_Processing">3.5.1<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>    </span>Change Request Processing and
Approval</a></span></span></p>

<p class=MsoToc3><span
class=MsoHyperlink><span style='color:blue'><a href="#_Change_Control_Board">3.5.2<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>    </span>Change Control Board
(CCB)</a></span></span></p>

<p class=MsoToc3><span
class=MsoHyperlink><span style='color:blue'><a href="#_Project_Baselines">3.5.3<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>    </span>Project Baselines<span
style='color:windowtext;display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc2><span class=MsoHyperlink><span
style='color:blue'><a href="#_Workflows_and_Activities">3.6<span
style='font-size:12.0pt;color:windowtext;text-decoration:none;'>      </span>Workflows and
Activities<span style='color:windowtext;display:none;
text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span
style='color:blue'><a href="#_Milestones">4.<span style='font-size:12.0pt;
color:windowtext;text-decoration:none;'>     </span>Milestones<span style='color:windowtext;
display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoToc1><span class=MsoHyperlink><span
style='color:blue'><a href="#_Training_and_Resources">5.<span style='font-size:
12.0pt;color:windowtext;text-decoration:none;'>     </span>Training and Resources<span
style='color:windowtext;display:none;text-decoration:none;'> &nbsp;</span></a></span></span></p>

<p class=MsoTitle><br clear=all style='page-break-before:
always'>Requirements Management
Plan</p>

<h1><a name="_Toc487626945"></a><a name="1.__________________Introduction"></a><a
name="_Toc487881377"></a><a name="_Introduction"></a>1.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Introduction</h1>

<p class=infoblue0>[The introduction of the <b>Requirements Management Plan </b>&nbsp;provides an overview of the entire document. It includes the purpose,
scope, definitions, acronyms, abbreviations, references, and overview of this <b>Requirements
Management Plan</b>.]</p>

<h2><a name="_Toc487626946"></a><a name="1.1_______________Purpose"></a><a
name="_Purpose"></a>1.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:7.0pt;
font-family:"Times New Roman"'> </span><a
name="_Toc487881378">Purpose</a></h2>

<p class=infoblue0>[Specify the purpose of this <b>Requirements Management
Plan.</b>]</p>

<h2><a name="_Toc487626947"></a><a name="1.2_______________Scope"></a><a
name="_Scope"></a>1.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:7.0pt;
font-family:"Times New Roman"'> </span><a
name="_Toc487881379">Scope</a></h2>

<p class=infoblue0>[A brief description of the scope of this <b>Requirements
Management Plan</b>.]</p>

<h2><a name="_Toc487626948"></a><a
name="1.3_______________Definitions,_Acronyms_"></a><a
name="_Definitions,_Acronyms,_and"></a>1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881380">Definitions,
Acronyms, and Abbreviations</a></h2>

<p class=infoblue0>[This subsection provides the definitions of all
terms, acronyms, and abbreviations required to properly interpret the <b>Requirements
Management Plan</b>.&nbsp; This information may be provided by reference to the
project's Glossary.]</p>

<h2><a name="_Toc487626949"></a><a name="1.4_______________References"></a><a
name="_References"></a>1.4<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:
7.0pt;font-family:"Times New Roman"'> </span><a
name="_Toc487881381">References</a></h2>

<p class=infoblue0>[This subsection should provide a complete list of all
documents referenced elsewhere in the <b>Requirements Management Plan</b>.&nbsp;
Each document is identified by title, report number if applicable,
date, and publishing organization.&nbsp; Specify the sources from which the
references can be obtained. This information may be provided by reference to an
appendix or to another document.]</p>

<h2><a name="_Toc487626950"></a><a name="1.5_______________Overview"></a><a
name="_Overview"></a>1.5<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span style='font-size:7.0pt;
font-family:"Times New Roman"'> </span><a
name="_Toc487881382">Overview</a></h2>

<p class=infoblue0>[This subsection describes what the rest of the <b>Requirements
Management Plan</b> contains and explains how the document is organized.]</p>

<h1><a name="_Toc487626951"></a><a
name="2.__________________Software_Configurati"></a><a name="_Toc487881383"></a><a
name="_Requirements_Management"></a>2.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Requirements Management</h1>

<h2><a name="_Toc487626952"></a><a
name="2.1_______________Organization,_Responsi"></a><a
name="_Organization,_Responsibilities,_and"></a>2.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881384">Organization,
Responsibilities, and Interfaces</a></h2>

<p class=infoblue0>[Describe who is going to be responsible for performing the
various activities described in the requirements workflows.]</p>

<h2><a name="_Toc487626953"></a><a
name="2.2_______________Tools,_Environment_and"></a><a
name="_Tools,_Environment,_and"></a>2.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881385">Tools,
Environment, and Infrastructure</a></h2>

<p class=infoblue0>[Describe the computing environment and software tools to be
used in fulfilling the Requirements Management functions throughout the project
or product lifecycle. </p>

<p class=infoblue0>Describe the tools and procedures used to version control
Requirements items generated throughout the project or product lifecycle.]</p>

<h1><a name="_Toc487626954"></a><a name="3.__________________The_CM_Program"></a><a
name="_Toc487881386"></a><a name="_The_Requirements_Management"></a>3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>The Requirements Management Program</h1>

<h2><a name="_Toc487626955"></a><a
name="3.1_______________Configuration_Identifi"></a><a
name="_Requirements_Identification"></a>3.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881387">Requirements
Identification</a></h2>

<p class=infoblue0>[Describe traceability items, and define how they are to be
named, marked, and numbered.&nbsp; (A traceability item is any project element
that needs to be explicitly traced from another textual, or model item to keep track of the dependencies between them.&nbsp; With respect to
Rational RequisitePro this definition can be rephrased as: any project element
represented within RequisitePro by an instance of a RequisitePro requirement
type.)]</p>

<p class=infoblue0>[For each type of requirement document or artifact in your
project, list the traceability items contained in it and briefly explain what
it is used for.&nbsp; You may also wish to list the responsible role.]</p>

<p class=MsoBodyText>&nbsp;</p>

  <table border=1 cellspacing=0 cellpadding=0 style='margin-left:42.55pt;
 border-collapse:collapse;'>
    <tr>
  <td width=148 valign=top style='width:111.1pt;border-top:double 2.25pt;
  border-left:double 2.25pt;border-bottom:solid .75pt;border-right:solid .75pt;
  border-color:black;padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText align=center style='margin-left:0in;text-align:center'><b>Artifact</b></p>
  <p class=MsoBodyText align=center style='margin-left:0in;text-align:center'><b>(Document
  Type)</b></p>
  </td>
  <td width=219 valign=top style='width:164.2pt;border-top:double black 2.25pt;
  border-left:none;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText align=center style='margin-left:0in;text-align:center'><b>Traceability
  Item</b></p>
  </td>
  <td width=216 valign=top style='width:162.05pt;border-top:double black 2.25pt;
  border-left:none;border-bottom:solid black .75pt;border-right:double black 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText align=center style='margin-left:0in;text-align:center'><b>Description</b></p>
  </td>
 </tr>
 <tr>
  <td width=148 valign=top style='width:111.1pt;border-top:none;border-left:
  double black 2.25pt;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Stakeholder Requests (STR)</p>
  </td>
  <td width=219 valign=top style='width:164.2pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Stakeholder Request (STRQ)</p>
  </td>
  <td width=216 valign=top style='width:162.05pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:double black 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Key requests, including Change
  Requests, from stakeholders.</p>
  <p class=InfoBlue style='margin-left:0in'>[If you use a Change Request Management tool,
  such as Rational ClearQuest, then stakeholder requests are often stored in that tool and not duplicated in the
  requirements management tool.]</p>
  </td>
 </tr>
 <tr>
  <td width=148 valign=top style='width:111.1pt;border-top:none;border-left:
  double black 2.25pt;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Vision (VIS)</p>
  </td>
  <td width=219 valign=top style='width:164.2pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Stakeholder Need (NEED)</p>
  </td>
  <td width=216 valign=top style='width:162.05pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:double black 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Key stakeholder or user need</p>
  </td>
 </tr>
 <tr>
  <td width=148 valign=top style='width:111.1pt;border-top:none;border-left:
  double black 2.25pt;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Vision (VIS)</p>
  </td>
  <td width=219 valign=top style='width:164.2pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Feature (FEAT)</p>
  </td>
  <td width=216 valign=top style='width:162.05pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:double black 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Conditions or capabilities of
  this release of the system</p>
  </td>
 </tr>
 <tr>
  <td width=148 valign=top style='width:111.1pt;border-top:none;border-left:
  double black 2.25pt;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Use-Case Model</p>
  </td>
  <td width=219 valign=top style='width:164.2pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Use Case (UC)</p>
  </td>
  <td width=216 valign=top style='width:162.05pt;border-top:none;border-left:
  none;border-bottom:solid black .75pt;border-right:double black 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Use cases for this release,
  documented in Rational Rose</p>
  </td>
 </tr>
 <tr>
  <td width=148 valign=top style='width:111.1pt;border-top:none;border-left:
  double black 2.25pt;border-bottom:double black 2.25pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Supplementary Specification (SS)</p>
  </td>
  <td width=219 valign=top style='width:164.2pt;border-top:none;border-left:
  none;border-bottom:double black 2.25pt;border-right:solid black .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Supplementary Requirement (SUPP)</p>
  </td>
  <td width=216 valign=top style='width:162.05pt;border-top:none;border-left:
  none;border-bottom:double black 2.25pt;border-right:double black 2.25pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=MsoBodyText style='margin-left:0in'>Non-functional requirements that
  are not captured in the use-case model</p>
  </td>
 </tr>
</table>

<p class=infoblue0>&nbsp;</p>

<h2><a name="_Toc487626956"></a><a name="_Traceability"></a>3.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881388">Traceability</a></h2>

<p class=infoblue0>[Overview of traceability; for example, a traceability graph.]</p>

<h3 style='margin-left:0in;text-indent:0in'><a name="_Toc487626957"></a><a
name="_Criteria_for_&lt;traceability"></a>3.2.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881389">Criteria for
&lt;traceability item&gt;</a> </h3>

<p class=infoblue0>[For each traceability item you have identified, list any
additional rules or guidelines that apply to traceability links.  Describe 
any applicable constraints, such as &#147;every approved feature must trace
to one or more Use Cases or to one or more Supplementary Requirements&#148;.]</p>

<h2><a name="_Toc487626958"></a><a name="_Attributes"></a>3.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881390">Attributes</a></h2>

<h3 style='margin-left:0in;text-indent:0in'><a name="_Toc487626959"></a><a
name="_Attributes_for_&lt;traceability"></a>3.3.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881391">Attributes for
&lt;traceability item&gt;</a> </h3>

<p class=infoblue0>[For each traceability item you have identified, list what
attributes you will be using and briefly explain what they mean.&nbsp; For example,
the following attributes might be specified for a traceability item of
&quot;feature&quot;.]</p>

<h4 style='margin-left:0in;text-indent:0in;'><a
name="_Toc487626960"><b>Status</b></a></h4>

<p class=infoblue0>[Set after negotiation and review by the project management
team. Tracks progress during definition of the project baseline.] </p>

<table border=1 cellpadding=0 width="85%" style='width:85.0%;margin-left:1.0in;border:outset gray .75pt;'>
 <tr>
  <td width="21%" valign=top style='width:21.76%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=MsoNormal>Proposed</p>
  </td>
  <td width="77%" valign=top style='width:77.14%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=infoblue0 style='margin-left:0in;text-align:justify'>[Used to
  describe features that are under discussion but have not yet been reviewed
  and accepted by the &quot;official channel,&quot; such as a working group
  consisting of representatives from the project team, product management, and
  user or customer community.]</p>
  </td>
 </tr>
 <tr>
  <td width="21%" valign=top style='width:21.76%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=MsoNormal>Approved</p>
  </td>
  <td width="77%" valign=top style='width:77.14%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=infoblue0 style='margin-left:0in;text-align:justify'>[Capabilities that
  are deemed useful and feasible, and have been approved for implementation by
  the official channel.]</p>
  </td>
 </tr>
 <tr>
  <td width="21%" valign=top style='width:21.76%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=MsoNormal>Rejected</p>
  </td>
  <td width="77%" valign=top style='width:77.14%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=infoblue0 style='margin-left:0in;text-align:justify'>[Rejected by
  the official channel.]</p>
  </td>
 </tr>
 <tr>
  <td width="21%" valign=top style='width:21.76%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=MsoNormal>Incorporated</p>
  </td>
  <td width="77%" valign=top style='width:77.14%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=infoblue0 style='margin-left:0in;text-align:justify'>[Features
  incorporated into the product baseline at a specific point in time.]</p>
  </td>
 </tr>
</table>

<h4 style='margin-left:0in;text-indent:0in;'><a
name="_Toc487626961"><b>Benefit</b></a></h4>

<p class=infoblue0>[Set by Marketing, the product manager or the business
analyst. All requirements are not created equal. Ranking requirements by their
relative benefit to the end user opens a dialogue with customers, analysts, and
members of the development team. Used in managing scope and determining
development priority.] </p>

<table border=1 cellpadding=0 width="85%" style='width:85.0%;margin-left:1.0in;border:outset gray .75pt;'>
 <tr>
  <td width="18%" valign=top style='width:18.0%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=MsoNormal>Critical</p>
  </td>
  <td width="82%" valign=top style='width:82.0%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=infoblue0 style='margin-left:0in'>[Essential features. Failure to
  implement means the system will not meet customer needs. All critical
  features must be implemented in the release or the schedule will slip.]</p>
  </td>
 </tr>
 <tr>
  <td width="18%" valign=top style='width:18.0%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=MsoNormal>Important</p>
  </td>
  <td width="82%" valign=top style='width:82.0%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=infoblue0 style='margin-left:0in'>[Features important to the
  effectiveness and efficiency of the system for most applications. The
  functionality cannot be easily provided in some other way. Lack of inclusion
  of an important feature may affect customer or user satisfaction, or even
  revenue, but release will not be delayed due to lack of any important
  feature.]</p>
  </td>
 </tr>
 <tr>
  <td width="18%" valign=top style='width:18.0%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=MsoNormal>Useful</p>
  </td>
  <td width="82%" valign=top style='width:82.0%;border:inset gray .75pt;
  padding:5.25pt 5.25pt 5.25pt 5.25pt'>
  <p class=infoblue0 style='margin-left:0in'>[Features that are useful in less
  typical applications or for which reasonably efficient workarounds can be
  achieved will be used less frequently.&nbsp; No significant revenue or
  customer satisfaction impact can be expected if such an item is not included
  in a release.]</p>
  </td>
 </tr>
</table>

<h4 style='margin-left:0in;text-indent:0in;'><a
name="_Toc487626962"><b>Effort</b></a></h4>

<p class=infoblue0>[Set by the development team. Because some features require
more time and resources than others, estimating the number of team or
person-weeks, lines of code required or function points, for example, is the
best way to gauge complexity and set expectations of what can and cannot be
accomplished in a given time frame. Used in managing scope and determining
development priority.]</p>

<h4 style='margin-left:0in;text-indent:0in;'><a
name="_Toc487626963"><b>Risk</b></a></h4>

<p class=infoblue0>[Set by the development team and based on the probability the
project will experience undesirable events, such as cost overruns, schedule
delays or even cancellation. Most project managers find categorizing risks as
high, medium, and low to be sufficient, although finer gradations are possible.
Risk can often be assessed indirectly by measuring the uncertainty (range) of
the projects’ team’s estimated schedule.]</p>

<h4 style='margin-left:0in;text-indent:0in;'><a
name="_Toc487626964"><b>Stability</b></a></h4>

<p class=infoblue0>[Set by the analyst and development team, this is based on
the probability that the feature will change or the team’s understanding of the
feature will change. Used to help establish development priorities and
determine those items for which additional elicitation is the appropriate next
action.]</p>

<h4 style='margin-left:0in;text-indent:0in;'><a
name="_Toc487626965"><b>Target Release</b></a></h4>

<p class=infoblue0>[Records the intended product version in which the feature
will first appear. This field can be used to allocate features from a <b>Vision</b>
document into a particular baseline release. When combined with the status
field, your team can propose, record, and discuss various features of the
release without committing them to development. Only features whose Status is
set to Incorporated and whose Target Release is defined will be implemented.
When scope management occurs, the Target Release Version Number can be
increased so the item will remain in the <b>Vision</b> document, but will be
scheduled for a later release.]</p>

<h4 style='margin-left:0in;text-indent:0in;'><a
name="_Toc487626966"><b>Assigned To</b></a></h4>

<p class=infoblue0>[In many projects, features will be assigned to
&quot;feature teams&quot; responsible for further elicitation, writing the
software requirements and implementation. This simple pull-down list will help
everyone on the project team to better understand responsibilities.]</p>

<h4 style='margin-left:0in;text-indent:0in;'><a
name="_Toc487626967"><b>Reason</b></a></h4>

<p class=infoblue0>[This text field is used to track the source of the
requested feature. Requirements exist for specific reasons. This field records
an explanation or a reference to an explanation. For example, the reference might
be to a page and line number of a product requirement specification or to a
minute marker on a video of an important customer interview.]</p>

<h2><a name="_Toc487626968"></a><a name="_Reports_and_Measures"></a>3.4<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><span style="font-size: 7.0pt; font-family: Times New Roman">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><a name="_Toc487881392">Reports and
Measures</a></h2>

<p class=infoblue0>[Describe the content, format, and purpose of the requested
reports/measures.</p>

<h2><a name="_Toc487626969"></a><a
name="3.2_______________Configuration_and_Chan"></a><a
name="_Requirements_Change_Management"></a>3.5<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881393">Requirements
Change Management</a></h2>

<h3 style='margin-left:0in;text-indent:0in'><a name="_Toc487626970"></a><a
name="3.2.1__________Change_Request_Processing"></a><a
name="_Change_Request_Processing"></a>3.5.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881394">Change Request
Processing and Approval</a></h3>

<p class=infoblue0>[Describe the process by which problems and changes are
submitted, reviewed, and dispositioned. 
This should include the process for negotiating requirements changes
with customers, and any contractual processes, activities, and constraints].</p>

<h3 style='margin-left:0in;text-indent:0in'><a name="_Toc487626971"></a><a
name="3.2.2__________Change_Control_Board_(CCB"></a><a
name="_Change_Control_Board"></a>3.5.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881395">Change Control
Board (CCB)</a></h3>

<p class=infoblue0>[Describe the membership and procedures for processing
change requests and approvals to be followed by the CCB.]</p>

<h3 style='margin-left:0in;text-indent:0in'><a name="_Toc487626972"></a><a
name="3.1.2__________Project_Baselines"></a><a name="_Project_Baselines"></a>3.5.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='font-size:7.0pt;font-family:"Times New Roman"'> </span><a name="_Toc487881396">Project
Baselines</a></h3>

<p class=infoblue0>[Baselines provide an official standard on which subsequent
work is based and to which only authorized changes are made. </p>

<p class=infoblue0>Describe at what points during the project or product
lifecycle baselines are to be established. The most common baselines would be
at the end of each of the Inception, Elaboration, Construction, and Transition
phases. Baselines could also be generated at the end of iterations within the
various phases or even more frequently.</p>

<p class=infoblue0>Describe who authorizes a baseline and what goes into it.]</p>

<h2><a name="_Toc487626973"></a><a name="_Toc487881397"></a><a
name="_Workflows_and_Activities"></a>3.6<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Workflows and Activities</h2>

<p class=infoblue0>[Describe the workflows and activities that apply to
managing requirements.</p>

<p class=infoblue0>Describe  review
activities, including review objectives, responsibilities, timing, and
procedures].  </p>

<h1><a name="_Toc487626974"></a><a name="4.__________________Milestones"></a><a
name="_Toc487881398"></a><a name="_Milestones"></a>4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Milestones</h1>

<p class=infoblue0>[Identify the internal and customer milestones related to
the Requirements Management effort. This section should include details on when
the Requirements Management Plan itself is to be updated.]</p>

<h1><a name="_Toc487626975"></a><a
name="5.__________________Training_and_Resourc"></a><a name="_Toc487881399"></a><a
name="_Training_and_Resources"></a>5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Training and Resources</h1>

<p class=infoblue0>[Describe the software tools, personnel, and training
required to implement the specified Requirements Management activities.]</p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
