<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Supplementary Specification</rpw>
-- RPW META DATA END -->

<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Supplementary Specification</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>

<body lang="EN-US" link="blue" vlink="purple">
<div class="Section1">
<p class="MsoTitle" align="right" style="text-align:right">&lt;Project Name&gt;</p>
<p class="MsoTitle" align="right" style="text-align:right">Supplementary
Specification</p>
<p class="MsoTitle" align="right" style="text-align:right">&nbsp;</p>
<p class="MsoTitle" align="right" style="text-align:right"><span style="font-size:
14.0pt;">Version &lt;1.0&gt;</span></p>
<p class="MsoNormal">&nbsp;</p>
<p class="InfoBlue">[Note: The following template is provided for use with the
Rational Unified Process. Text enclosed in square brackets and displayed in blue
italics (style=InfoBlue) is included to provide guidance to the author and
should be deleted before publishing the document. A paragraph entered following
this style will automatically be set to normal (style=Body Text).]</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">&nbsp;</p>
</div>

<b><span style="font-size:14.0pt;font-family:Arial;"><br clear="all" style="page-break-before:always;">
</span></b>
<div class="Section2">
<p class="MsoTitle">Revision History</p>

<table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;
 border:none;">
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Date</b></p>
    </td>
    <td width="77" valign="top" style="width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Version</b></p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Description</b></p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Author</b></p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;dd/mmm/yy&gt;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;x.x&gt;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;details&gt;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;name&gt;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
</table>
<p class="MsoNormal">&nbsp;</p>
<b><span style="font-size:18.0pt;font-family:Arial;"><br clear="all" style="page-break-before:always">
</span></b>
<p class="MsoTitle">Table of Contents</p>
<p class="MsoToc1"><a href="#1.                  Introduction">1.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.1               Purpose">1.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.2               Scope">1.2<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.3               Definitions, Acronyms and Abbreviations">1.3<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms and Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.4               References">1.4<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.5               Overview">1.5<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#2.                  Functionality">2.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Functionality</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#2.1               &lt;Functional Requirement One&gt;">2.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Functional Requirement One&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#3.                  Usability">3.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Usability</a></p>
<p class="MsoToc2"><a href="#3.1               &lt;Usability Requirement One&gt;">3.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Usability Requirement One&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#4.                  Reliability">4.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Reliability</a></p>
<p class="MsoToc2"><a href="#4.1               &lt;Reliability Requirement One&gt;">4.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Reliability Requirement One&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#5.                  Performance">5.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Performance</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#5.1               &lt;Performance Requirement One&gt;">5.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Performance Requirement One&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#6.                  Supportability">6.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Supportability</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#6.1               &lt;Supportability Requirement One&gt;">6.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Supportability Requirement One&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#7.                  Design Constraints">7.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Design Constraints</a>&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#7.1               &lt;Design Constraint One&gt;">7.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Design Constraint One&gt;</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#8.                  Online User Documentation and Help System Requirements">8.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Online User Documentation and Help System Requirements</a></p>
<p class="MsoToc1"><a href="#9.                  Purchased Components">9.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purchased Components</a>&nbsp;</p>
<p class="MsoToc1"><a href="#10.             Interfaces">10.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#10.1            User Interfaces">10.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>User Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#10.2            Hardware Interfaces">10.2<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Hardware Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#10.3            Software Interfaces">10.3<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Software Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#10.4            Communications Interfaces">10.4<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Communications Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#11.             Licensing Requirements">11.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Licensing Requirements</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#12.             Legal, Copyright and Other Notices">12.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Legal, Copyright and Other Notices</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#13.             Applicable Standards">13.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Applicable Standards</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoTitle"><br clear="all" style="page-break-before:always">
Supplementary Specification</p>
<h1><a name="1.                  Introduction">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a></h1>
<p class="InfoBlue">[The introduction of the <b>Supplementary Specification </b>should
provide an overview of the entire document. It should include the purpose,
scope, definitions, acronyms, abbreviations, references, and overview of this <b>Supplementary
Specification</b>.</p>
<p class="InfoBlue">The <b>Supplementary Specification</b> captures the system
requirements that are not readily captured in the use cases of the use-case
model. Such requirements include:</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Legal and regulatory requirements, including application
standards.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Quality attributes of the system to be built, including usability,
reliability, performance, and supportability requirements.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Other requirements such as operating systems and environments,
compatibility requirements, and design constraints.]</p>
<h2><a name="1.1               Purpose">1.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a></h2>
<p class="InfoBlue">[Specify the purpose of this <b>Supplementary Specification.</b>]</p>
<h2><a name="1.2               Scope">1.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a></h2>
<p class="InfoBlue">[A brief description of the scope of this <b>Supplementary
Specification</b>; what Project(s) it is associated with, and anything else that
is affected or influenced by this document.]</p>
<h2><a name="1.3               Definitions, Acronyms and Abbreviations">1.3<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms and Abbreviations</a></h2>
<p class="InfoBlue">[This subsection should provide the definitions of all
terms, acronyms, and abbreviations required to properly interpret the <b>Supplementary
Specification</b>.&nbsp; This information may be provided by reference to the
project Glossary.]</p>
<h2><a name="1.4               References">1.4<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a></h2>
<p class="InfoBlue">[This subsection should provide a complete list of all
documents referenced elsewhere in the <b>Supplementary Specification</b>.&nbsp;
Each document should be identified by title, report number (if applicable),
date, and publishing organization.&nbsp; Specify the sources from which the
references can be obtained. This information may be provided by reference to an
appendix or to another document.]</p>
<h2><a name="1.5               Overview">1.5<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a></h2>
<p class="InfoBlue">[This subsection should describe what the rest of the <b>Supplementary
Specification </b>contains and explain how the document is organized.]</p>
<h1><a name="2.                  Functionality">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Functionality</a></h1>
<p class="InfoBlue">[This section describes the functional requirements of the
system for those requirements which are expressed in the natural language style.
For many applications, this may constitute the bulk of the SRS Package and
thought should be given to the organization of this section. This section is
typically organized by feature, but alternative organization methods, for
example organization by user or organization by subsystem, may also be
appropriate.&nbsp; Functional requirements may include feature sets,
capabilities, and security.</p>
<p class="InfoBlue">Where application development tools, such as requirements
tools, modeling tools, etc., are employed to capture the functionality, this
section document will refer to the availability of that data, indicating the
location and name of the tool used to capture the data.]</p>
<h2><a name="2.1               &lt;Functional Requirement One&gt;">2.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Functional Requirement One&gt;</a></h2>
<p class="InfoBlue">[The requirement description.]</p>
<h1><a name="3.                  Usability">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Usability</a></h1>
<p class="InfoBlue">[This section should include all of those requirements that
affect usability. Examples follow:</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>specify the required training time for a normal users and power
users to become productive at particular operations</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>specify measurable task times for typical tasks, or</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>specify requirements to conform to common usability standards, for
example, IBM’s CUA standards or Microsoft’s GUI stamdards]</p>
<h2><a name="3.1               &lt;Usability Requirement One&gt;">3.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Usability Requirement One&gt;</a></h2>
<p class="InfoBlue">The requirement description.</p>
<h1><a name="4.                  Reliability">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Reliability</a></h1>
<p class="InfoBlue">[Requirements for reliability of the system should be
specified here. Suggestions are as follows:</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Availability – specify percentage of time available ( xx.xx%),
hours of use, maintenance access, degraded mode operations, etc.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Mean Time Between Failures (MTBF) – this is usually specified in
hours but it could also be specified in terms of days, months or years.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Mean Time To Repair (MTTR) – how long is the system allowed to
be out of operation after it has failed?</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>&nbsp;Accuracy – specify precision (resolution) and accuracy (by
some known standard) that is required in the systems output.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Maximum bugs or defect rate – usually expressed in terms of
bugs/KLOC (thousands of lines of code), or bugs/function-point.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Bugs or defect rate – categorized in terms of minor,
significant, and critical bugs: the requirement(s) must define what is meant by
a &#147;critical&#148; bug (e.g., complete loss of data or complete inability to use
certain parts of the functionality of the system).]</p>
<h2><a name="4.1               &lt;Reliability Requirement One&gt;">4.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Reliability Requirement One&gt;</a></h2>
<p class="InfoBlue">[The requirement description.]</p>
<h1><a name="5.                  Performance">5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Performance</a></h1>
<p class="InfoBlue">[The performance characteristics of the system should be
outlined in this section. Include specific response times. Where applicable,
reference related Use Cases by name.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Response time for a transaction(average, maximum)</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Throughput (e.g., transactions per second)</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Capacity (e.g., the number of customers or transactions the system
can accommodate)</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Degradation modes (what is the acceptable mode of operation when
the system has been degraded in some manner)</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Resource utilization: memory, disk, communications, etc.]</p>
<h2><a name="5.1               &lt;Performance Requirement One&gt;">5.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Performance Requirement One&gt;</a></h2>
<p class="InfoBlue">[The requirement description.]</p>
<h1><a name="6.                  Supportability">6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Supportability</a></h1>
<p class="InfoBlue">[This section indicates any requirements that will enhance
the supportability or maintainability of the system being built, including
coding standards, naming conventions, class libraries, maintenance access,
maintenance utilities.]</p>
<h2><a name="6.1               &lt;Supportability Requirement One&gt;">6.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Supportability Requirement One&gt;</a></h2>
<p class="InfoBlue">[The requirement description.]</p>
<h1><a name="7.                  Design Constraints">7.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Design Constraints</a></h1>
<p class="InfoBlue">[This section should indicate any design constraints on the
system being built. Design constraints represent design decisions that have been
mandated and must be adhered to.&nbsp; Examples include software languages,
software process requirements, prescribed use of developmental tools,
architectural and design constraints, purchased components, class libraries,
etc.]</p>
<h2><a name="7.1               &lt;Design Constraint One&gt;">7.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>&lt;Design Constraint One&gt;</a></h2>
<p class="InfoBlue">[The requirement description.]</p>
<h1><a name="8.                  Online User Documentation and Help System Requirements">8.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Online User Documentation and Help System Requirements</a></h1>
<p class="InfoBlue">[Describes the requirements, if any, for on-line user
documentation, help systems, help about notices, etc.]</p>
<h1><a name="9.                  Purchased Components">9.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purchased Components</a></h1>
<p class="InfoBlue">[This section describes any purchased components to be used
with the system, any applicable licensing or usage restrictions, and any
associated compatibility/interoperability or interface standards.]</p>
<h1><a name="10.             Interfaces">10.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Interfaces</a></h1>
<p class="InfoBlue">[This section defines the interfaces that must be supported
by the application. It should contain adequate specificity, protocols, ports and
logical addresses, etc., so that the software can be developed and verified
against the interface requirements.]</p>
<h2><a name="10.1            User Interfaces">10.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>User Interfaces</a></h2>
<p class="InfoBlue">[Describe the user interfaces that are to be implemented by
the software.]</p>
<h2><a name="10.2            Hardware Interfaces">10.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Hardware Interfaces</a></h2>
<p class="InfoBlue">[This section defines any hardware interfaces that are to be
supported by the software, including logical structure, physical addresses,
expected behavior, etc. ]</p>
<h2><a name="10.3            Software Interfaces">10.3<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Software Interfaces</a></h2>
<p class="InfoBlue">[This section describes software interfaces to other
components of the software system. These may be purchased components, components
reused from another application or components being developed for subsystems
outside of the scope of this SRS, but with which this software application must
interact.]</p>
<h2><a name="10.4            Communications Interfaces">10.4<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Communications Interfaces</a></h2>
<p class="InfoBlue">[Describe any communications interfaces to other systems or
devices such as local area networks, remote serial devices, etc.]</p>
<h1><a name="11.             Licensing Requirements">11.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Licensing Requirements</a></h1>
<p class="InfoBlue">[Defines any licensing enforcement requirements or other
usage restriction requirements which are to be exhibited by the software.]</p>
<h1><a name="12.             Legal, Copyright and Other Notices">12.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Legal, Copyright and Other Notices</a></h1>
<p class="InfoBlue">[This section describes any necessary legal disclaimers,
warranties, copyright notices, patent notice, wordmark, trademark or logo
compliance issues for the software.]</p>
<h1><a name="13.             Applicable Standards">13.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Applicable Standards</a></h1>
<p class="InfoBlue">[This section describes by reference any applicable
standards and the specific sections of any such standards that apply to the
system being described. For example, this could include legal, quality and
regulatory standards, industry standards for usability, interoperability,
internationalization, operating system compliance, etc.]</p>
<p class="MsoBodyText">&nbsp;</p>
</div>

<p>&nbsp;</p>
</body>

</html>
