/* common styles for all Rational products  */  
a: {
		color: #336699;
     	text-decoration: underline; }
 
a:active  {
		color: #cc0000;
		text-decoration: underline; }
		
a:hover {
	color: #cc0000; }
	
	 
BODY  {
     	font-family: Arial, Helvetica, sans-serif;
     	font-size: 12px;
     	color: #333333;
	    background: #FFFFFF; }

H1 {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : 600;
	font-size : 18px;
	font-color : #333333;	}
	
H2 { 
 	font-family : Arial, Helvetica, sans-serif;
	font-weight : 600;
	font-size : 16px;
	font-color : #333333;	}

H3 { 
 	font-family : Arial, Helvetica, sans-serif;
	font-weight : 600;
	font-size : 14px;
	color: #336699;		}

H4 { 
 	font-family : Arial, Helvetica, sans-serif;
	font-weight : 600;
	font-size : 13px;
	font-color : #333333;	}
	
 P { 
 	font-family : Arial, Helvetica, sans-serif;
	font-size : 12.0px;	}
	
 OL {
  	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;	}
	
 UL {
 	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	list-style : disc;	}

 LI {
 	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;	}

 TD {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	vertical-align : top;
	padding-left : 2pt;
	padding-right : 2pt;
	padding-top : 6pt;
	padding-bottom : 3pt; }

DT {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : normal;
	font-weight : bold;
	margin-top: 3pt;}
	
DD {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	margin-left: 0pt;
	margin-bottom: 3pt;	}

PRE  {
     	font-family: Courier New, Courier; }	
		

P.Code {
	font-family : Courier, monospace;
    font-size : 11px;
    text-align : left;
    color : #676767;
    line-height : 15.0pt;
    margin-bottom : 3.0pt;
	margin-left : 15px;
	margin-right : 185px;  }
	
		  
P.LabelForProcedures { 
	font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
    font-size : 12px;
    text-align : left;
    color : #333333;
    line-height : 12.0pt;
    margin-top : 6.0pt;
    margin-bottom : 0.0pt; }

P.Syntax { 
     font-family : Courier, monospace;
     font-size : 11px;
     background-color : #DEDEDE;
     text-align : left;
     color : black;
     line-height : 15.0pt;
     margin-left : 0.03pt;
     margin-right : 0.07pt;
     margin-bottom : 3.0pt; }

P.TableSpacing { 
	 white-space:pre;
 	 font-family : Arial, Helvetica, sans-serif;
     font-size : 6.0pt;
     text-align : left;
     color : fuchsia;
     line-height : 6.0pt;
     margin-top : 0.0pt;
     margin-bottom : 0.0pt; }
 
 P.TableFootnote { 
 	 font-family : Arial, Helvetica, sans-serif;
     font-size : 11px;
     text-align : left;
     color : #333333;
	 font-style: italic;
     line-height : 11.0pt;
     margin-top : 2.0pt;
     margin-bottom : 4.0pt; }


