<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Software Development Plan</rpw>
-- RPW META DATA END -->
<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Software Development Plan</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>

<body lang=EN-US link=blue vlink=purple>

<div class=Section1>

<p class=MsoTitle align=right style='text-align:right'>&lt;Project Name&gt;</p>

<p class=MsoTitle align=right style='text-align:right'>Software Development Plan</p>

<p class=MsoTitle align=right style='text-align:right'>&nbsp;</p>

<p class=MsoTitle align=right style='text-align:right'><span style='font-size:
14.0pt;'>Version &lt;1.0&gt;</span></p>

<p class=MsoTitle><span style='font-size:14.0pt;'>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

<p class=InfoBlue>[Note: The following template is provided for use with the
Rational Unified Process.&nbsp; Text enclosed
in square brackets and displayed in blue italics (style=InfoBlue) is included
to provide guidance to the author and should be deleted before publishing the
document. A paragraph entered following this style will automatically be set to
normal (style=Body Text).]</p>

</div>

<span style='font-size:10.0pt;font-family:"Times New Roman";'><br clear=all
style='page-break-before:always;'>
</span>

<div class=Section2>

<p class=MsoTitle>Revision History</p>

<table border=1 cellspacing=0 cellpadding=0 style='border-collapse:collapse;
 border:none;'>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Date</b></p>
  </td>
  <td width=77 valign=top style='width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Version</b></p>
  </td>
  <td width=250 valign=top style='width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Description</b></p>
  </td>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext align=center style='text-align:center'><b>Author</b></p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;dd/mmm/yy&gt;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;x.x&gt;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;details&gt;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&lt;name&gt;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
 <tr>
  <td width=154 valign=top style='width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=77 valign=top style='width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=250 valign=top style='width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
  <td width=154 valign=top style='width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt'>
  <p class=Tabletext>&nbsp;</p>
  </td>
 </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<b><span style='font-size:18.0pt;font-family:Arial;'><br clear=all style='page-break-before:always'>
</span></b>

<p class=MsoTitle>Table of Contents</p>

<p class=MsoToc1><a href="#1.                  Introduction">1.         
Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.1               Purpose">1.1      Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.2               Scope">1.2      Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.3               Definitions, Acronyms and Abbreviations">1.3      Definitions, Acronyms and
Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.4               References">1.4     
References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#1.5               Overview">1.5      Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#2.                  Project Overview">2.          Project
Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#2.1               Project Purpose, Scope, and Objectives">2.1      Project Purpose, Scope and
Objectives</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#2.2               Assumptions and Constraints">2.2      Assumptions and
Constraints</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#2.3               Project Deliverables">2.3      Project
Deliverables</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#2.4               Evolution of the Software Development Plan">2.4      Evolution of the Software Development
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#3.                  Project Organization">3.          Project
Organization</a>&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.1               Organizational Structure">3.1      Organizational
Structure</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.2               External Interfaces">3.2      External
Interfaces</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#3.3               Roles and Responsibilities">3.3      Roles and
Responsibilities</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#4.                  Management Process">4.          Management
Process</a></p>

<p class=MsoToc2><a href="#4.1               Project Estimates">4.1      Project
Estimates</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.2               Project Plan">4.2      Project
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.2.1          Phase Plan">4.2.1       Phase
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.2.2          Iteration Objectives">4.2.2       Iteration
Objectives</a></p>

<p class=MsoToc3><a href="#4.2.3          Releases">4.2.3       Releases</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.2.4          Project Schedule">4.2.4       Project
Schedule</a>&nbsp;</p>

<p class=MsoToc3><a href="#4.2.5          Project Resourcing">4.2.5       Project
Resourcing</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3>              <a href="#4.2.5.1     Staffing Plan">4.2.5.1       Staffing
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3>              <a href="#4.2.5.2     Resource Acquisition Plan">4.2.5.2       Resource Acquisition
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3>              <a href="#4.2.5.3     Training Plan">4.2.5.3       Training
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.2.6          Budget">4.2.6       Budget</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.3               Iteration Plans">4.3      Iteration
Plans</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.4               Project Monitoring and control">4.4      Project Monitoring and
Control</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.4.1          Requirements Management Plan">4.4.1       Requirements Management
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.4.2          Schedule Control Plan">4.4.2       Schedule Control
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.4.3          Budget Control Plan">4.4.3       Budget Control
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.4.4          Quality Control Plan">4.4.4       Quality Control
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.4.5          Reporting Plan">4.4.5       Reporting
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc3><a href="#4.4.6          Measurement Plan">4.4.6       Measurement
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.5               Risk Management plan">4.5      Risk Management
plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#4.6               Close-out Plan">4.6      Close-out
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#5.                  Technical Process Plans">5.          Technical process
plans</a>&nbsp;</p>

<p class=MsoToc2><a href="#5.1               Development Case">5.1      Development
Case</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#5.2               Methods, tools and techniques">5.2      Methods, Tools and
Techniques</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#5.3               Infrastructure Plan">5.3      Infrastructure
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#5.4               Product Acceptance Plan">5.4      Product Acceptance
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#6.                  Supporting Process Plans">6.          Supporting Process
Plans</a>&nbsp;</p>

<p class=MsoToc2><a href="#6.1               Configuration Management Plan">6.1      Configuration Management
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#6.2               Evaluation Plan">6.2      Evaluation
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#6.3               Documentation Plan">6.3      Documentation
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#6.4               Quality Assurance Plan">6.4      Quality Assurance
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#6.5               Problem Resolution Plan">6.5      Problem Resolution
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#6.6               Subcontractor Management Plan">6.6      Subcontractor Management
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc2><a href="#6.7               Process Improvement Plan">6.7      Process Improvement
Plan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoToc1><a href="#7.                  Additional plans">7.          Additional
Plans</a>&nbsp;</p>

<p class=MsoToc1><a href="#8.                  Annexes">8.         
Annexes</a>&nbsp;</p>

<p class=MsoToc1><a href="#9.                  Index">9.          Index</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p class=MsoTitle><br clear=all style='page-break-before:
always'>Software Development Plan</p>

<h1 style='margin-left:0in;text-indent:0in;'>&nbsp;</h1>

<h1><a name="1.                  Introduction">1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a></h1>

<p class=InfoBlue>[The introduction of
the <b>Software Development Plan</b> should
provide an overview of the entire document. It should include the purpose,
scope, definitions, acronyms, abbreviations, references, and overview of this <b>Software Development Plan</b>.]</p>

<h2><a name="1.1               Purpose">1.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a></h2>

<p class=InfoBlue>[Specify
the purpose of this <b>Software Development
Plan.</b>]</p>

<h2><a name="1.2               Scope">1.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a></h2>

<p class=InfoBlue>[A brief description
of the scope of this <b>Software
Development Plan</b>; what Project(s) it is associated with, and anything else
that is affected or influenced by this document.]</p>

<h2><a name="1.3               Definitions, Acronyms and Abbreviations">1.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms and Abbreviations</a></h2>

<p class=InfoBlue>[This subsection
should provide the definitions of all terms, acronyms, and abbreviations
required to properly interpret the <b>Software
Development Plan</b>.&nbsp; This information may be provided by reference to
the project Glossary.]</p>

<h2><a name="1.4               References">1.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a></h2>

<p class=InfoBlue>[This subsection
should provide a complete list of all documents referenced elsewhere in the <b>Software Development Plan</b>.  Each document should be identified by title,
report number (if applicable), date, and publishing organization.  Specify the sources from which the
references can be obtained. This information may be provided by reference to an
appendix or to another document. </p>

<p class=InfoBlue>For
the <b>Software Development Plan</b>, the list of referenced artifacts should
include: </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Iteration Plans </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Requirements Management Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Measurement Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Risk Management Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Development Case </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Business Modeling Guidelines </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>User Interface Guidelines </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Use-Case-Modeling Guidelines </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Design Guidelines </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Programming Guidelines </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Test Guidelines </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Manual Style Guide </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Infrastructure Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Product Acceptance Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Configuration Management Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Evaluation Plan (only if this is a separate plan - normally this
is part of the SDP at Section 6.2) </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Documentation Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Quality Assurance Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Problem Resolution Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Subcontractor Management Plan </p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span
style='font-family:Symbol;font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Process Improvement Plan]</p>

<h2><a name="1.5               Overview">1.5<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a></h2>

<p class=InfoBlue>[This subsection
should describe what the rest of the <b>Software
Development Plan</b> contains and explain how the document is organized.]</p>

<h1><a name="2.                  Project Overview">2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Overview</a></h1>

<h2><a name="2.1               Project Purpose, Scope, and Objectives">2.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Purpose, Scope, and Objectives</a></h2>

<p class=InfoBlue>[A brief description
of the purpose and objectives of this project and a brief description of what
deliverables the project is expected to deliver.]</p>

<h2><a name="2.2               Assumptions and Constraints">2.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Assumptions and Constraints</a></h2>

<p class=InfoBlue>[A list of assumptions that this plan is based and any
constraints, for example. budget, staff, equipment, schedule, that apply to the
project.]</p>

<h2><a name="2.3               Project Deliverables">2.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Deliverables</a></h2>

<p class=InfoBlue>[A tabular list of the artifacts to be created during the
project, including target delivery dates.]</p>

<h2><a name="2.4               Evolution of the Software Development Plan">2.4<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Evolution of the Software Development Plan</a></h2>

<p class=InfoBlue>[A table of proposed versions of the <b>Software Development
Plan</b>, and the criteria for the unscheduled revision and reissue of this
plan.]</p>

<h1><a name="3.                  Project Organization">3.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Organization</a></h1>

<h2><a name="3.1               Organizational Structure">3.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Organizational Structure</a></h2>

<p class=InfoBlue>[Describe the organizational structure of the project team,
including management and other review authorities.]</p>

<h2><a name="3.2               External Interfaces">3.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>External Interfaces</a></h2>

<p class=InfoBlue>[Describe how the project interfaces with external
groups.  For each external group,
identify the internal and external contact names.]</p>

<h2><a name="3.3               Roles and Responsibilities">3.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Roles and Responsibilities</a></h2>

<p class=InfoBlue>[Identify the project organizational units that will be
responsible for each of the disciplines, workflow details, and supporting
processes.]</p>

<h1><a name="4.                  Management Process">4.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Management Process</a></h1>

<h2><a name="4.1               Project Estimates">4.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Estimates</a></h2>

<p class=InfoBlue>[Provide the estimated cost and schedule for the project, as
well as the basis for those estimates, and the points and circumstances in the
project when re-estimation will occur.]</p>

<h2><a name="4.2               Project Plan">4.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Plan</a></h2>

<h3><a name="4.2.1          Phase Plan">4.2.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Phase Plan</a></h3>

<p class=InfoBlue>[Include the following:</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Work Breakdown Structure (WBS)</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>a timeline or Gantt chart showing the allocation of
time to the project phases or iterations</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>identify major milestones with their achievement
criteria</p>

<p class=InfoBlue>Define any important release points and demos]</p>

<h3><a name="4.2.2          Iteration Objectives">4.2.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Iteration Objectives</a></h3>

<p class=InfoBlue>[List the objectives
to be accomplished for each of the iterations.]</p>

<h3><a name="4.2.3          Releases">4.2.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Releases</a></h3>

<p class=InfoBlue>[A brief description
of each software release and whether it’s demo, beta, etc.]</p>

<h3><a name="4.2.4          Project Schedule">4.2.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Schedule</a></h3>

<p class=InfoBlue>[Diagrams or tables showing target dates for completion of
iterations and phases, release points, demos, and other milestones.]</p>

<h3><a name="4.2.5          Project Resourcing">4.2.5<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Resourcing</a></h3>

<h4><a name="4.2.5.1     Staffing Plan">4.2.5.1<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Staffing
Plan</a></h4>

<p class=InfoBlue>[Identify here the
numbers and type of staff required, including any special skills or experience,
scheduled by project phase or iteration.]</p>

<h4><a name="4.2.5.2     Resource Acquisition Plan">4.2.5.2<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Resource
Acquisition Plan</a></h4>

<p class=InfoBlue>[Describe how you
will approach finding and acquiring the staff needed for the project.]</p>

<h4><a name="4.2.5.3     Training Plan">4.2.5.3<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Training
Plan</a></h4>

<p class=InfoBlue>[List any special
training project team members will require, with target dates for when this
training should be completed.]</p>

<h3><a name="4.2.6          Budget">4.2.6<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Budget</a></h3>

<p class=InfoBlue>[Allocation of costs against the WBS and the Phase Plan.]</p>

<h2><a name="4.3               Iteration Plans">4.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Iteration Plans</a></h2>

<p class=InfoBlue>[Each iteration plan will be enclosed
in this section by reference.]</p>

<h2><a name="4.4               Project Monitoring and control">4.4<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Project Monitoring and control</a></h2>

<h3><a name="4.4.1          Requirements Management Plan">4.4.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Requirements Management Plan</a></h3>

<p class=InfoBlue>[Enclosed by reference.]</p>

<h3><a name="4.4.2          Schedule Control Plan">4.4.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Schedule Control Plan</a></h3>

<p class=InfoBlue>[Describes the approach to be taken to monitor progress
against the planned schedule and how to take corrective action when required.]</p>

<h3><a name="4.4.3          Budget Control Plan">4.4.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Budget Control Plan</a></h3>

<p class=InfoBlue>[Describes the approach to be taken to monitor spending
against the project budget and how to take corrective action when required.]</p>

<h3><a name="4.4.4          Quality Control Plan">4.4.4<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Quality Control Plan</a> </h3>

<p class=InfoBlue>[Describe the timing and methods to be used to control the
quality of the project deliverables and how to take corrective action when
required.]</p>

<h3><a name="4.4.5          Reporting Plan">4.4.5<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Reporting Plan</a></h3>

<p class=InfoBlue>[Describes internal and external reports to be generated, and
the frequency and distribution of publication.]</p>

<h3><a name="4.4.6          Measurement Plan">4.4.6<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Measurement Plan</a></h3>

<p class=InfoBlue>[Enclosed by reference.]</p>

<h2><a name="4.5               Risk Management plan">4.5<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Risk Management plan</a></h2>

<p class="InfoBlue">[Enclosed by reference.]</p>

<h2><a name="4.6               Close-out Plan">4.6<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Close-out Plan</a></h2>

<p class=InfoBlue>[Describe the activities for the orderly completion of the
project, including staff reassignment, archiving of project materials,
post-mortem debriefings and reports etc.]</p>

<h1><a name="5.                  Technical Process Plans">5.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Technical Process Plans</a></h1>

<h2><a name="5.1               Development Case">5.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Development Case</a></h2>

<p class=InfoBlue>[Enclosed by reference.]</p>

<h2><a name="5.2               Methods, tools and techniques">5.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Methods, tools and techniques</a></h2>

<p class=InfoBlue>[Lists the documented project technical standards, etc., by
reference:</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Business Modeling Guidelines</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>User Interface Guidelines</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Use-Case-Modeling Guidelines</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Design Guidelines</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Programming Guidelines</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Test Guidelines</p>

<p class=InfoBlue style='margin-left:.75in;text-indent:-.25in;'><span style='font-family:Symbol;
font-style:normal'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Manual Style guide]</p>

<h2><a name="5.3               Infrastructure Plan">5.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Infrastructure Plan</a></h2>

<p class=InfoBlue>[Enclosed by reference]</p>

<h2><a name="5.4               Product Acceptance Plan">5.4<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Product Acceptance Plan</a></h2>

<p class=InfoBlue>[Enclosed by reference]</p>

<h1><a name="6.                  Supporting Process Plans">6.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Supporting Process Plans</a></h1>

<h2><a name="6.1               Configuration Management Plan">6.1<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Configuration Management Plan</a></h2>

<p class=InfoBlue>[Enclosed by reference]</p>

<h2><a name="6.2               Evaluation Plan">6.2<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Evaluation Plan</a></h2>

<p class=InfoBlue>[Part of the <b>Software Development Plan, </b>this describes
the project’s plans for product evaluation, and covers the techniques,
criteria, metrics, and procedures used for evaluation&#151; this will include
walkthroughs, inspections, and reviews. Note that this is in addition to the
Test Plan which is not enclosed in the <b>Software Development Plan</b>.]</p>

<h2><a name="6.3               Documentation Plan">6.3<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Documentation Plan</a></h2>

<p class=InfoBlue>[Enclosed by reference.]</p>

<h2><a name="6.4               Quality Assurance Plan">6.4<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Quality Assurance Plan</a></h2>

<p class=InfoBlue>[Enclosed by reference.]</p>

<h2><a name="6.5               Problem Resolution Plan">6.5<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Problem Resolution Plan</a></h2>

<p class=InfoBlue>[Enclosed by reference.]</p>

<h2><a name="6.6               Subcontractor Management Plan">6.6<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Subcontractor Management Plan</a></h2>

<p class=InfoBlue>[Enclosed by reference.]</p>

<h2><a name="6.7               Process Improvement Plan">6.7<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Process Improvement Plan</a></h2>

<p class=InfoBlue>[Enclosed by reference]</p>

<h1><a name="7.                  Additional plans">7.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Additional plans</a></h1>

<p class=InfoBlue>[Additional plans if required by contract or regulations.]</p>

<h1><a name="8.                  Annexes">8.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Annexes</a></h1>

<p class=InfoBlue>[Additional material of use to the reader of the SDP.]</p>

<h1><a name="9.                  Index">9.<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Index</a></h1>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
