<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Quality Assurance Plan</rpw>
-- RPW META DATA END -->

<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Quality Assurance Plan</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>

<body lang="EN-US" link="blue" vlink="purple">
<div class="Section1">
<p class="MsoTitle" align="right" style="text-align:right">&lt;Project Name&gt;</p>
<p class="MsoTitle" align="right" style="text-align:right">Quality Assurance
Plan</p>
<p class="MsoTitle" align="right" style="text-align:right">&nbsp;</p>
<p class="MsoTitle" align="right" style="text-align:right"><span style="font-size:
14.0pt;">Version &lt;1.0&gt;</span></p>
<p class="MsoTitle"><span style="font-size:14.0pt;">&nbsp;</span></p>
<p class="MsoNormal">&nbsp;</p>
<p class="InfoBlue">[Note: The following template is provided for use with the
Rational Unified Process. Text enclosed in square brackets and displayed in blue
italics (style=InfoBlue) is included to provide guidance to the author and
should be deleted before publishing the document. A paragraph entered following
this style will automatically be set to normal (style=Body Text).]</p>
</div>

<span style="font-size:10.0pt;font-family:&quot;Times New Roman&quot;;"><br clear="all" style="page-break-before:always;">
</span>
<div class="Section2">
<p class="MsoTitle">Revision History</p>

<table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;
 border:none;">
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Date</b></p>
    </td>
    <td width="77" valign="top" style="width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Version</b></p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Description</b></p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Author</b></p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;dd/mmm/yy&gt;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;x.x&gt;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;details&gt;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;name&gt;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
</table>
<p class="MsoNormal">&nbsp;</p>
<b><span style="font-size:18.0pt;font-family:Arial;"><br clear="all" style="page-break-before:always">
</span></b>
<p class="MsoTitle">Table of Contents</p>
<p class="MsoToc1"><a href="#1.                  Introduction">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.1               Purpose">1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.2               Scope">1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.3               Definitions, Acronyms and Abbreviations">1.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Definitions, Acronyms, and Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.4               References">1.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.5               Overview">1.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#2.                  Quality Objectives">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Quality Objectives</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#3.                  Management">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Management</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#3.1               Organization">3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Organization</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#3.2               Tasks &amp; Responsibilities">3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Tasks and Responsibilities</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#4.                  Documentation">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Documentation</a>&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#5.                  Standards and Guidelines">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Standards and Guidelines</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#6.                  Metrics">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Metrics</a>&nbsp;</p>
<p class="MsoToc1"><a href="#7.                  Review and Audit Plan">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Review and Audit Plan</a>&nbsp;</p>
<p class="MsoToc1"><a href="#8.                  Evaluation and Test">8.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Evaluation and Test</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#9.                  Problem Resolution and Corrective Action">9.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Problem Resolution and Corrective Action</a></p>
<p class="MsoToc1"><a href="#10.             Tools, Techniques and Methodologies">10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tools, Techniques, and Methodologies</a></p>
<p class="MsoToc1"><a href="#11.             Configuration Management">11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Configuration Management</a></p>
<p class="MsoToc1"><a href="#12.             Supplier and Subcontractor Controls">12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supplier and Subcontractor Controls</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#13.             Quality Records">13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quality Records</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#14.             Training">14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training</a></p>
<p class="MsoToc1"><a href="#15.             Risk Managemen">15.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Risk Management</a></p>
<p class="MsoTitle"><br clear="all" style="page-break-before:
always">
Quality Assurance Plan</p>
<p class="MsoNormal">&nbsp;</p>
<h1><a name="1.                  Introduction">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a></h1>
<p class="InfoBlue">[The introduction of the <b>Quality Assurance Plan</b>
 provides an overview of the entire document. It includes the
purpose, scope, definitions, acronyms, abbreviations, references, and overview
of this <b>Quality Assurance Plan</b>.]</p>
<h2><a name="1.1               Purpose">1.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a></h2>
<p class="InfoBlue">[Specify the purpose of this <b>Quality Assurance Plan.</b>]</p>
<h2><a name="1.2               Scope">1.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a></h2>
<p class="InfoBlue">[A brief description of the scope of this <b>Quality
Assurance Plan</b>; what Project(s) it is associated with and anything else that
is affected or influenced by this document.]</p>
<h2><a name="1.3               Definitions, Acronyms and Abbreviations">1.3<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms and Abbreviations</a></h2>
<p class="InfoBlue">[This subsection provides the definitions of all
terms, acronyms, and abbreviations required to properly interpret the <b>Quality
Assurance Plan</b>.&nbsp; This information may be provided by reference to the
project's Glossary.]</p>
<h2><a name="1.4               References">1.4<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a></h2>
<p class="InfoBlue">[This subsection provides a complete list of all
documents referenced elsewhere in the <b>Quality Assurance Plan</b>.&nbsp;
Identify each
document by title, report number (if applicable), date, and
publishing organization.&nbsp; Specify the sources from which the references can
be obtained. This information may be provided by reference to an appendix or to
another document. For the <b> Quality Assurance Plan</b>, this should include:</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Documentation Plan</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Measurement Plan</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Test Plan</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Software Development Plan</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Problem Resolution Plan</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Configuration Management Plan</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Subcontractor Management Plan</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Risk Management Plan]</p>
<h2><a name="1.5               Overview">1.5<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a></h2>
<p class="InfoBlue">[This subsection describes what the rest of the <b>Quality
Assurance Plan</b> contains and explains how the document is organized.]</p>
<h1><a name="2.                  Quality Objectives">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Quality Objectives</a></h1>
<p class="InfoBlue">[This section needs to&nbsp; reference the section of the Software
Requirements Specification that deals with quality requirements.]</p>
<h1><a name="3.                  Management">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Management</a></h1>
<h2><a name="3.1               Organization">3.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Organization</a></h2>
<p class="InfoBlue">[Describe the structure of the organization responsible for
Quality Assurance. The Rational Unified Process recommends that the Software
Engineering Process Authority (SEPA) be responsible for the process component of
Quality Assurance.&nbsp; The Rational Unified Process further recommends that
the evaluation of product be done within the project (most notably by an
independent test team) and by joint customer/developer review.]</p>
<h2><a name="3.2               Tasks &amp; Responsibilities">3.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Tasks and Responsibilities</a></h2>
<p class="InfoBlue">[Describe the various Quality Assurance tasks that will
be carried out for this project and indicate how they are synchronized with the
project's major and minor milestones. These tasks will include:</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Joint Reviews</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Process Audits</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Process Reviews</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Customer Audits</p>
<p class="InfoBlue">For each task, identify the team member responsible for its
execution.]</p>
<h1><a name="4.                  Documentation">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Documentation</a></h1>
<p class="InfoBlue">[Enclose the Documentation Plan artifact by reference.</p>
<p class="InfoBlue">Also, list the minimum documentation that must be
produced during the project to ensure that the software product that is
developed satisfies the requirements.&nbsp; The suggested minimum set is:</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Software Development Plan (SDP)</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Test Plan</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Iteration Plans</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Software Requirements Specification (SRS)</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Software Architecture Document</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
User Documentation (for example, manuals, guides)</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Configuration Management Plan</p>
<p class="InfoBlue">Provide pointers to the Development Case to show where in
the process the adequacy of these documents is evaluated.]</p>
<h1><a name="5.                  Standards and Guidelines">5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Standards and Guidelines</a></h1>
<p class="InfoBlue">[This section references any standards and guidelines that
are expected to be used on the project, and addresses how compliance with these
standards and guidelines is to be determined.&nbsp; The relevant artifacts are
enclosed by reference.&nbsp; The suggested set for the Rational Unified Process
is:</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Development Case</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Business Modeling Guidelines</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
User-Interface Guidelines</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Use-Case Modeling Guidelines</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Design Guidelines</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Programming Guidelines</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Test Guidelines</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Manual Style Guide]</p>
<h1><a name="6.                  Metrics">6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Metrics</a></h1>
<p class="InfoBlue">[This section describes the product, project, and process
metrics that are to be captured and monitored for the project.&nbsp; This is
usually addressed by enclosing the Measurement Plan artifact by reference.]</p>
<h1><a name="7.                  Review and Audit Plan">7.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Review and Audit Plan</a></h1>
<p class="InfoBlue">[This section contains the Review and Audit Plan.&nbsp;The
Review and Audit Plan specifies the schedule, resources, and methods and
procedures to be used in conducting project reviews and audits. The plan details
the various types of reviews and audits to be carried out during the project,
and identifies any external agencies that are expected to approve or regulate
the artifacts produced by the project.</p>
<p class="InfoBlue">This section should identify:</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Review and Audit Tasks</p>
<p class="InfoBlue" style="margin-left:58.5pt">Describe briefly each type of
review and audit that will be carried out on the project. For each type,
identify the project artifacts that will be the subject of the review or audit.
These may include Joint Customer-Developer Technical and Management Reviews,
Process Reviews and Audits, Customer Audits, Internal Technical and Management
Reviews.</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Schedule&nbsp;</p>
<p class="InfoBlue" style="margin-left:58.5pt">Detail here the schedule for the
reviews and audits. This should include reviews and audits scheduled at project
milestones, as well as reviews that are triggered by delivery of project
artifacts. This subsection may reference the project or iteration plan.</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Organization and Responsibilities&nbsp;</p>
<p class="InfoBlue" style="margin-left:58.5pt">List here the specific groups or
individuals to be involved in each of the identified review and audit
activities. Describe briefly the tasks and responsibilities of each. Also, list
any external agencies that are expected to approve or regulate any product of
the project.</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Problem Resolution and Corrective Action</p>
<p class="InfoBlue" style="margin-left:58.5pt">This subsection describes the
procedures for reporting and handling problems identified during project reviews
and audits.&nbsp; The Problem Resolution Plan may be referenced.</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Tools, Techniques and Methodologies&nbsp;</p>
<p class="InfoBlue" style="margin-left:58.5pt">Describe here any specific tools,
techniques or methodologies that are to be used to carry out the review and
audit activities identified in this plan.&nbsp; You should describe the explicit
process to be followed for each type of review or audit. Your organization may
have a standard Review and Audit Procedures Manual, which may be
referenced.&nbsp; These procedure descriptions should also address the
collection, storage and archiving of the project’s Review Records.</p>
<p class="InfoBlue">A suggested set of reviews and audits (drawn from the
Rational Unified Process) to use as a basis for planning is:</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Requirements Review (maps to the traditional Software Specification Review)</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Architecture Review (maps to the traditional Preliminary Design Review)</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Design Review (maps to the traditional Critical Design Review)</p>
<p class="InfoBlue" style="margin-left:58.5pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="InfoBlue" style="margin-left:58.5pt">Note that the product-,
technique-, criteria-, and metrics- related aspects of these reviews is
addressed in the Rational Unified Process itself and instantiated in the
Evaluation Plan section of the Software Development Plan. The Review and Audit Plan section of the
<b>
Quality Assurance Plan</b> will concern itself with the Joint (customer, developer)
Review aspects, for example, artifacts required, responsibilities, conduct of
the review meeting, pass or fail criteria.</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Functional Configuration audit (to verify all requirements in the SRS have been
met)</p>
<p class="InfoBlue" style="margin-left:58.5pt;text-indent:-22.5pt">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Physical configuration audit (to verify that the software and its documentation
are complete and ready for delivery)</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Process audits</p>
<p class="InfoBlue">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Process reviews</p>
<p class="InfoBlue" style="margin-left:58.5pt;text-indent:-22.5pt">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Managerial reviews (Project Approval Review, Project Planning Review, Iteration
Plan Review, PRA Project Review)</p>
<p class="InfoBlue" style="margin-left:58.5pt;text-indent:-22.5pt">•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Post-mortem reviews (Iteration Acceptance Review, Lifecycle Milestone Review,
Project Acceptance Review).]</p>
<h1><a name="8.                  Evaluation and Test">8.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Evaluation and Test</a></h1>
<p class="InfoBlue">[This section references the Software Development Plan
(Evaluation Plan section) and the Test Plan.]</p>
<h1><a name="9.                  Problem Resolution and Corrective Action">9.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Problem Resolution and Corrective Action</a></h1>
<p class="InfoBlue">[This section references the Problem Resolution Plan.]</p>
<h1><a name="10.             Tools, Techniques and Methodologies">10.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Tools, Techniques, and Methodologies</a></h1>
<p class="InfoBlue">[A list of any tools, techniques and methodologies that are
to be used when performing Quality Assurance activities.]</p>
<h1><a name="11.             Configuration Management">11.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Configuration Management</a></h1>
<p class="InfoBlue">[This section references the Configuration Management Plan.]</p>
<h1><a name="12.             Supplier and Subcontractor Controls">12.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Supplier and Subcontractor Controls</a></h1>
<p class="InfoBlue">[This section references the Subcontractor Management Plan.]</p>
<h1><a name="13.             Quality Records">13.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Quality Records</a></h1>
<p class="InfoBlue">[Descriptions of the various quality records that will be
maintained during the project, including how and where each type of record will
be stored and for how long.]</p>
<h1><a name="14.             Training">14.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Training</a></h1>
<p class="InfoBlue">[List here any training activities necessary for the project
team to achieve the needs of the <b> Quality Assurance Plan</b>.]</p>
<h1><a name="15.             Risk Managemen">15.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Risk Managemen</a>t</h1>
<p class="InfoBlue">[This section references the Risk Management Plan.]</p>
</div>

</body>

</html>
