<!-- RPW META DATA START --
 
 
-- RPW META DATA END -->

<html>

<head>
<link rel="StyleSheet" href="../rop.css" type="text/css">
<title>Process&nbsp;Component:&nbsp;Assessment</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>

 
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top">

<script language="JavaScript">
<!--

//Tell the TreePath to update itself
var thePath = "";
var type = typeof parent.ory_button;
if (type != "undefined") {
	 type = typeof parent.ory_button.getTreePath();
	 if (type != "undefined") {
	 	 thePath = parent.ory_button.getTreePath();
	 }
}
document.write(thePath);
-->
</script>

 

   
      
<h2 class="banner">Process Component: <rpw name="PresentationName">Assessment</rpw></h2>

<h3>Description</h3>
<p>The Assessment process component is concerned with the process of:</p>
<ul>
  <li> assessing the progresss and deliverables of the software engineering project</li>
  <li>assessing the adherence to and effectiveness of the software engineering 
    process.</li>
</ul>
<p>Assessment is an important concern in any software engineering effort.</p>


<h3>Dependencies</h3>
<p>Depends on the Management and Implementation process components.</p>


<h3>Content</h3>
<p>
  <ul>
<li><a href="assessment/pc_reviews.htm">Description: Reviews</a><ul>
<li><a href="../process/workers/wk_tchrvw.htm">Description: Technical Reviewer</a><ul>
<li><a href="../process/activity/ac_rvbuc.htm">Description: Review the Business Use-Case Model</a><ul>
<li><a href="../process/activity/chklists/ck_bucm.htm">Checklist: Business Use Case Model</a></li>
<li><a href="../process/activity/chklists/ck_buc.htm">Checklist: Business Use Cases</a></li>
<li><a href="../process/activity/chklists/ck_bact.htm">Checklist: Business Actor</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_rvbom.htm">Description: Review the Business Analysis Model</a><ul>
<li><a href="../process/activity/chklists/ck_bom.htm">Checklist: Business Analysis Model</a></li>
<li><a href="../process/activity/chklists/ck_bent.htm">Checklist: Business Entities</a></li>
<li><a href="../process/activity/chklists/ck_brules.htm">Checklist: Business Rules</a></li>
<li><a href="../process/activity/chklists/ck_bwk.htm">Checklist: Business Worker</a></li>
<li><a href="../process/activity/chklists/ck_orgu.htm">Checklist: Business System</a></li>
<li><a href="../process/activity/chklists/ck_bucr.htm">Checklist: Business Use-Case Realization</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_rvucm.htm">Description: Review Requirements</a><ul>
<li><a href="../process/activity/chklists/ck_srs.htm">Checklist: Software Requirements Specification</a></li>
<li><a href="../process/activity/chklists/ck_sspec.htm">Checklist: Supplementary Specifications</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_rvarc.htm">Description: Review the Architecture</a><ul>
<li><a href="../process/activity/chklists/ck_sad.htm">Checklist: Software Architecture Document</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_rvdes.htm">Description: Review the Design</a><ul>
<li><a href="../process/activity/chklists/ck_uidesign.htm">Checklist: User-Interface Design</a></li>
<li><a href="../process/activity/chklists/ck_aclss.htm">Checklist: Analysis Class</a></li>
<li><a href="../process/activity/chklists/ck_dmdl.htm">Checklist: Design Model</a></li>
<li><a href="../process/activity/chklists/ck_dclss.htm">Checklist: Design Class</a></li>
<li><a href="../process/activity/chklists/ck_dpckg.htm">Checklist: Design Package</a></li>
<li><a href="../process/activity/chklists/ck_dsubs.htm">Checklist: Design Subsystem</a></li>
<li><a href="../process/activity/chklists/ck_ucrlz.htm">Checklist: Use-Case Realization</a></li>
<li><a href="../process/activity/chklists/ck_cpsl.htm">Checklist: Capsule</a></li>
<li><a href="../process/activity/chklists/ck_prot.htm">Checklist: Protocol</a></li>
<li><a href="../process/activity/chklists/ck_sgnl.htm">Checklist: Signal</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_rvcod.htm">Description: Review Code</a></li>
</ul>
</li>
<li><a href="../process/workers/wk_mngrvw.htm">Description: Management Reviewer</a><ul>
<li><a href="../process/activity/ac_pacrv.htm">Description: Project Acceptance Review</a></li>
<li><a href="../process/activity/ac_prarv.htm">Description: Project Review Authority (PRA) Project Review</a></li>
<li><a href="../process/activity/ac_lmrev.htm">Description: Lifecycle Milestone Review</a></li>
<li><a href="../process/activity/ac_iacrv.htm">Description: Iteration Acceptance Review</a></li>
<li><a href="../process/activity/ac_ievrv.htm">Description: Iteration Evaluation Criteria Review</a></li>
<li><a href="../process/activity/ac_iprev.htm">Description: Iteration Plan Review</a></li>
<li><a href="../process/activity/ac_pprev.htm">Description: Project Planning Review</a></li>
<li><a href="../process/activity/ac_parev.htm">Description: Project Approval Review</a></li>
</ul>
</li>
<li><a href="../process/workers/wk_rvwmng.htm">Description: Review Coordinator</a><ul>
<li><a href="../process/activity/ac_orgrvw.htm">Description: Organize Review</a><ul>
<li><a href="../process/workguid/wg_rview.htm">Guideline: Reviews</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><a href="assessment/pc_test.htm">Description: Test</a><ul>
<li><a href="assessment/test/pc_test_management.htm">Description: Test Management</a><ul>
<li><a href="../process/artifact/ar_tstpl.htm">Description: Test Plan</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_tstpl.htm">Guideline: Test Plan</a></li>
<li><a href="../process/modguide/md_tstplnqty.htm">Guideline: Quality in the Test Plan</a></li>
<li><a href="../process/modguide/md_tststr.htm">Guideline: Testing Techniques by Quality Risk/ Test Type</a></li>
</ul>
</li>
<li>Templates<ul>
<li><a href="../webtmpl/templates/test/rup_tstpln_itn.htm">Template: Iteration Test Plan</a></li>
<li><a href="../webtmpl/templates/test/rup_tstpln_mstr.htm">Template: Master Test Plan</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/creg/elaboration_e1/test_plan_v1.htm">Example: CREG Test Plan - Elaboration Phase</a></li>
<li><a href="../examples/creg/construction/construction_c2/test_plan_v2.htm">Example: CREG Test Plan - Construction Phase</a></li>
</ul>
</li>
<li><a href="../examples/csports/ex_tstpln.htm">Example: CSPS Test Plan V1.0</a></li>
<li><a href="../process/activity/chklists/ck_tstpl.htm">Checklist: Test Plan</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="assessment/test/pc_structured_test.htm">Description: Structured Testing</a><ul>
<li><a href="../process/artifact/ar_tstdta.htm">Description: Test Data</a><ul>
<li><a href="../process/modguide/md_tstdta.htm">Guideline: Test Data</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_tstsc.htm">Description: Test Script</a><ul>
<li><a href="../process/activity/chklists/ck_tstsc.htm">Checklist: Test Script</a></li>
<li><a href="../process/modguide/md_tstsc.htm">Guideline: Programming Automated Test Scripts</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_tstcs.htm">Description: Test Case</a><ul>
<li><a href="../process/activity/chklists/ck_tstcs.htm">Checklist: Test Case</a></li>
<li><a href="../process/modguide/md_tstcs.htm">Guideline: Test Case</a></li>
<li><a href="../process/modguide/md_eqvclsanl.htm">Guideline: Equivalence Class Analysis</a></li>
<li><a href="../process/reports/re_tstdsgspc.htm">Report: Test Design Specification</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_tstenv.htm">Description: Test Environment Configuration</a></li>
</ul>
</li>
<li><a href="assessment/test/pc_loadtest.htm">Description: Load Testing</a><ul>
<li><a href="../process/artifact/ar_wlmod.htm">Description: Workload Analysis Model</a><ul>
<li><a href="../process/activity/chklists/ck_wrkld.htm">Checklist: Workload Analysis Model</a></li>
<li><a href="../process/modguide/md_wlmod.htm">Guideline: Workload Analysis Model</a></li>
<li><a href="../process/workflow/test/co_perfo.htm">Concept: Performance Testing</a></li>
</ul>
</li>
<li><a href="../process/reports/re_tstsv.htm">Report: Test Survey</a></li>
</ul>
</li>
<li><a href="assessment/test/pc_testability_reqs.htm">Description: Testability Requirements</a><ul>
<li><a href="../process/artifact/ar_tstintspc.htm">Description: Test Interface Specification</a></li>
<li><a href="../process/artifact/ar_tstatmarc.htm">Description: Test Automation Architecture</a><ul>
<li><a href="../process/workflow/test/co_tstau.htm">Concept: Test Automation and Tools</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/workers/wk_tstr.htm">Description: Tester</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/test/co_tstidsctlg.htm">Concept: Test-Ideas Catalog</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_tst_imptstste.htm">Description: Implement Test Suite</a></li>
<li><a href="../process/activity/ac_tst_exctstste.htm">Description: Execute Test Suite</a></li>
<li><a href="../process/activity/ac_tst_anltstflr.htm">Description: Analyze Test Failure</a></li>
<li><a href="../process/activity/ac_tst_imptst.htm">Description: Implement Test</a></li>
</ul>
</li>
<li><a href="../process/workers/wk_tstanl.htm">Description: Test Analyst</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/test/co_qtydm.htm">Concept: Quality Dimensions</a></li>
<li><a href="../process/workflow/test/co_tstidsctlg.htm">Concept: Test-Ideas Catalog</a></li>
<li><a href="../process/workflow/test/co_perfo.htm">Concept: Performance Testing</a></li>
<li><a href="../process/workflow/test/co_tstau.htm">Concept: Test Automation and Tools</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_tst_idntstids.htm">Description: Identify Test Ideas</a><ul>
<li><a href="../process/modguide/md_eqvclsanl.htm">Guideline: Equivalence Class Analysis</a></li>
<li><a href="../process/workflow/test/co_tstidslst.htm">Concept: Test-Ideas List</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_tst_dtrtstrsl.htm">Description: Determine Test Results</a></li>
<li><a href="../process/activity/ac_tst_dfnasstrcnds.htm">Description: Define Assessment and Traceability Needs</a></li>
<li><a href="../process/activity/ac_tst_dfntstdtl.htm">Description: Define Test Details</a></li>
<li><a href="../process/activity/ac_tst_idntstitm.htm">Description: Identify Targets of Test</a></li>
<li><a href="../process/activity/ac_vfycr.htm">Description: Verify Changes in Build</a></li>
</ul>
</li>
<li><a href="../process/workers/wk_tstds.htm">Description: Test Designer</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/test/co_testr.htm">Concept: Test Strategy</a></li>
<li><a href="../process/workflow/test/co_tstidsctlg.htm">Concept: Test-Ideas Catalog</a></li>
<li><a href="../process/workflow/test/co_exptst.htm">Concept: Exploratory Testing</a></li>
<li><a href="../process/workflow/test/co_tstau.htm">Concept: Test Automation and Tools</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_tstdsg.htm">Guideline: Test Design</a></li>
</ul>
</li>
<li>Whitepapers<ul>
<li><a href="../papers/rt_test.htm">Whitepaper: Testing Embedded Systems</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_tst_dfntstapr.htm">Description: Define Test Approach</a><ul>
<li><a href="../process/reports/re_tstdsgspc.htm">Report: Test Design Specification</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_tst_strtstatmimp.htm">Description: Structure the Test Implementation</a><ul>
<li><a href="../process/workguid/wg_mnttstste.htm">Guideline: Maintaining Automated Test Suites</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_tst_dfntstenvcnf.htm">Description: Define Test Environment Configurations</a></li>
<li><a href="../process/activity/ac_tst_dfntstelm.htm">Description: Define Testability Elements</a></li>
<li><a href="../process/activity/ac_tst_idntstmch.htm">Description: Identify Testability Mechanisms</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_tststr.htm">Description: Test Strategy</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/test/co_testr.htm">Concept: Test Strategy</a></li>
<li><a href="../process/workflow/test/co_exptst.htm">Concept: Exploratory Testing</a></li>
<li><a href="../process/workflow/test/co_stru.htm">Concept: Structure Testing</a></li>
<li><a href="../process/workflow/test/co_ustst.htm">Concept: Usability Testing</a></li>
</ul>
</li>
<li>Whitepapers<ul>
<li><a href="../papers/rt_test.htm">Whitepaper: Testing Embedded Systems</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_tststr.htm">Guideline: Testing Techniques by Quality Risk/ Test Type</a></li>
</ul>
</li>
<li>Templates<ul>
<li><a href="../webtmpl/templates/test/rup_tststr.htm">Template: Test Strategy</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/artifact/ar_tstrs.htm">Description: Test Results</a><ul>
<li><a href="../process/workflow/test/co_tytst.htm">Concept: Types of Test</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_tstidslst.htm">Description: Test-Ideas List</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_tstidsmthcls.htm">Guideline: Test Ideas for Method Calls</a></li>
<li><a href="../process/modguide/md_tstidssttact.htm">Guideline: Test Ideas for Statechart and Flow Diagrams</a></li>
<li><a href="../process/modguide/md_tstidsblnbnd.htm">Guideline: Test Ideas for Booleans and Boundaries</a></li>
<li><a href="../process/modguide/md_eqvclsanl.htm">Guideline: Equivalence Class Analysis</a></li>
</ul>
</li>
<li>Examples<ul>
<li>Test-Idea Catalogs</li>
</ul>
</li>
<li><a href="../process/workflow/test/co_tstidslst.htm">Concept: Test-Ideas List</a></li>
<li><a href="../process/workflow/test/co_tstidsctlg.htm">Concept: Test-Ideas Catalog</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_tstste.htm">Description: Test Suite</a><ul>
<li><a href="../process/workguid/wg_mnttstste.htm">Guideline: Maintaining Automated Test Suites</a></li>
<li><a href="../process/workflow/test/co_tytst.htm">Concept: Types of Test</a></li>
<li><a href="../process/reports/re_tstsv.htm">Report: Test Survey</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_tstlog.htm">Description: Test Log</a></li>
</ul>
</li>
<li><a href="../process/workers/wk_reviewer.htm">Description: Reviewer</a><ul>
<li><a href="../process/activity/ac_cndrvw.htm">Description: Conduct Review</a><ul>
<li><a href="../process/workguid/wg_rview.htm">Guideline: Reviews</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/workers/wk_tstmng.htm">Description: Test Manager</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/manageme/co_meqlty.htm">Concept: Measuring Quality</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_tst_assadvqlt.htm">Description: Assess and Advocate Quality</a><ul>
<li><a href="../process/workflow/test/co_qtydm.htm">Concept: Quality Dimensions</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_tst_asststefr.htm">Description: Assess and Improve Test Effort</a></li>
<li><a href="../process/activity/ac_tst_obttstcmt.htm">Description: Obtain Testability Commitment</a></li>
<li><a href="../process/activity/ac_tst_idntstmtv.htm">Description: Identify Test Motivators</a></li>
<li><a href="../process/activity/ac_tst_agrmsn.htm">Description: Agree on the Mission</a><ul>
<li><a href="../process/modguide/md_tstpl.htm">Guideline: Test Plan</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/artifact/ar_itass.htm">Description: Iteration Assessment</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/mgmnt/rup_itass.htm">Template: Iteration Assessment</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/creg/construction/construction_c2/itassessement_c2.htm">Example: CREG Iteration Assessment - Construction Phase</a></li>
<li><a href="../examples/csports/ex_itassess1.htm">Example: CSPS Iteration Assessment V 1.0</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_itass_repn.htm">Guideline: Iteration Assessment — Informal Representation</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/artifact/ar_stass.htm">Description: Status Assessment</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/mgmnt/rup_stass.htm">Template: Status Assessment</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/creg/construction/status_constr.htm">Example: CREG Status Assessment - Construction Phase</a></li>
<li><a href="../examples/csports/ex_stsassess.htm">Example: CSPS Status Assessment V .0</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_stass_repn.htm">Guideline: Status Assessment — Informal Representation</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/artifact/ar_tstev.htm">Description: Test Evaluation Summary</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/test/rup_tsteval.htm">Template: Test Evaluation Summary</a></li>
<li><a href="../webtmpl/templates/test/tstev_informal.htm">Template: Test Evaluation Summary (Informal)</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/creg/elaboration_e1/test_report_v1.htm">Example: CREG Test Evaluation Summary - Elaboration Phase</a></li>
<li><a href="../examples/creg/construction/construction_c2/test_report_v2.htm">Example: CREG Test Evaluation Summary - Construction Phase</a></li>
<li><a href="../examples/csports/ex_tstrslt1.htm">Example: CSPS Test Evaluation Summary V1.0</a></li>
</ul>
</li>
<li><a href="../process/workflow/test/co_keyme.htm">Concept: Key Measures of Test</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_rvrec.htm">Description: Review Record</a><ul>
<li><a href="../process/workguid/wg_rview.htm">Guideline: Reviews</a></li>
<li><a href="../process/modguide/md_rvrec_repn.htm">Guideline: Review Record — Informal Representation</a></li>
</ul>
</li>
</ul>

</p>
<br>
<br>


 
 

<p>
 <font face="Arial"><a href="../copyrite/copyrite.htm">
 <font size="-2">Copyright&nbsp;&copy;&nbsp;1987 - 2003 Rational Software Corporation</font>
 </a></font>
</p>


</td><td valign="top" width="24"></td><td valign="top" width="1%">
<p>
<a href="../index.htm"></a>
</p>

<script language="JavaScript">
<!--

function loadTop()
{
  if(parent.frames.length!=0 && parent.frames[1].name=="ory_toc")
  {
     alert("The Rational Unified Process is already displayed using frames");
  }
  else
  {
    var expires = new Date();
    expires.setTime (expires.getTime() + (1000 * 20));
    document.cookie = "rup_ory_doc=" + escape (document.URL) +
    "; expires=" + expires.toUTCString() +  "; path=/";

    var new_ory_doc_loc = null;

    for(i=document.links.length-1;i>=0;i--)
    {
       if(document.links[i].href.indexOf("index.htm")!=-1)
       {
         new_ory_doc_loc = document.links[i].href;
         break;
       }
    }

    if(new_ory_doc_loc!=null)
    {
	if( self.name == "ory_doc" )
	{
		window.close();
		window.open( new_ory_doc_loc );		
	}
	else
	{
	       	top.location = new_ory_doc_loc;
	}
    }
   }
}
// -->
</script>
<script language="JavaScript">
<!--
  function getImageUrl(image)
  {
    var new_ory_doc_loc=null;
    for(i=document.links.length-1;i>=0;i--)
    {
       if(document.links[i].href.indexOf("index.htm")!=-1)
       {
         new_ory_doc_loc = document.links[i].href.substring(0,document.links[i].href.lastIndexOf("/"));
         new_ory_doc_loc = new_ory_doc_loc + "" + image;
         return new_ory_doc_loc;
       }
    }
    return null;
  }
// -->
</script>
<script
language="JavaScript">
<!--
MSFPhover =
(((navigator.appName == "Netscape") &&
  (parseInt(navigator.appVersion) >= 3 )) ||
  ((navigator.appName == "Microsoft Internet Explorer") &&
  (parseInt(navigator.appVersion) >= 4 )));

  function MSFPpreload(img)
  {
     var a=new Image();
     a.src=img;
     return a;
  }
// -->
</script>
<script language="JavaScript">
<!--
    if(MSFPhover)
    {
        RupGray=MSFPpreload(getImageUrl('/images/rup1.gif'));
        RupBlue=MSFPpreload(getImageUrl('/images/rup1_a.gif'));
    }
// -->

//new code to display the load button or not
var ory_toc_exist = typeof parent.ory_toc;
if (ory_toc_exist == "undefined") {
	document.write("<a href=\"JavaScript:loadTop();\" onmouseover=\"if(MSFPhover) document['Home'].src=RupBlue.src; self.status='Display Rational Unified Process using frames'; return true\" onmouseout=\"if(MSFPhover) document['Home'].src=RupGray.src; self.status= ' ';return true\"> <br> <img src=\"../images/rup1.gif");
	document.write("\"  border=\"0\" alt=\Display Rational Unified Process using frames\" name=\"Home\" width=\"26\" height=\"167\"></a>");
}
else {
	document.write("&nbsp;");
}

</script>
</td></tr></table><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>
<p align="right"><font face="Arial"><small><small>Rational Unified
Process&nbsp;&nbsp; 
<img border="0" width="63" height="7" src="../images/rupversion.gif">
</small></small></font>
</td></tr></table>
 

</body>

</html>