<!-- RPW META DATA START --

 
 
-- RPW META DATA END -->

<html>

<head>
<link rel="StyleSheet" href="../rop.css" type="text/css">
<title>Process Component: Business Modeling</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>

 
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top">

<script language="JavaScript">
<!--

//Tell the TreePath to update itself
var thePath = "";
var type = typeof parent.ory_button;
if (type != "undefined") {
	 type = typeof parent.ory_button.getTreePath();
	 if (type != "undefined") {
	 	 thePath = parent.ory_button.getTreePath();
	 }
}
document.write(thePath);
-->
</script>

 

      
<h2 align="center" class="banner">Process Component: <rpw name="PresentationName">Business Modeling</rpw></h2>

<h3>Description</h3>
      
<p>The Business Modeling process component provides process guidance for:</p>
<ul>
  <li>understanding the structure and the dynamics of an organization in which 
    a system is to be deployed (the target organization)</li>
  <li>understanding current problems in the target organization and identifying 
    improvement potentials</li>
  <li>ensuring that customers, end users, and developers have a common understanding 
    of the target organization</li>
  <li>deriving system requirements needed to support the target organization<br>
  </li>
</ul>
<p>Business Modeling efforts can be as simple as gathering some information for 
  minor business improvements, or can be a means of engineering or re-engineering 
  the business processes for an entire organization. The Business Modeling process 
  component provides guidance on how business modeling can be applied in a variety 
  of contexts.</p>
<p></p>
      <h3>Dependencies</h3>
      
<p>None</p>
      <h3>Content </h3>
<p align="left">

    <ul>
<li><a href="busmod/pc_busmod_uc.htm">Description: Business Use-Case Modeling</a><ul>
<li><a href="../process/artifact/ar_bucm.htm">Description: Business Use-Case Model</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bacg.htm">Guideline: Actor-Generalization in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bucm.htm">Guideline: Business Use Case Model</a></li>
<li><a href="../process/modguide/md_bcomm.htm">Guideline: Communicate-Association in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bext.htm">Guideline: Extend-Relationship in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bincl.htm">Guideline: Include-Relationship in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bucdg.htm">Guideline: Use-Case Diagram in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bucgn.htm">Guideline: Use-Case-Generalization in the Business Use-Case Model</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_bact.htm">Description: Business Actor</a><ul>
<li><a href="../process/activity/chklists/ck_bact.htm">Checklist: Business Actor</a></li>
<li><a href="../process/modguide/md_bact.htm">Guideline: Business Actor</a></li>
<li><a href="../process/reports/re_bact.htm">Report: Business Actor Report - <business actor name></a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_buc.htm">Description: Business Use Case</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_buc.htm">Guideline: Business Use Case</a></li>
<li><a href="../process/modguide/md_bactd.htm">Guideline: Activity Diagram in the Business Use-Case Model</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_buc.htm">Checklist: Business Use Cases</a></li>
<li><a href="../webtmpl/templates/bm/rup_bucs.htm">Template: Business Use-Case Specification</a></li>
<li><a href="../process/reports/re_buc.htm">Report: Business Use Case <business use-case name></a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_bucm.htm">Checklist: Business Use Case Model</a></li>
<li><a href="../process/reports/re_bucm.htm">Report: Business Use Case Model Survey</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_sbs.htm">Description: Supplementary Business Specification</a><ul>
<li><a href="../process/activity/chklists/ck_sbs.htm">Checklist: Supplementary Business Specification</a></li>
<li><a href="../webtmpl/templates/bm/rup_sbs.htm">Template: Supplementary Business Specification</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="busmod/pc_busmod_bam.htm">Description: Business Analysis Modeling</a><ul>
<li><a href="../process/artifact/ar_bom.htm">Description: Business Analysis Model</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bom.htm">Guideline: Business Analysis Model</a></li>
<li><a href="../process/modguide/md_bactdbom.htm">Guideline: Diagrams in the Business Analysis Model</a></li>
<li><a href="../process/modguide/md_basso.htm">Guideline: Association in the Business Analysis Model</a></li>
<li><a href="../process/modguide/md_baggr.htm">Guideline: Aggregation in the Business Analysis Model</a></li>
<li><a href="../process/modguide/md_bgen.htm">Guideline: Generalization in the Business Analysis Model</a></li>
<li><a href="../process/modguide/md_bmtse.htm">Guideline: Going from Business Models to Systems</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_bevnt.htm">Description: Business Event</a><ul>
<li><a href="../process/modguide/md_bevnt.htm">Guideline: Business Event</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_bucr.htm">Description: Business Use Case Realization</a><ul>
<li><a href="../process/activity/chklists/ck_bucr.htm">Checklist: Business Use-Case Realization</a></li>
<li><a href="../process/modguide/md_bucr.htm">Guideline: Business Use-Case Realization</a></li>
<li><a href="../webtmpl/templates/bm/rup_bucr.htm">Template: Business Use-Case Realization Specification</a></li>
<li><a href="../process/reports/re_bucr.htm">Report: Business   Use-Case Realization <name></a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_bwk.htm">Description: Business Worker</a><ul>
<li><a href="../process/activity/chklists/ck_bwk.htm">Checklist: Business Worker</a></li>
<li><a href="../process/modguide/md_bwk.htm">Guideline: Business Worker</a></li>
<li><a href="../process/reports/re_bwk.htm">Report: Business   Worker <business-worker name></a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_bent.htm">Description: Business Entity</a><ul>
<li><a href="../process/activity/chklists/ck_bent.htm">Checklist: Business Entities</a></li>
<li><a href="../process/modguide/md_bent.htm">Guideline: Business Entity</a></li>
<li><a href="../process/reports/re_bent.htm">Report: Business   Entity <business entity name></a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_orgu.htm">Description: Business System</a><ul>
<li><a href="../process/activity/chklists/ck_orgu.htm">Checklist: Business System</a></li>
<li><a href="../process/modguide/md_orgun.htm">Guideline: Business System</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_bom.htm">Checklist: Business Analysis Model</a></li>
<li><a href="../process/reports/re_bom.htm">Report: Business Analysis Model Survey</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_badoc.htm">Description: Business Architecture Document</a><ul>
<li><a href="../process/activity/chklists/ck_bad.htm">Checklist: Business Architecture Document</a></li>
<li><a href="../process/modguide/md_bad.htm">Guideline: Business Architecture Document</a></li>
<li><a href="../process/workflow/busmodel/co_barch.htm">Concept: Business Architecture</a></li>
<li><a href="../webtmpl/templates/bm/rup_barchdoc.htm">Template: Business Architecture Document</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/workers/wk_bpan.htm">Description: Business-Process Analyst</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/busmodel/co_scobm.htm">Concept: Scope of Business Modeling</a></li>
<li><a href="../process/workflow/busmodel/co_large.htm">Concept: Modeling Large Organizations</a></li>
<li><a href="../process/workflow/busmodel/co_ebiz.htm">Concept: e-business Development</a></li>
<li><a href="../process/workflow/busmodel/co_barch.htm">Concept: Business Architecture</a></li>
<li><a href="../process/workflow/busmodel/co_bpatt.htm">Concept: Business Patterns</a></li>
<li><a href="../process/workflow/busmodel/co_abc.htm">Concept: Activity-Based Costing</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_bccvo.htm">Description: Capture a Common Business Vocabulary</a></li>
<li><a href="../process/activity/ac_asstrg.htm">Description: Assess Target Organization</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/busmodel/co_scobm.htm">Concept: Scope of Business Modeling</a></li>
<li><a href="../process/workflow/busmodel/co_abc.htm">Concept: Activity-Based Costing</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/workguid/wg_assws.htm">Guideline: Assessment Workshop</a></li>
<li><a href="../process/workguid/wg_brnst.htm">Guideline: Brainstorming and Idea Reduction</a></li>
<li><a href="../process/workguid/wg_paret.htm">Guideline: Pareto Diagrams</a></li>
<li><a href="../process/workguid/wg_fish.htm">Guideline: Fishbone Diagrams</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/activity/ac_sgoals.htm">Description: Set and Adjust Objectives</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/busmodel/co_scobm.htm">Concept: Scope of Business Modeling</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/workguid/wg_paret.htm">Guideline: Pareto Diagrams</a></li>
<li><a href="../process/workguid/wg_fish.htm">Guideline: Fishbone Diagrams</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/activity/ac_mbrls.htm">Description: Maintain Business Rules</a></li>
<li><a href="../process/activity/ac_idbgl.htm">Description: Identify Business Goals</a></li>
<li><a href="../process/activity/ac_sbucm.htm">Description: Structure the Business Use-Case Model</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bucm.htm">Guideline: Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bucdg.htm">Guideline: Use-Case Diagram in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bincl.htm">Guideline: Include-Relationship in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bext.htm">Guideline: Extend-Relationship in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bucgn.htm">Guideline: Use-Case-Generalization in the Business Use-Case Model</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/activity/ac_fbauc.htm">Description: Find Business Actors and Use Cases</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bact.htm">Guideline: Business Actor</a></li>
<li><a href="../process/modguide/md_buc.htm">Guideline: Business Use Case</a></li>
<li><a href="../process/modguide/md_bgoal.htm">Guideline: Business Goal</a></li>
<li><a href="../process/modguide/md_bucdg.htm">Guideline: Use-Case Diagram in the Business Use-Case Model</a></li>
<li><a href="../process/modguide/md_bcomm.htm">Guideline: Communicate-Association in the Business Use-Case Model</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/activity/ac_barc.htm">Description: Define the Business Architecture</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/busmodel/co_barch.htm">Concept: Business Architecture</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bad.htm">Guideline: Business Architecture Document</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/workers/wk_bdes.htm">Description: Business Designer</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/busmodel/co_abc.htm">Concept: Activity-Based Costing</a></li>
<li><a href="../process/workflow/busmodel/co_bpatt.htm">Concept: Business Patterns</a></li>
<li><a href="../process/workflow/busmodel/co_barch.htm">Concept: Business Architecture</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_daut.htm">Description: Define Automation Requirements</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bmtse.htm">Guideline: Going from Business Models to Systems</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/activity/ac_debuc.htm">Description: Detail a Business Use Case</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_buc.htm">Guideline: Business Use Case</a></li>
<li><a href="../process/modguide/md_bactd.htm">Guideline: Activity Diagram in the Business Use-Case Model</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/activity/ac_dent.htm">Description: Detail a Business Entity</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bent.htm">Guideline: Business Entity</a></li>
<li><a href="../process/modguide/md_bactdbom.htm">Guideline: Diagrams in the Business Analysis Model</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/activity/ac_dewk.htm">Description: Detail a Business Worker</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bwk.htm">Guideline: Business Worker</a></li>
<li><a href="../process/modguide/md_bactdbom.htm">Guideline: Diagrams in the Business Analysis Model</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/activity/ac_fbwke.htm">Description: Find Business Workers and Entities</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_bom.htm">Guideline: Business Analysis Model</a></li>
<li><a href="../process/workguid/wg_bomws.htm">Guideline: Business Analysis Modeling Workshop</a></li>
<li><a href="../process/workguid/wg_rlpl.htm">Guideline: Role Playing</a></li>
<li><a href="../process/modguide/md_baggr.htm">Guideline: Aggregation in the Business Analysis Model</a></li>
<li><a href="../process/modguide/md_bgen.htm">Guideline: Generalization in the Business Analysis Model</a></li>
<li><a href="../process/modguide/md_basso.htm">Guideline: Association in the Business Analysis Model</a></li>
<li><a href="../process/modguide/md_bucr.htm">Guideline: Business Use-Case Realization</a></li>
<li><a href="../process/modguide/md_bactdbom.htm">Guideline: Diagrams in the Business Analysis Model</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/artifact/ar_bvsio.htm">Description: Business Vision</a><ul>
<li><a href="../process/activity/chklists/ck_bvsio.htm">Checklist: Business Vision</a></li>
<li><a href="../process/modguide/md_bvsio.htm">Guideline: Business Vision</a></li>
<li><a href="../webtmpl/templates/bm/rup_bvis.htm">Template: Business Vision</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_bgloss.htm">Description: Business Glossary</a><ul>
<li><a href="../process/activity/chklists/ck_bgloss.htm">Checklist: Business Glossary</a></li>
<li><a href="../webtmpl/templates/bm/rup_bgloss.htm">Template: Business Glossary</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_torg.htm">Description: Target-Organization Assessment</a><ul>
<li><a href="../process/modguide/md_torg.htm">Guideline: Target-Organization Assessment</a></li>
<li><a href="../webtmpl/templates/bm/rup_tarorgass.htm">Template: Target-Organization Assessment</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_bgoal.htm">Description: Business Goal</a><ul>
<li><a href="../process/activity/chklists/ck_bgoal.htm">Checklist: Business Goal</a></li>
<li><a href="../process/modguide/md_bgoal.htm">Guideline: Business Goal</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_brules.htm">Description: Business Rules Document</a><ul>
<li><a href="../process/activity/chklists/ck_brules.htm">Checklist: Business Rules</a></li>
<li><a href="../process/modguide/md_brule.htm">Guideline: Business Rules</a></li>
<li><a href="../webtmpl/templates/bm/rup_brul.htm">Template: Business Rules Document</a></li>
<li><a href="../process/reports/re_brules.htm">Report: Business Rules Survey</a></li>
</ul>
</li>
</ul>
 

</p>
<br>
<br>


 
 

<p>
 <font face="Arial"><a href="../copyrite/copyrite.htm">
 <font size="-2">Copyright&nbsp;&copy;&nbsp;1987 - 2003 Rational Software Corporation</font>
 </a></font>
</p>


</td><td valign="top" width="24"></td><td valign="top" width="1%">
<p>
<a href="../index.htm"></a>
</p>

<script language="JavaScript">
<!--

function loadTop()
{
  if(parent.frames.length!=0 && parent.frames[1].name=="ory_toc")
  {
     alert("The Rational Unified Process is already displayed using frames");
  }
  else
  {
    var expires = new Date();
    expires.setTime (expires.getTime() + (1000 * 20));
    document.cookie = "rup_ory_doc=" + escape (document.URL) +
    "; expires=" + expires.toUTCString() +  "; path=/";

    var new_ory_doc_loc = null;

    for(i=document.links.length-1;i>=0;i--)
    {
       if(document.links[i].href.indexOf("index.htm")!=-1)
       {
         new_ory_doc_loc = document.links[i].href;
         break;
       }
    }

    if(new_ory_doc_loc!=null)
    {
	if( self.name == "ory_doc" )
	{
		window.close();
		window.open( new_ory_doc_loc );		
	}
	else
	{
	       	top.location = new_ory_doc_loc;
	}
    }
   }
}
// -->
</script>
<script language="JavaScript">
<!--
  function getImageUrl(image)
  {
    var new_ory_doc_loc=null;
    for(i=document.links.length-1;i>=0;i--)
    {
       if(document.links[i].href.indexOf("index.htm")!=-1)
       {
         new_ory_doc_loc = document.links[i].href.substring(0,document.links[i].href.lastIndexOf("/"));
         new_ory_doc_loc = new_ory_doc_loc + "" + image;
         return new_ory_doc_loc;
       }
    }
    return null;
  }
// -->
</script>
<script
language="JavaScript">
<!--
MSFPhover =
(((navigator.appName == "Netscape") &&
  (parseInt(navigator.appVersion) >= 3 )) ||
  ((navigator.appName == "Microsoft Internet Explorer") &&
  (parseInt(navigator.appVersion) >= 4 )));

  function MSFPpreload(img)
  {
     var a=new Image();
     a.src=img;
     return a;
  }
// -->
</script>
<script language="JavaScript">
<!--
    if(MSFPhover)
    {
        RupGray=MSFPpreload(getImageUrl('/images/rup1.gif'));
        RupBlue=MSFPpreload(getImageUrl('/images/rup1_a.gif'));
    }
// -->

//new code to display the load button or not
var ory_toc_exist = typeof parent.ory_toc;
if (ory_toc_exist == "undefined") {
	document.write("<a href=\"JavaScript:loadTop();\" onmouseover=\"if(MSFPhover) document['Home'].src=RupBlue.src; self.status='Display Rational Unified Process using frames'; return true\" onmouseout=\"if(MSFPhover) document['Home'].src=RupGray.src; self.status= ' ';return true\"> <br> <img src=\"../images/rup1.gif");
	document.write("\"  border=\"0\" alt=\Display Rational Unified Process using frames\" name=\"Home\" width=\"26\" height=\"167\"></a>");
}
else {
	document.write("&nbsp;");
}

</script>
</td></tr></table><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>
<p align="right"><font face="Arial"><small><small>Rational Unified
Process&nbsp;&nbsp; 
<img border="0" width="63" height="7" src="../images/rupversion.gif">
</small></small></font>
</td></tr></table>
 

</body>

</html>