<!-- RPW META DATA START --
 
 
-- RPW META DATA END -->

<html>

<head>
<link rel="StyleSheet" href="../rop.css" type="text/css">
<title>Process&nbsp;Component:&nbsp;Requirements</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>

 
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td valign="top">

<script language="JavaScript">
<!--

//Tell the TreePath to update itself
var thePath = "";
var type = typeof parent.ory_button;
if (type != "undefined") {
	 type = typeof parent.ory_button.getTreePath();
	 if (type != "undefined") {
	 	 thePath = parent.ory_button.getTreePath();
	 }
}
document.write(thePath);
-->
</script>

 

   
      
<h2 class="banner">Process Component: <rpw name="PresentationName">Requirements</rpw></h2>

<h3>Description</h3>
<p>The Requirements process component is concerned with the process of eliciting 
  and capturing the requirements of the stakeholders in the software project.</p>
<p>Requirements are an important concern in any software engineering effort.</p>


<h3>Dependencies</h3>
<p>Depends on the Management process component.</p>


<h3>Content</h3>
<p>
  <ul>
<li><a href="requirements/pc_req_usecases.htm">Description: Requirements w/ Use Cases</a><ul>
<li><a href="../process/artifact/ar_sspec.htm">Description: Supplementary Specifications</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/req/rup_sspec.htm">Template: Supplementary Specification</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/creg/inception/supplspec_v0.htm">Example: CREG Supplementary Specification - Inception Phase</a></li>
<li><a href="../examples/creg/elaboration_e1/supplspec_v1.htm">Example: CREG Supplementary Specification - Elaboration Phase</a></li>
<li><a href="../examples/csports/ex_suppspc1.htm">Example: CSPS Supplementary Specification V1.0</a></li>
<li><a href="../examples/csports/ex_suppspc2.htm">Example: CSPS Supplementary Specification V2.0</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_sspec.htm">Checklist: Supplementary Specifications</a></li>
<li><a href="../process/modguide/md_srs.htm">Guideline: Software Requirements Specification</a></li>
<li><a href="../process/workflow/requirem/co_req.htm">Concept: Requirements</a></li>
<li><a href="../process/modguide/md_supp_repn.htm">Guideline: Supplementary Specifications — Informal Representation</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_ucmod.htm">Description: Use-Case Model</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_ucmod.htm">Guideline: Use-Case Model</a></li>
<li><a href="../process/modguide/md_ucdgr.htm">Guideline: Use-Case Diagram</a></li>
<li><a href="../manuals/ucmgl/ucmgl.htm">Example: Use Case Modeling Guidelines</a></li>
<li><a href="../process/modguide/md_comas.htm">Guideline: Communicate-Association</a></li>
<li><a href="../process/modguide/md_actgn.htm">Guideline: Actor-Generalization</a></li>
<li><a href="../process/modguide/md_ucgen.htm">Guideline: Use-Case Generalization</a></li>
<li><a href="../process/modguide/md_incl.htm">Guideline: Include-Relationship</a></li>
<li><a href="../process/modguide/md_exrel.htm">Guideline: Extend-Relationship</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_ucpkg.htm">Description: Use-Case Package</a><ul>
<li><a href="../process/modguide/md_ucpkg.htm">Guideline: Use-Case Package</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_uc.htm">Description: Use Case</a><ul>
<li>guidelines<ul>
<li><a href="../process/modguide/md_uc.htm">Guideline: Use Case</a></li>
<li><a href="../process/modguide/md_actd.htm">Guideline: Activity Diagram in the Use-Case Model</a></li>
</ul>
</li>
<li>Templates<ul>
<li><a href="../webtmpl/templates/req/rup_ucspec.htm">Template: Use-Case Specification</a></li>
<li><a href="../webtmpl/templates/req/ucspec_informal.htm">Template: Use-Case Specification (Informal)</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/creg/elaboration_e1/uc_specs.htm">Example: CREG Use Case Specifications - Elaboration Phase</a></li>
<li><a href="../examples/csports/ovu_uc_inception.htm">Example: CSPS Use Case Specifications - Inception Phase</a></li>
<li><a href="../examples/csports/ovu_uc_elaboration.htm">Example: CSPS Use Case Specifications - Elaboration Phase</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_uc.htm">Checklist: Use Case</a></li>
<li><a href="../process/reports/re_ucrep.htm">Report: Use Case <use-case name></a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_actor.htm">Description: Actor</a><ul>
<li><a href="../process/activity/chklists/ck_actor.htm">Checklist: Actor</a></li>
<li><a href="../process/modguide/md_actor.htm">Guideline: Actor</a></li>
<li><a href="../process/reports/re_actor.htm">Report: Actor Report - <actor name></a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/csports/root.html">Example: CSPS Rose Model</a></li>
<li><a href="../examples/csports/ex_ucsurvey.htm">Example: CSPS Use Case Model Survey - Inception Phase</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_ucmod.htm">Checklist: Use-Case Model</a></li>
<li><a href="../process/workflow/requirem/co_ucv.htm">Concept: Use-Case View</a></li>
<li><a href="../process/reports/re_ucmsv.htm">Report: Use-Case Model Survey</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="requirements/pc_req_management.htm">Description: Requirements Management</a><ul>
<li><a href="../process/artifact/ar_ratgl.htm">Description: Requirements Management Plan</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/req/rup_rmpln.htm">Template: Requirements Management Plan</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/wc/rm_plan.htm">Example: WC Requirements Management Plan</a></li>
</ul>
</li>
<li><a href="../process/modguide/md_rmp.htm">Guideline: Requirements Management Plan</a></li>
<li><a href="../process/workflow/requirem/co_rm.htm">Concept: Requirements Management</a></li>
<li><a href="../examples/csports/ex_rqmgt.htm">Example: CSPS Requirements Management Plan V1.0</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_rattr.htm">Description: Requirements Attributes</a><ul>
<li><a href="../process/activity/chklists/ck_rattr.htm">Checklist: Requirements Attributes</a></li>
<li><a href="../process/modguide/md_rmp.htm">Guideline: Requirements Management Plan</a></li>
<li><a href="../process/workflow/requirem/co_trace.htm">Concept: Traceability</a></li>
<li><a href="../process/workflow/requirem/co_rm.htm">Concept: Requirements Management</a></li>
<li><a href="../process/workflow/requirem/co_reqty.htm">Concept: Types of Requirements</a></li>
<li><a href="../process/workflow/requirem/co_req.htm">Concept: Requirements</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/workers/wk_ucaut.htm">Description: Requirements Specifier</a><ul>
<li><a href="../process/activity/ac_prdsrs.htm">Description: Detail the Software Requirements</a><ul>
<li><a href="../process/modguide/md_srs.htm">Guideline: Software Requirements Specification</a></li>
<li><a href="../process/reports/re_ucmsv.htm">Report: Use-Case Model Survey</a></li>
<li><a href="../process/reports/re_ucrep.htm">Report: Use Case <use-case name></a></li>
</ul>
</li>
<li><a href="../process/activity/ac_desuc.htm">Description: Detail a Use Case</a><ul>
<li><a href="../process/activity/chklists/ck_uc.htm">Checklist: Use Case</a></li>
<li><a href="../process/activity/chklists/ck_sspec.htm">Checklist: Supplementary Specifications</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/workers/wk_sysan.htm">Description: System Analyst</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/requirem/co_rm.htm">Concept: Requirements Management</a></li>
<li><a href="../process/workflow/requirem/co_trace.htm">Concept: Traceability</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/workguid/wg_brnst.htm">Guideline: Brainstorming and Idea Reduction</a></li>
</ul>
</li>
<li>Whitepapers<ul>
<li><a href="../papers/apprmuc.htm">Whitepaper: Applying Requirements Management with Use Cases</a></li>
<li><a href="../papers/usecase.htm">Whitepaper: The Estimation of Effort Based on Use Cases</a></li>
<li><a href="../papers/traceability.htm">Whitepaper: Traceability Strategies for Managing Requirements with Use Cases</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_dvisn.htm">Description: Develop Vision</a></li>
<li><a href="../process/activity/ac_elstk.htm">Description: Elicit Stakeholder Requests</a><ul>
<li><a href="../process/workflow/manageme/co_proto.htm">Concept: Prototypes</a></li>
<li><a href="../process/workguid/wg_stbd.htm">Guideline: Storyboarding</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_ccvoc.htm">Description: Capture a Common Vocabulary</a></li>
<li><a href="../process/activity/ac_stucm.htm">Description: Structure the Use-Case Model</a></li>
<li><a href="../process/activity/ac_facuc.htm">Description: Find Actors and Use Cases</a><ul>
<li><a href="../process/workguid/wg_ucwsh.htm">Guideline: Use-Case Workshop</a></li>
</ul>
</li>
<li><a href="../process/activity/ac_mgdep.htm">Description: Manage Dependencies</a></li>
<li><a href="../process/activity/ac_devra.htm">Description: Develop Requirements Management Plan</a><ul>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_rmp.htm">Guideline: Requirements Management Plan</a></li>
<li><a href="../process/modguide/md_idreq.htm">Guideline: Important Decisions in Requirements</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/workers/wk_sthld.htm">Description: Stakeholder</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/requirem/co_ucd.htm">Concept: User-Centered Design</a></li>
<li><a href="../process/workflow/test/co_accte.htm">Concept: Acceptance Testing</a></li>
</ul>
</li>
<li>Whitepapers<ul>
<li><a href="../papers/teness.htm">Whitepaper: The Ten Essentials of RUP</a></li>
<li><a href="../papers/apprmuc.htm">Whitepaper: Applying Requirements Management with Use Cases</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/artifact/ar_sftrqm.htm">Description: Software Requirement</a><ul>
<li>Concepts<ul>
<li><a href="../process/workflow/requirem/co_req.htm">Concept: Requirements</a></li>
<li><a href="../process/workflow/requirem/co_reqty.htm">Concept: Types of Requirements</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="../process/artifact/ar_vsion.htm">Description: Vision</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/req/rup_vision.htm">Template:  Vision</a></li>
<li><a href="../webtmpl/templates/req/vision_informal.htm">Template: Vision (Informal)</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/creg/inception/vision_v1.htm">Example: CREG Vision - Inception Phase</a></li>
<li><a href="../examples/csports/ex_vision.htm">Example: CSPS Vision V1.0</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_vsion.htm">Checklist: Vision</a></li>
<li><a href="../process/activity/chklists/ck_stnds.htm">Checklist: Stakeholder Requests</a></li>
<li><a href="../process/activity/chklists/ck_rattr.htm">Checklist: Requirements Attributes</a></li>
<li><a href="../process/modguide/md_rmp.htm">Guideline: Requirements Management Plan</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_gloss.htm">Description: Glossary</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/req/rup_gloss.htm">Template: Glossary</a></li>
</ul>
</li>
<li>Examples<ul>
<li><a href="../examples/creg/elaboration_e1/glossary_v2.htm">Example: CREG Glossary - Elaboration Phase</a></li>
<li><a href="../examples/creg/inception/glossary_v1.htm">Example: CREG Glossary - Inception Phase</a></li>
<li><a href="../examples/csports/ex_gloss1.htm">Example: CSPS Glossary V1.0</a></li>
<li><a href="../examples/csports/ex_gloss2.htm">Example: CSPS Glossary V2.0</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_gloss.htm">Checklist: Glossary</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_stnds.htm">Description: Stakeholder Requests</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/req/rup_stkreq.htm">Template: Stakeholder Requests</a></li>
</ul>
</li>
<li>Guidelines<ul>
<li><a href="../process/modguide/md_stnds_repn.htm">Guideline: Stakeholder Requests — Informal Representation</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_stnds.htm">Checklist: Stakeholder Requests</a></li>
<li><a href="../process/workguid/wg_intrv.htm">Guideline: Interviews</a></li>
<li><a href="../process/workguid/wg_rqwsh.htm">Guideline: Requirements Workshop</a></li>
<li><a href="../process/workflow/conf_mgt/co_revno.htm">Concept: Change Request Management</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_storyboard.htm">Description: Storyboard</a><ul>
<li><a href="../process/modguide/md_storyboard.htm">Guideline: Storyboard</a></li>
<li><a href="../process/workguid/wg_stbd.htm">Guideline: Storyboarding</a></li>
</ul>
</li>
<li><a href="../process/artifact/ar_srs.htm">Description: Software Requirements Specification</a><ul>
<li>Templates<ul>
<li><a href="../webtmpl/templates/req/rup_srs.htm">Template:  SRS traditional</a></li>
<li><a href="../webtmpl/templates/req/rup_srsuc.htm">Template:  SRS w/ Use-Cases</a></li>
</ul>
</li>
<li><a href="../process/activity/chklists/ck_srs.htm">Checklist: Software Requirements Specification</a></li>
<li><a href="../process/modguide/md_srs.htm">Guideline: Software Requirements Specification</a></li>
<li><a href="../process/modguide/md_rmp.htm">Guideline: Requirements Management Plan</a></li>
<li><a href="../process/workflow/requirem/co_req.htm">Concept: Requirements</a></li>
<li><a href="../process/workflow/requirem/co_reqty.htm">Concept: Types of Requirements</a></li>
<li><a href="../process/workflow/requirem/co_rm.htm">Concept: Requirements Management</a></li>
<li><a href="../process/workflow/requirem/co_trace.htm">Concept: Traceability</a></li>
</ul>
</li>
</ul>

</p>
<br>
<br>


 
 

<p>
 <font face="Arial"><a href="../copyrite/copyrite.htm">
 <font size="-2">Copyright&nbsp;&copy;&nbsp;1987 - 2003 Rational Software Corporation</font>
 </a></font>
</p>


</td><td valign="top" width="24"></td><td valign="top" width="1%">
<p>
<a href="../index.htm"></a>
</p>

<script language="JavaScript">
<!--

function loadTop()
{
  if(parent.frames.length!=0 && parent.frames[1].name=="ory_toc")
  {
     alert("The Rational Unified Process is already displayed using frames");
  }
  else
  {
    var expires = new Date();
    expires.setTime (expires.getTime() + (1000 * 20));
    document.cookie = "rup_ory_doc=" + escape (document.URL) +
    "; expires=" + expires.toUTCString() +  "; path=/";

    var new_ory_doc_loc = null;

    for(i=document.links.length-1;i>=0;i--)
    {
       if(document.links[i].href.indexOf("index.htm")!=-1)
       {
         new_ory_doc_loc = document.links[i].href;
         break;
       }
    }

    if(new_ory_doc_loc!=null)
    {
	if( self.name == "ory_doc" )
	{
		window.close();
		window.open( new_ory_doc_loc );		
	}
	else
	{
	       	top.location = new_ory_doc_loc;
	}
    }
   }
}
// -->
</script>
<script language="JavaScript">
<!--
  function getImageUrl(image)
  {
    var new_ory_doc_loc=null;
    for(i=document.links.length-1;i>=0;i--)
    {
       if(document.links[i].href.indexOf("index.htm")!=-1)
       {
         new_ory_doc_loc = document.links[i].href.substring(0,document.links[i].href.lastIndexOf("/"));
         new_ory_doc_loc = new_ory_doc_loc + "" + image;
         return new_ory_doc_loc;
       }
    }
    return null;
  }
// -->
</script>
<script
language="JavaScript">
<!--
MSFPhover =
(((navigator.appName == "Netscape") &&
  (parseInt(navigator.appVersion) >= 3 )) ||
  ((navigator.appName == "Microsoft Internet Explorer") &&
  (parseInt(navigator.appVersion) >= 4 )));

  function MSFPpreload(img)
  {
     var a=new Image();
     a.src=img;
     return a;
  }
// -->
</script>
<script language="JavaScript">
<!--
    if(MSFPhover)
    {
        RupGray=MSFPpreload(getImageUrl('/images/rup1.gif'));
        RupBlue=MSFPpreload(getImageUrl('/images/rup1_a.gif'));
    }
// -->

//new code to display the load button or not
var ory_toc_exist = typeof parent.ory_toc;
if (ory_toc_exist == "undefined") {
	document.write("<a href=\"JavaScript:loadTop();\" onmouseover=\"if(MSFPhover) document['Home'].src=RupBlue.src; self.status='Display Rational Unified Process using frames'; return true\" onmouseout=\"if(MSFPhover) document['Home'].src=RupGray.src; self.status= ' ';return true\"> <br> <img src=\"../images/rup1.gif");
	document.write("\"  border=\"0\" alt=\Display Rational Unified Process using frames\" name=\"Home\" width=\"26\" height=\"167\"></a>");
}
else {
	document.write("&nbsp;");
}

</script>
</td></tr></table><table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td>
<p align="right"><font face="Arial"><small><small>Rational Unified
Process&nbsp;&nbsp; 
<img border="0" width="63" height="7" src="../images/rupversion.gif">
</small></small></font>
</td></tr></table>
 

</body>

</html>