<!-- RPW META DATA START --

 
 
<rpw name="PresentationName">Design Guidelines</rpw>
-- RPW META DATA END -->

<html>

<head>
<meta name=Originator content="Microsoft Word 9">
<title>Design Guidelines</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style>
<!--
 
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{
	margin:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

h1
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Arial;}
h2
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;}
h3
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:.5in;
	text-indent:-.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Arial;
	font-weight:normal;
	font-style:italic;}

p.MsoToc1, li.MsoToc1, div.MsoToc1
	{
	margin-top:12.0pt;
	margin-right:.5in;
	margin-bottom:3.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc2, li.MsoToc2, div.MsoToc2
	{
	margin-top:0in;
	margin-right:.5in;
	margin-bottom:0in;
	margin-left:.3in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MsoToc3, li.MsoToc3, div.MsoToc3
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.6in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}

p.MsoTitle, li.MsoTitle, div.MsoTitle
	{
	margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	font-size:18.0pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;}

p.Tabletext, li.Tabletext, div.Tabletext
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:0in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";}
p.MainTitle, li.MainTitle, div.MainTitle
	{
	margin-top:24.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:0in;
	text-align:center;
	font-size:16.0pt;
	font-family:Arial;
	font-weight:bold;}

p.Body, li.Body, div.Body
	{
	margin-top:6.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:10.0pt;
	font-family:"Book Antiqua";}

p.InfoBlue, li.InfoBlue, div.InfoBlue
	{
	margin-top:0in;
	margin-right:0in;
	margin-bottom:6.0pt;
	margin-left:.5in;
	line-height:12.0pt;
	font-size:10.0pt;
	font-family:"Times New Roman";
	color:blue;
	font-style:italic;}
-->
</style>
</head>

<body lang="EN-US" link="blue" vlink="purple">
<div class="Section1">
<p class="MsoTitle" align="right" style="text-align:right">&lt;Project Name&gt;</p>
<p class="MsoTitle" align="right" style="text-align:right">Design Guidelines</p>
<p class="MsoTitle" align="right" style="text-align:right">&nbsp;</p>
<p class="MsoTitle" align="right" style="text-align:right"><span style="font-size:
14.0pt;">Version &lt;1.0&gt;</span></p>
<p class="MsoTitle"><span style="font-size:14.0pt;">&nbsp;</span></p>
<p class="MsoNormal">&nbsp;</p>
<p class="InfoBlue">[Note: The following template is provided for use with the
Rational Unified Process. Text enclosed in square brackets and
displayed in blue italics (style=InfoBlue) is included to provide guidance to
the author and should be deleted before publishing the document. A paragraph
entered following this style will automatically be set to normal (style=Body
Text).]</p>
<p class="InfoBlue">&nbsp;</p>
<p class="InfoBlue">&nbsp;</p>
</div>

<span style="font-size:10.0pt;font-family:&quot;Times New Roman&quot;;"><br clear="all" style="page-break-before:always;">
</span>
<div class="Section2">
<p class="MsoTitle">Revision History</p>

<table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;
 border:none;">
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Date</b></p>
    </td>
    <td width="77" valign="top" style="width:.8in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Version</b></p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Description</b></p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-left:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext" align="center" style="text-align:center"><b>Author</b></p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;dd/mmm/yy&gt;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;x.x&gt;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;details&gt;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&lt;name&gt;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
  <tr>
    <td width="154" valign="top" style="width:1.6in;border:solid windowtext .75pt;
  border-top:none;padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="77" valign="top" style="width:.8in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="250" valign="top" style="width:2.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
    <td width="154" valign="top" style="width:1.6in;border-top:none;border-left:none;
  border-bottom:solid windowtext .75pt;border-right:solid windowtext .75pt;
  padding:0in 5.4pt 0in 5.4pt">
    <p class="Tabletext">&nbsp;</p>
    </td>
  </tr>
</table>
<p class="MsoNormal">&nbsp;</p>
<b><span style="font-size:18.0pt;font-family:Arial;"><br clear="all" style="page-break-before:always">
</span></b>
<p class="MsoTitle">Table of Contents</p>
<p class="MsoToc1"><a href="#1.                  Introduction">1.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.1               Purpose">1.1<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.2               Scope">1.2<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.3               Definitions, Acronyms and Abbreviations">1.3<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms, and Abbreviations</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.4               References">1.4<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc2"><a href="#1.5               Overview">1.5<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#2.                  General Design and Implementation Guidelines">2.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>General Design and Implementation Guidelines</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#3.                  Database Design Guidelines">3.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Database Design Guidelines</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#4.                  Architectural Design Guidelines">4.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Architectural Design Guidelines</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoToc1"><a href="#5.                  Programming Guidelines">5.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Mechanism Guidelines</a></p>
<p class="MsoToc1"><a href="#6.                  UML Stereotypes">6.<span style="font-size:12.0pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>UML Stereotypes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p class="MsoTitle"><br clear="all" style="page-break-before:always">
Design Guidelines</p>
<h1><a name="1.                  Introduction">1.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Introduction</a></h1>
<p class="InfoBlue">[The introduction of the <b>Design Guidelines</b>
provides an overview of the entire document. It includes the purpose,
scope, definitions, acronyms, abbreviations, references, and overview of this <b>Design
Guidelines </b>document.]</p>
<h2><a name="1.1               Purpose">1.1<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Purpose</a></h2>
<p class="MsoNormal" style="margin-left:.5in">The purpose of this document is to
communicate the design standards, conventions, and idioms to be used in the
design of the system.</p>
<p class="InfoBlue">[Enter any additional description of the objectives of the <b>Design
Guidelines</b>.]</p>
<h2><a name="1.2               Scope">1.2<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Scope</a></h2>
<p class="InfoBlue">[A brief description of what the <b>Design Guidelines</b>
applies to; what is affected or influenced by this document.]</p>
<h2><a name="1.3               Definitions, Acronyms and Abbreviations">1.3<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Definitions, Acronyms, and Abbreviations</a></h2>
<p class="InfoBlue">[This subsection provides the definitions of all
terms, acronyms, and abbreviations required to properly interpret the <b>Design
Guidelines</b>.&nbsp; This information may be provided by reference to the
project's Glossary.]</p>
<h2><a name="1.4               References">1.4<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>References</a></h2>
<p class="InfoBlue">[This subsection provides a complete list of all
documents referenced elsewhere in the <b>Design Guidelines</b>.&nbsp; Identify
each
document by title, report number if applicable, date, and
publishing organization.&nbsp; Eventually the section may be structured in
subsections: external documents versus internal documents or government
documents versus non-government documents and so on. Specify the sources from
which the references can be obtained. This information may be provided by
reference to an appendix or to another document.]</p>
<h2><a name="1.5               Overview">1.5<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Overview</a></h2>
<p class="InfoBlue">[This subsection describes what the rest of the <b>Design
Guidelines</b> contains and explains how the document is organized.]</p>
<h1><a name="2.                  General Design and Implementation Guidelines">2.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>General Design and Implementation Guidelines</a></h1>
<p class="InfoBlue">[This section describes the principles and strategies to be
used when designing and implementing the system. In most cases, you will need
strategies for the following:</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Mapping from Design to Implementation</b></p>
<p class="InfoBlue" style="margin-left:.75in">You must specify how the design is
mapped to the implementation; both at the package level and at the class level.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Specifying Interfaces on Subsystems</b></p>
<p class="InfoBlue" style="margin-left:.75in">When you are developing the system
from the top down, it is important to narrow the visible interfaces to the
subsystems. This enables developers to change the parts of a subsystem that are
not visible outside.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Documenting Operations</b></p>
<p class="InfoBlue" style="margin-left:.75in">It is important that you decide on
a standard way of describing operations. An operation consists of the name, the
arguments, a brief description, and an implementation specification. Ask
yourself the following questions when documenting operations.</p>
<p class="InfoBlue" style="margin-left:1.0in;text-indent:-.25in">&#151&nbsp;&nbsp;&nbsp;&nbsp;Will
all (formal) arguments be documented? We suggest they need to be,
although experience shows that they might be difficult to maintain because they
are redundant with the code.</p>
<p class="InfoBlue" style="margin-left:.75in">&#151&nbsp;&nbsp;&nbsp;&nbsp;Will the argument type need to be documented? Generally we suggest it should be.</p>
<p class="InfoBlue" style="margin-left:1.0in;text-indent:-.25in">&#151&nbsp;&nbsp;&nbsp;
Will you use any naming convention for the operations in a class? For example,
in C++ you might choose to prefix private and public operations in different
ways. This makes the operations easier to understand.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Documenting Messages</b></p>
<p class="InfoBlue" style="margin-left:.75in">We suggest you do not
document all actual parameters in the message. It's redundant with the code
and might prove difficult to maintain.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Detecting, Handling, and Reporting Faults</b></p>
<p class="InfoBlue" style="margin-left:.75in">You must have a strategy for fault
management. Your strategy depends to a large degree on the programming
language you have chosen. Many languages feature fault-management support, such
as Ada &quot;exceptions&quot;. The fault-management strategy you choose will
influence behavior in the design objects. For example, you must decide whether
to use status parameters in each operation that tell if the operation has
succeeded or to let the object raise an &quot;exception&quot;, as in Ada.</p>
<p class="InfoBlue" style="margin-left:.75in">If necessary, you can apply
different fault-management strategies to different parts of a system. The
important thing is that you have at least one strategy and, for all possible
strategies, that it is clear when to use them.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Memory Management</b></p>
<p class="InfoBlue" style="margin-left:.75in">Memory management means ensuring
that memory is always available. This implies that you remove objects not
referenced by any other object so that the memory they occupy can be used for
new objects. How you solve this depends on the implementation language. In some
systems it will be automatically solved, for example, by a garbage collector;
but in others you must carry out the memory management yourself in the
programming language. In other words, you will have to define when and how to
clear any memory occupied by unreferenced objects.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Software Distribution</b></p>
<p class="InfoBlue" style="margin-left:.75in">If you have a system that will be
distributed among several physical nodes, its objects must also be distributed
among the nodes. Before design starts, prepare this work by
specifying general strategies for how objects need to be distributed, and how to
use the present inter-process communication technology. If the target
environment is unfamiliar, it might prove useful to prototype solutions.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>How to Represent Reusable Components</b></p>
<p class="InfoBlue" style="margin-left:.75in">Before starting design, you must
decide which reusable components, reusable component systems, libraries or
&quot;Commercial-Off-the-Shelf&quot; (COTS) products to use. You must also
decide if, and how, these need to be modeled in design.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Designing Persistent Classes</b></p>
<p class="InfoBlue" style="margin-left:.75in">Ideally, the database-management
system you choose, whether relational or object-based, should not affect the
design model very much. Persistence needs to be provided by a framework that makes persistence as transparent as possible.</p>
<p class="InfoBlue" style="margin-left:.75in">Most persistence design work
focuses on identifying and resolving performance problems. To make this easier,
do the following:</p>
<p class="InfoBlue" style="margin-left:1.0in;text-indent:-.25in">&#151&nbsp;&nbsp;&nbsp;
Identify the lifecycle of each persistent object: when it will be created, read,
updated, and deleted within Use-Case Realizations.</p>
<p class="InfoBlue" style="margin-left:.75in">&#151&nbsp;&nbsp;&nbsp;&nbsp;
Identify transaction boundaries within Use-Case Realizations.</p>
<p class="InfoBlue" style="margin-left:.75in">There is some iteration between
Database Design and the design of persistent classes: depending on the database,
some associations between design classes are either clumsy to support in the
database, or create such a performance problem that some adaptation of the
Design Model is necessary.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Transaction Management</b></p>
<p class="InfoBlue" style="margin-left:.75in">This section discusses the
strategies used to manage transactions, including how transaction management
will be accomplished. Discuss the interaction of transaction management and Fault
Management, including how the system recovers from
transaction failures or aborted transactions.</p>
<p class="InfoBlue" style="margin-left:.75in">If there are special restrictions
imposed by the transaction management mechanism (such as MTS requiring
&quot;stateless&quot; objects) that affect the architecture of the system, they need to be
discussed here.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Special Use of Language Features</b></p>
<p class="InfoBlue" style="margin-left:.75in">This section describes any
restrictions or policies on the language features used.&nbsp; For example,&nbsp;
you may limit the use of pointers in an embedded real-time system.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Program Structure</b></p>
<p class="InfoBlue" style="margin-left:.75in">This section includes
guidelines for code layout, comments, naming conventions, module&nbsp; packaging,
and interface conventions.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Algorithm Guidelines</b></p>
<p class="InfoBlue" style="margin-left:.75in">This section describes
particular algorithms selected for use in the system by the software architect. The
section also describes the circumstances under which use of the algorithm
is appropriate. This section does not document particular applications of an
algorithm in the system&#151that is the province of the Software Architecture
Document and the Design Model&#151rather it is intended to guide and constrain the
designer's choice.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>Hardware Interfacing</b></p>
<p class="InfoBlue" style="margin-left:.75in">This section describes
guidelines for hardware interfacing, including use of interrupts, memory, type
representation, and so forth.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>System Modification and Build Guidelines</b></p>
<p class="InfoBlue" style="margin-left:.75in">This section describes
guidelines for software modification, special support hardware or software
needed, edit, compile, and integration guidelines, and so on. This section may
also contain configuration and change control guidelines elaborated from the
Configuration Management Plan.</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><b>System Diagnostic Guidelines</b></p>
<p class="InfoBlue" style="margin-left:.75in">This section describes
guidelines for system setup to diagnose problems, based on the fault detection
and management strategy adopted. This section describes how any special diagnostic hardware or software that may be
used, how to invoke traces and profilers, and how to collect diagnostic data.]</p>
<p class="InfoBlue" style="margin-left:.75in;text-indent:-.25in;">&nbsp;</p>
<h1><a name="3.                  Database Design Guidelines">3.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Database Design Guidelines</a></h1>
<p class="InfoBlue">[This section gives rules and recommendations for the
database design. The following topics need to be discussed:</p>
<p class="InfoBlue" style="margin-left:1.0in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Mapping from persistence classes to database structures, including
how to handle potential conflicts such as many-to-many associations in the
design model and inheritance.</p>
<p class="InfoBlue" style="margin-left:1.0in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Mapping of design class attributes to database primitive data
types.</p>
<p class="InfoBlue" style="margin-left:1.0in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Using the Process View to describe the processes and
inter-process communication used by the persistence mechanism.</p>
<p class="InfoBlue" style="margin-left:1.0in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Using the Deployment View to describe the physical distribution
of data across nodes.</p>
<p class="InfoBlue" style="margin-left:1.0in;text-indent:-.25in;"><span style="font-family:Symbol;
font-style:normal">·<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span>Naming conventions for database structures; for example, tables, stored,
stored procedures, triggers, tablespaces, and so forth.]</p>
<h1><a name="4.                  Architectural Design Guidelines">4.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Architectural Design Guidelines</a></h1>
<p class="InfoBlue">[This section gives rules and recommendations for software
architecture design. They are organized around the different architectural
views: Use Case, Logical, Implementation, Process, and Deployment views. The
rules mostly deal with decomposition. For example, the Implementation View
guidelines specify the rules for packaging modules into subsystems, layering
subsystems, and so on. See the<b><i> </i> <span style="font-style:normal"><i>Software
Architecture Document</i></span></b>, the section titled <span style="font-style:normal"><i><b>Analysis
&amp; Design</b></i> <i>in particular</i></span><i>.</i>]</p>
<h1><a name="5.                  Programming Guidelines">5.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Mechanism Guidelines</a></h1>
<p class="InfoBlue">[For each significant mechanism put in place in the
low-level layers of the system, you need to have a programmers' guide that shows
the interface of the mechanism and explains how to use it. These include a
user's guide of the timer mechanism, of the inter-process communication
mechanism, of the recording mechanism, of the database-management system, and so
on.]</p>
<h1><a name="6.                  UML Stereotypes">6.<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>UML Stereotypes</a></h1>
<p class="InfoBlue"><span style="font-family: Times New Roman; mso-fareast-font-family: Times New Roman; mso-bidi-font-family: Times New Roman; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA"><font size="2">[This
section contains or reference specifications of Unified Modeling Language (UML)
stereotypes and their semantic implications&#151;a textual description of the
meaning and significance of the stereotype and any limitations on its
use&#151;stereotypes already known or discovered to be useful for constructing
Design models. The use of these stereotypes may be simply recommended or perhaps
even made mandatory; for example, when their use is required by an imposed
standard, when it is felt that their use makes models significantly easier to
understand, or when it ensures that common types of entities, roles,
relationships, or patterns are uniformly modeled and understood. This section
may be empty if no additional stereotypes, other than those predefined by the
UML and the Rational Unified Process, are considered necessary.]</font></span></p>
<p class="InfoBlue">&nbsp;</p>
</div>

</body>

</html>
